
.header-accionistas{
	background-color: #000;
}
.navbar-horizontal-accionistas {
    background-color: #000 !important;
}

.nav-horizontal-accionistas{ 
	width:84%; 
	text-align:center; 
	margin-top:0%; 
	-webkit-margin-before:0%;
	float: right;
}


/* li general */ 
.nav-horizontal-accionistas__li {
    background-color: #000;
    font-family: 'Gordita-Black';
    font-size: 2rem;
    width: auto;
    margin: 0 2.9%;
}

.nav-horizontal-accionistas_home {
	font-family: 'Gordita-BlackItalic';
    font-size: 3.5rem;
   /* width: 40%;*/
    text-align: left;
}
.nav-horizontal-accionistas_home:after {
    background-color: #E36A00;
    content: "";
    height: 3px;
    width: 63px;
    left: 3%;
    top: 0;
    position: absolute;
}
.nav-horizontal-accionistas > 
.nav-horizontal-accionistas_home > a {
    padding-top: 10px;
    padding-bottom: 40px;
}
/* li a general */ 
.nav-horizontal-accionistas > 
.nav-horizontal-accionistas__li > a {
    padding-top: 30px;
    padding-bottom: 40px;
}
.nav-horizontal-accionistas > 
.nav-horizontal-accionistas__li > a p{ 
	margin: 0;
}

.nav-horizontal-accionistas__li-a { 
	color:#fff
}
.nav-horizontal-accionistas__li-a-active {
	color:#fff;
}

/*  hover - li a active  */
.nav-horizontal-accionistas__li-a:hover,
.nav-horizontal-accionistas__li-a:active,
.nav-horizontal-accionistas__li-a:focus,
.nav-horizontal-accionistas__li-a-active:hover,
.nav-horizontal-accionistas__li-a-active:active,
.nav-horizontal-accionistas__li-a-active:focus{
	color:#fff; 
	
}

/* hover reset  */
.navbar-horizontal 
.nav-horizontal-accionistas > 
.nav-horizontal-accionistas__li > a:hover{
	background-color:#000;
	
}

.nav-horizontal-accionistas_home:hover:after,
.nav-horizontal-accionistas_home:focus:after{
    background-color: #E36A00;
    content: "";
    height: 3px !important;
    width: 63px !important;
    left: 3% !important;
    top: 0 !important;
    position: absolute;
}

/* li hover - li active */ 
.nav-horizontal-accionistas__li:hover:after,
.nav-horizontal-accionistas__li:focus:after,
.nav-horizontal-accionistas__li-active:after{
	content: "";
	background-color: #E36A00;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	position: absolute;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

/* focus reset */
.navbar-horizontal .nav-horizontal-accionistas > a:focus:after{
	content: "";
	background-color: #E36A00;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	position: absolute;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.navbar-horizontal .nav-horizontal-accionistas > a:focus:after{
	content: "";
	background-color: #E36A00;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	position: absolute;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}


/*-------------BODY----------------*/
.body-pa{
	background-color: #000;
	background-image: url("../images/accionistas/bg.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}
.pa-login{	
	height: 100vh;
	padding-top: 90px;
}
.pa-login-fluid{
	padding-left: 250px;
	padding-right: 250px;
}
.pa-close{
	display: block;
	margin-left: auto;
}
.pa-login-div {
    padding-top: 120px;
    padding-left: 90px;
}

.pa-login-h2{
    color: #fff;
    font-family: 'Gordita-BlackItalic';
    font-size: 5rem;   
    margin-bottom: 4%;
    opacity: 1;    
	position: relative;
    text-align: left;  
}
.pa-login-h2:after{
    content: "";
    background-color: #E36A00;
    height: 5px;
    width: 83px;
    left: 0;
    top: -15px;
    position: absolute;
}
.pa-olvidopass{
	color:#fff;
	font-family: 'Gordita-Regular';
	font-size: 1.5rem;	
	margin-bottom: 0;
}
.pa-olvidopass a{
	color:#fff;
}
.pa-recordarme{
	color:#fff;
	font-family: 'Gordita-Regular';
	font-size: 1.5rem;	
}
.img-logo{
    position: fixed;
    right: 8%;
    bottom: 10%;
}


.form-accionistas {
    display: block;
    width: 100%;
    height: 41px;
    padding: 6px 12px;
	font-family: 'Gordita-Bold';
    font-size: 17px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 3px solid #fff;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.colorplace2::-webkit-input-placeholder {
	color: #fff;
}  
.colorplace2:-moz-placeholder {
/* Firefox 18- */ color: #fff;
}  
.colorplace2::-moz-placeholder { 
/* Firefox 19+ */ color: #fff;
}  
.colorplace2:-ms-input-placeholder { 
	color: #fff; 
}
.pa-btn{
	background-color: #E36A00;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 11px 27px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.pa-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.pyb-a:hover{
	color: #fff;
}

.help-block-error{	
	color:#fff;
	font-size:15px;	
}

.messsage-contact{
	text-align: center;
	display:none;	
	margin-top: 3%;	
}

/**/

.portal-section{
	background-color: #000;
}
.portal-section-fluid{
	padding: 0;
}
.portal-section-row{
	margin-bottom: 3%;
}


.portalcaption {
	 position:relative;
}
.portalcaption img {
	 width:100%;
	 height:100%;
}
.portalcaption .hovernews{
	background-image: url("../images/accionistas/caption-newa.png");
	height: 35%;
    left: 15%;
	padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
	top: 159px;
    width: 68%;
}
.portalcaption .hoverfiles{
	background-image: url("../images/accionistas/caption-files.png");
	height: 35%;
    left: 8%;
	padding-left: 4%;
    padding-right: 4%;
    padding-top: 3%;
	top: 159px;
    width: 82%;
}
.portalcaption .hover {
    background-color: transparent;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    color: #fff;   
    opacity: 1;   
    position: absolute;
    transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .2s ease-out;
    text-align: center;   
    z-index: 20;
}
.portalcaption .hover .info {
    position: relative;
    font-family: 'Gordita-BlackItalic';
    font-size: 9rem;
    color: #fff;
	margin-bottom: 4%;
    opacity: 1;
    transition: animation 1s ease .2s,opacity .5s ease-out .3s;
    -webkit-transition: -webkit-animation 1s ease .2s,opacity .5s ease-out .3s;
    -moz-transition: -moz-animation 1s ease .2s,opacity .5s ease-out .3s;
    text-align: center;
    line-height: 110%;
}


.portal-btn{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.portal-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin-bottom: 0;
}
.portal-btn:hover{
	background-color: #fff;
}
.portal-btn:hover .portal-a{
	color: #E36A00;
}

.portal-btn-news{
	position: relative;
	top: 40px;
}
.portal-btn-files{
	position: relative;
	top: 15px;
}

.img-portaldesktop{}
.img-portalmovil{
	display: none;
}


/*------ PAGINADOR ------*/

.paginador-ul{	
	list-style-type: none;	
	margin-top: 8%;
	padding-left: 0;
	text-align: center;
}

.paginador-ul li{
	background-color: #DDDDDD;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2.5rem;	
	padding: 6px 15px;	
}
.paginador-ul li.active{
	background-color: #E36A00;
	color: #fff;
}
.paginador-ul li:hover{
	background-color: #E36A00;
	color: #fff;
}
.paginador-ul li.arrow{
	background-color: #fff;color: #ddd;
}


/* NOTICIAS */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 10px;
}
.noticias-section{
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.noticias-section-fluid{
	padding-left: 150px;
	padding-right: 150px;
}

/*.noticias-section-fig1 {
    position: absolute;
    top: -1px;
    left: -1px;
}

.noticias-section-fig2{
	position: absolute;
	right: -1px;
	bottom: -1px;
}*/
.noticias-section-fig1 {
	background-image: url("../images/accionistas/noticias/fig-01.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
    position: absolute;
	height: 503px;
  	left: -1px;
	top: -1px;
	width: 89px;
}
.noticias-section-fig2{
	background-image: url("../images/accionistas/noticias/fig-02.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
    position: absolute;
	height: 1014px;
  	right: -1px;
	bottom: -1px;
	width: 178px;
}

.noticias-space {
    padding-bottom: 3%;
    border-bottom: 3px solid #8E8E8E;
    margin-top: 3%;
}
.noticias-fecha {
    padding-left: 0;
}
.noticias-dia{
	background-color: #E6E7E8; 
	padding: 5%;
}
.noticias-dia h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 8rem;
	margin: 0;
	text-align: center;
}
.noticias-dia-border{
	 border-radius: 15px 15px 0 0;
}

.noticias-fecha-mt{
	margin-top: 3%
}
.noticias-mes {
    background-color: #E36A00;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 5%;
}
.noticias-mes p{
	color: #fff;
	font-family: 'Gordita-Bold';
	font-size: 2.5rem;
	margin: 0;
	text-align: center;
}
.noticias-des {
    padding: 2% 9% 0 3%;
}

.noticias-des h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 3.5rem;
	margin: 0 0 2%;
}

.noticias-desamp{
	padding: 2% 3%;
}
.noticias-desamp h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 3.5rem;
	margin: 0 0 2%;
}
.noticias-desamp p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.7rem;
	margin: 0 0 2%;
}


.noticias-btn{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.noticias-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.noticias-btn:hover{
	background-color: #fff;
}
.noticias-btn:hover .noticias-a{
	color: #E36A00;
}



.noticias-btn-leer{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.noticias-a-leer{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.noticias-btn-leer:hover{
	background-color: #fff;
}
.noticias-btn-leer:hover .noticias-a-leer{
	color: #E36A00;
}


.noticias-btn-volver{
	background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: block;
	margin-top: 15%;
	padding: 9px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	width: 100%;	
	text-align: center;
}
.noticias-a-volver{	
	color: #E36A00;
	font-family: 'Gordita-Black';
	font-size: 2.2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
}
.noticias-btn-volver:hover{
	background-color: #E36A00;
}
.noticias-btn-volver:hover .noticias-a-volver{
	color: #fff;
}



#sync1 .item{
    background-color:transparent;
    padding: 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
   background-color:transparent;
	 z-index:100;
    padding: 10px;	
    margin: 0px;
    color: rgba(255,255,255,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}


#sync2 .synced .item{
  background: rgba(255,255,255,.3);
   
}

/**/

.docu-space {
    padding-bottom: 3%;   
    margin-top: 3%;
}

.docu-info{
	padding: 2% 3%;
}
.docu-info h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 3rem;
	margin: 0 0 2%;
}
.docu-info h3{
	color: #000;
	font-family: 'Gordita-Bold';
	font-size: 1.7rem;
	margin: 0 0 2%;
}
.docu-info h4{
	color: #000;
	font-family: 'Gordita-Bold';	
	font-size: 1.5rem;
	font-style: italic;
	margin: 0 0 1%;
}
.docu-info p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.8rem;
	margin: 0 0 2%;
}

.docu-info-fecha{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 1.5rem;
	font-style: italic;
	margin: 0 0 4%;
	text-align: center;
}

.docu-btn{
	background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;	
	padding: 9px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 		
	float: right;
}
.docu-a{	
	color: #E36A00;
	display: inline-block;	
	font-family: 'Gordita-Black';
	font-size: 2.2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
}
.docu-btn:hover{
	background-color: #E36A00;
}
.docu-btn:hover .docu-a{
	color: #fff;
}

/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 40px;
		height: auto;
	}
	.pa-close {
		width: 25px;
	}
	.pa-login-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 15px;
	}
	.pa-login-h2{
		font-size: 3rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	.img-logo  {
		bottom: 5%;
		width: 180px;
		display: block;
		margin-left: auto;
		position: fixed;
		right: 5%;
	}
	
	/*NAV*/
		
	.nav-horizontal-accionistas {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal-accionistas__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal-accionistas__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav-horizontal-accionistas_home {		
		font-size: 2rem;
		margin: 0;
		text-align: center;
	}	
	
	.nav-horizontal-accionistas_home > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav-horizontal-accionistas_home::after {
		height: 3px;
		width: 55px;
		left: 17%;
		top: 17px;
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{		
		height: 3px !important;
		width: 55px !important;
		left: 17% !important;
		top: 17px !important;
	}
	
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	.img-portaldesktop{
		display: none;
	}
	.img-portalmovil{
		display: block;
	}

	.portalcaption .hover .info{
		font-size: 3rem;
	}
	.portal-a{
		font-size: 1.5rem;
	}
	.portalcaption .hovernews {
		background-image: url("../images/accionistas/caption-news-movil.png");
		left: 15%;
		height: 37%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 57px;
		width: 70%;		
	}
	.portal-btn{
		padding: 4px 15px;
	}
	.portalcaption .hoverfiles{
		background-image: url("../images/accionistas/caption-files-movil.png");
		left: 5%;
		height: 34%;
		top: 70px;
		width: 90%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 17px;
	}
	.portal-btn-files {
		top: 17px;
	}
	
	/* noticias */
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 7px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-section-fig2 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.4rem;
		margin: 0 0 8%;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.6rem;		
	}
	.docu-space {
		padding-bottom: 8%;
		margin-top: 10%;
		border-bottom: 2px solid #8E8E8E;
	}
	.docu-info h2{
		margin: 6% 0 6%;
	}
	
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 50px;
		height: auto;
	}
	
	.pa-login-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 15px;
	}
	.pa-login-h2{
		font-size: 3.5rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	
	.img-logo  {
		bottom: 5%;
		width: 180px;
		display: block;
		margin-left: auto;
		position: fixed;
		right: 5%;
	}
	
	/*NAV*/
		
	.nav-horizontal-accionistas {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal-accionistas__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal-accionistas__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav-horizontal-accionistas_home {		
		font-size: 2rem;
		margin: 0;
		text-align: center;
	}	
	
	.nav-horizontal-accionistas_home > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav-horizontal-accionistas_home::after {
		height: 3px;
		width: 55px;
		left: 17%;
		top: 17px;
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{		
		height: 3px !important;
		width: 55px !important;
		left: 17% !important;
		top: 17px !important;
	}
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	.img-portaldesktop{
		display: none;
	}
	.img-portalmovil{
		display: block;
	}

	.portalcaption .hover .info{
		font-size: 3rem;
	}
	.portal-a{
		font-size: 1.5rem;
	}
	.portalcaption .hovernews {
		background-image: url("../images/accionistas/caption-news-movil.png");
		left: 15%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 98px;
		width: 70%;
		height: 27%;
	}
	
	.portalcaption .hoverfiles{
		background-image: url("../images/accionistas/caption-files-movil.png");
		left: 5%;
		height: 27%;
		top: 111px;
		width: 90%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 17px;
	}
	.portal-btn-files {
		top: 17px;
	}
	
	/* noticias */
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-section-fig2 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.4rem;
		margin: 0% 0 6%;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.6rem;
	}
	.docu-space {
		padding-bottom: 5%;
		margin-top: 10%;
	}
	.docu-space {
		padding-bottom: 8%;
		margin-top: 10%;
		border-bottom: 2px solid #8E8E8E;
	}
	.docu-info h2{
		margin: 6% 0 6%;
	}
	
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 50px;
		height: auto;
	}
	
	.pa-login-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 15px;
	}
	.pa-login-h2{
		font-size: 3.5rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	.img-logo {
		bottom: 5%;
		width: 180px;
	}
	
	/*NAV*/
		
	.nav-horizontal-accionistas {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal-accionistas__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal-accionistas__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav-horizontal-accionistas_home {		
		font-size: 2rem;
		margin: 0;
		text-align: center;
	}	
	
	.nav-horizontal-accionistas_home > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav-horizontal-accionistas_home::after {
		height: 3px;
		width: 55px;
		left: 23%;
		top: 17px;
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{		
		height: 3px !important;
		width: 55px !important;
		left: 23% !important;
		top: 17px !important;
	}
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 3rem;
	}
	.portal-a{
		font-size: 1.5rem;
	}
	.portalcaption .hovernews {
		left: 15%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 29px;
		width: 70%;
	}
	
	.portalcaption .hoverfiles{
		left: 5%;
		top: 28px;
		width: 90%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 17px;
	}
	.portal-btn-files {
		top: 10px;
	}
	
	/* noticias */
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-section-fig2 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.4rem;
		margin: 0% 0 6%;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.6rem;
	}
	
	.docu-space {
		padding-bottom: 8%;
		margin-top: 10%;
		border-bottom: 2px solid #8E8E8E;
	}
	.docu-info h2{
		margin: 6% 0 6%;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 50px;
	}
	
	.pa-login-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 15px;
	}
	.pa-login-h2{
		font-size: 3.5rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	.img-logo {
		bottom: 5%;
		width: 180px;
	}
	
	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 100%;
		float: left;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;	
	}
		
	.nav-horizontal-accionistas__li {
		font-family: 'Gordita-Bold';
		font-size: 1.3rem;
		margin: 0 0.6%;
		width: 100%;
	}
	
	.nav-horizontal-accionistas_home {
		font-family: 'Gordita-BlackItalic';
		font-size: 2rem;
		text-align: center;
		margin: 0;
	}	
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 40px;
		left: 30%;
		top: 19px;	
	}
		
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{		
		height: 2px !important;
		width: 40px !important;
		left: 30% !important;
		top: 19px !important;
	}
	
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 4rem;
	}
	.portal-a{
		font-size: 1.3rem;
	}
	.portalcaption .hovernews {
		left: 15%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 59px;
		width: 70%;
	}
	
	.portalcaption .hoverfiles{
		left: 5%;
		top: 68px;
		width: 90%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 17px;
	}
	.portal-btn-files {
		top: 10px;
	}
	
	/* noticias */
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
		
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-section-fig2 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 40%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.4rem;
		margin: 0% 0 6%;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.6rem;
	}
	.docu-space {
		padding-bottom: 5%;
		margin-top: 6%;
		border-bottom: 2px solid #8E8E8E;
	}
	.docu-info h2{
		margin: 3% 0 4%;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 50px;
	}
	
	.pa-login-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 15px;
	}
	.pa-login-h2{
		font-size: 3.5rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	.img-logo {
		bottom: 5%;
		width: 180px;
	}
	
	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 100%;
		float: left;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;	
	}
		
	.nav-horizontal-accionistas__li {
		font-family: 'Gordita-Bold';
		font-size: 1.3rem;
		margin: 0 0.6%;
		width: 100%;
	}
	
	.nav-horizontal-accionistas_home {
		font-family: 'Gordita-BlackItalic';
		font-size: 2rem;
		text-align: center;
		margin: 0;
	}	
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 40px;
		left: 30%;
		top: 19px;	
	}
	
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{		
		height: 2px !important;
		width: 40px !important;
		left: 30% !important;
		top: 19px !important;
	}
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 4rem;
	}
	.portal-a{
		font-size: 1.3rem;
	}
	.portalcaption .hovernews {
		left: 15%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 59px;
		width: 70%;
	}
	
	.portalcaption .hoverfiles{
		left: 5%;
		top: 68px;
		width: 90%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 17px;
	}
	.portal-btn-files {
		top: 10px;
	}
	
	/* noticias */
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
		
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-section-fig2 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 40%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.4rem;
		margin: 0% 0 6%;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.6rem;
	}
	.docu-space {
		padding-bottom: 5%;
		margin-top: 6%;
		border-bottom: 2px solid #8E8E8E;
	}
	.docu-info h2{
		margin: 3% 0 4%;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 50px;
	}
	
	.pa-login-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 15px;
	}
	.pa-login-h2{
		font-size: 3.5rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	.img-logo {
		bottom: 5%;
		width: 180px;
	}
	
	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 73%;
	}
		
	.nav-horizontal-accionistas__li {
		font-family: 'Gordita-Bold';
		font-size: 1.1rem;
		margin: 0.7%;
	}
	
	.nav-horizontal-accionistas_home {
		font-family: 'Gordita-BlackItalic';
		font-size: 2.5rem;
		/*width: 56%;*/
		margin: 0;
	}	
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 40px;		
		top: 19px;	
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{
		height: 2px !important;
		width: 40px !important;
		top: 19px !important;
	}
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 5rem;
	}
	.portal-a{
		font-size: 1.3rem;
	}
	.portalcaption .hovernews {
		left: 15%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 85px;
		width: 70%;
	}
	
	.portalcaption .hoverfiles{
		left: 5%;
		top: 90px;
		width: 90%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 17px;
	}
	.portal-btn-files {
		top: 10px;
	}
	
	/* noticias */
	
	.noticias-section-fig1{
		display: none;
	}
	.noticias-section-fig2 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	.noticias-desamp p{
		font-size: 1.5rem;
	}
	.noticias-mes p{
		font-size: 2.2rem;
	}
	.noticias-dia h2{
		font-size: 7rem;
	}
	.noticias-section-fig2 {		
		width: 7%;
	}
	.noticias-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.noticias-a-volver{
		font-size: 2rem;			
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.4rem;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.6rem;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 50px;
	}
	
	.pa-login-fluid {
		padding-left: 200px;
		padding-right: 120px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 30px;
	}
	.pa-login-h2{
		font-size: 3.5rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	.img-logo {
		width: 180px;
	}
	
	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 76%;
	}
		
	.nav-horizontal-accionistas__li {
		font-size: 1.4rem;
		margin: 0 1.2%;
	}
	
	.nav-horizontal-accionistas_home {
		font-size: 2.8rem;
		/*width: 56%;*/
		margin: 0;
	}	
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 40px;		
		top: 19px;	
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{
		height: 2px !important;
		width: 40px !important;
		top: 19px !important;
	}
	
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 6rem;
	}
	.portal-a{
		font-size: 1.5rem;
	}
	.portalcaption .hovernews {		
		left: 17%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 110px;
		width: 63%;
	}
	
	.portalcaption .hoverfiles{
		top: 105px;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 26px;
	}
	
	/* noticias */
	
	.noticias-section-fig1{
		
	}
	.noticias-section-fig2 {
		width: 100px;
	}
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	.noticias-desamp p{
		font-size: 1.5rem;
	}
	.noticias-mes p{
		font-size: 2.2rem;
	}
	.noticias-dia h2{
		font-size: 7rem;
	}
	.noticias-section-fig2 {		
		width: 7%;
	}
	.noticias-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.noticias-a-volver{
		font-size: 2rem;			
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.6rem;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	/* LOGIN */
	
	.pa-login {
		padding-top: 50px;
	}
	
	.pa-login-fluid {
		padding-left: 200px;
		padding-right: 120px;
	}
	.pa-login-div {
		padding-top: 50px;
		padding-left: 30px;
	}
	.pa-login-h2{
		font-size: 3.5rem;
	}
	
	.pa-login-h2::after{
		width: 60px;
	}
	.pa-btn{
		padding: 5px 20px;
	}
	.pa-a{
		font-size: 1.5rem;
	}
	.pa-olvidopass {
		font-size: 1.3rem;
	}
	.pa-recordarme {
		font-size: 1.3rem;
	}
	.img-logo {
		width: 180px;
	}

	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 76%;
	}
		
	.nav-horizontal-accionistas__li {
		font-size: 1.5rem;
		margin: 0 2%;
	}
	
	.nav-horizontal-accionistas_home {
		font-size: 3rem;
		/*width: 56%;*/
		margin: 0;
	}	
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 55px;		
		top: 14px;	
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{
		height: 2px !important;
		width: 55px !important;
		top: 14px !important;
	}
	
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 6.5rem;
	}
	.portal-a{
		font-size: 1.5rem;
	}
	.portalcaption .hovernews {		
		left: 17%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 110px;
		width: 63%;
	}
	
	.portalcaption .hoverfiles{
		top: 105px;
		width: 85%;
		left: 6%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 26px;
	}
	
	/* NOTICIAS */
	
	.noticias-section-fig2{
		width: 130px;
	}
	
	.noticias-section-fig1{
		
	}
	
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	.noticias-desamp p{
		font-size: 1.5rem;
	}
	.noticias-mes p{
		font-size: 2.2rem;
	}
	.noticias-dia h2{
		font-size: 7rem;
	}
	.noticias-section-fig2 {		
		width: 10%;
	}
	.noticias-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.noticias-a-volver{
		font-size: 2rem;			
	}
	

	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.6rem;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	/* LOGIN */
	
	.pa-login-fluid {
		padding-left: 200px;
		padding-right: 120px;
	}
	.pa-login-div {
		padding-top: 70px;
		padding-left: 70px;
	}
	.pa-login-h2{
		font-size: 4rem;
	}
	
	.pa-login-h2::after{
		width: 70px;
	}
	
	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 76%;
	}
		
	.nav-horizontal-accionistas__li {
		font-size: 1.6rem;
		margin: 0 2.1%;
	}
	
	.nav-horizontal-accionistas_home {
		font-size: 3rem;
		/*width: 52%;*/
		margin: 0;
	}	
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 55px;		
		top: 14px;	
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{
		height: 2px !important;
		width: 55px !important;
		top: 14px !important;
	}
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 7rem;
	}
	.portal-a{
		font-size: 1.7rem;
	}
	.portalcaption .hovernews {		
		left: 17%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 110px;
		width: 63%;
	}
	
	.portalcaption .hoverfiles{
		top: 105px;
		width: 85%;
		left: 6%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 26px;
	}
	
	/* NOTICIAS */
	
	.noticias-section-fig2{
		width: 140px;
	}
	.noticias-section-fig1{
		
	}
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	
	/* docuemntos de interes */
	.docu-info p{
		font-size: 1.6rem;
	}
	.docu-btn{
		padding: 7px 12px;
	}
	.docu-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	/* LOGIN */
	
	.pa-login-div {
		padding-top: 70px;
		padding-left: 70px;
	}
	.pa-login-h2{
		font-size: 4.5rem;
	}
	
	.pa-login-h2::after{
		width: 75px;
	}
	
	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 76%;
	}
		
	.nav-horizontal-accionistas__li {
		font-size: 1.8rem;
		margin: 0 2.7%;
	}
	
	.nav-horizontal-accionistas_home {
		font-size: 3rem;
		/*width: 43%;*/
	}	
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 55px;		
		top: 14px;	
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{
		height: 2px !important;
		width: 55px !important;
		top: 14px !important;
	}
	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 7.5rem;
	}
	.portal-a{
		font-size: 1.8rem;
	}
	
	.portalcaption .hovernews {		
		left: 17%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 132px;
		width: 63%;
	}
	
	.portalcaption .hoverfiles{
		top: 138px;
		width: 85%;
		left: 6%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 32px;
	}
	
	/* noticias */
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	
	
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	/*NAV*/
	
	.nav-horizontal-accionistas {
		width: 76%;
	}
		
	.nav-horizontal-accionistas__li{
		font-size: 1.8rem;
		margin: 0 2.7%;
	}
	
	.nav-horizontal-accionistas_home {
		font-size: 3rem;
		/*width: 43%;*/
	}	
		
	.nav-horizontal-accionistas_home::after {		
		height: 2px;
		width: 55px;		
		top: 14px;	
	}
	.nav-horizontal-accionistas_home:hover:after,
	.nav-horizontal-accionistas_home:focus:after{
		height: 2px !important;
		width: 55px !important;
		top: 14px !important;
	}

	/* ÚLTIMAS NOTICIAS - DOCUMENTOS DE INTERES  */
	
	.portalcaption .hover .info{
		font-size: 7.5rem;
	}
	
	.portalcaption .hovernews {		
		left: 17%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
		top: 132px;
		width: 63%;
	}
	
	.portalcaption .hoverfiles{
		top: 138px;
		width: 85%;
		left: 6%;
	}
	
	.portal-section-row {
		margin-bottom: 2%;
	}
	.portal-btn-news {
		top: 32px;
	}
	
	/* noticias */
	
	.noticias-desamp h2{
		font-size: 3.2rem;
	}
	.noticias-des h2 {
		font-size: 3.2rem;
	}
	
	
	
}

