@charset "utf-8";
/* CSS Document */



/*SERVIICOS HOME*/
.cobertura-fluid{
	padding-left: 180px;
	padding-right: 180px;
}

.cobertura-section{
	background-color: #fff;
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.cobertura-section-fig{
	position: absolute;
	bottom: 0;
	right: 0;
}
.cobertura-section-h2 {
    color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 3rem;
    text-align: left;
    margin-bottom: 2%;
	position: relative;
}
.cobertura-section-h2:after{
    content: "";
    background-color: #E36A00;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}


.directorio-div{}
.directorio-div img {
    margin-bottom: 6%;
    margin-top: 10%;
}
.directorio-div h2 {
    color: #000;
    font-family: 'Gordita-Bold';
    font-size: 3.2rem;
    text-align: left;
    position: relative;
    padding-bottom: 5%;
}
.directorio-div h2.borde1:after {
    content: "";
    background-color: #8E3A1E;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 5px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.directorio-div h2.borde2:after {
    content: "";
    background-color: #6D6E70;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 5px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.directorio-div h2.borde3:after {
    content: "";
    background-color: #203346;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 5px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.directorio-div h3{
	color: #fff;
    font-family: 'Gordita-Bold';
    font-size: 2.2rem;
    text-align: left;
	position: relative;
}

.directorio-div ul{
	list-style-type: none;
	padding-left: 0;
}
.directorio-div ul li{
	color: #000;
    font-family: 'Gordita-Regular';
    font-size: 1.7rem;
    text-align: left;
}
.directorio-div ul li.contactar{
	font-family: 'Gordita-BlackItalic';
	margin-bottom: 2%;
	margin-top: 2%;
}
.directorio-div ul li a{
	color: #000;
}
.directorio-recepcion {
    margin-bottom: 5%;
}
.directorio-compras{
	margin-bottom: 5%;
}
.directorio-tesoreria{}

.directorio-talh{}

.directorio-compras-btn{
	background-color: #B83628;
    border: 2px solid #B83628;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-compras-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}

.directorio-tesoreria-btn{
	background-color: #B96029;
    border: 2px solid #B96029;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-tesoreria-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}


.directorio-contabilidad-btn{
	background-color: #E56B27;
    border: 2px solid #E56B27;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-contabilidad-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}


.directorio-dirope-btn{
	background-color: #6A3818;
    border: 2px solid #6A3818;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-dirope-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}

.directorio-diradmon-btn{
	background-color: #F39026;
    border: 2px solid #F39026;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-diradmon-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}

.directorio-talh-btn{
	background-color: #96421E;
    border: 2px solid #96421E;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-talh-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-tel-dektop{}
.directorio-tel-movil{
	display: none;
}

/*------RESPONSIVE----*/

@media screen and (min-width:320px) and (max-width:479px){
	
	.cobertura-section{
		padding-top: 50px;
	}
	.cobertura-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.cobertura-section-h2{
		font-size: 2.5rem;
	}
	
	.directorio-div {
		padding: 0;
	}
	.directorio-div h3{
		font-size: 1.8rem;
	}
	.directorio-div ul li{
		font-size: 1.4rem;
	}	
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}	
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.cobertura-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.directorio-div h3{
		font-size: 1.8rem;
	}
		
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.cobertura-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.cobertura-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.cobertura-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}	
	
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.cobertura-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.directorio-div h2{
		font-size: 2.6rem;
	}
	.directorio-div h3{
		font-size: 1.5rem;
	}
	.directorio-div ul li{
		font-size: 1.2rem;
	}
	
	.directorio-compras-btn{
		padding: 4px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 4px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 4px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 4px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 4px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 4px 20px 10px;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.cobertura-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.directorio-div h2{
		font-size: 2.6rem;
	}
	.directorio-div h3{
		font-size: 1.5rem;
	}
	.directorio-div ul li{
		font-size: 1.2rem;
	}
	
	.directorio-compras-btn{
		padding: 4px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 4px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 4px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 4px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 4px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 4px 20px 10px;
	}
	
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
		
	.cobertura-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.directorio-div h2{
		font-size: 2.8rem;
	}
	.directorio-div h3{
		font-size: 1.7rem;
	}
	.directorio-div ul li{
		font-size: 1.3rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	
	.cobertura-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
	.directorio-div h2{
		font-size: 2.8rem;
	}
	.directorio-div h3{
		font-size: 1.8rem;
	}
	.directorio-div ul li{
		font-size: 1.4rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.cobertura-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
	.directorio-div h2{
		font-size: 3rem;
	}
	.directorio-div h3{
		font-size: 2rem;
	}
	.directorio-div ul li{
		font-size: 1.6rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.cobertura-fluid {
		padding-left: 140px;
		padding-right: 140px;
	}
	
	.directorio-div h3{
		font-size: 2rem;
	}
	.directorio-div ul li{
		font-size: 1.6rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
}


