@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.contacto-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}

.campos-obligatorios{
	color: #000;
	font-family: 'Gordita-Medium';
	font-size: 2rem;
}
.campos-obligatorios span{
	color: red;
}
.campos-obligatorios-p{
	color: red;
	font-family: 'Gordita-Regular';
	font-style: italic;
	font-size: 1rem;
	text-align: left;
}


/**/


.contacto-section{
	background-color: #fff;
	padding-bottom: 190px;
	padding-top: 40px;
	position: relative;
}
.contacto-fig{
	background-image: url("../images/contacto/fig.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0px;
	position: absolute;
	height: 1013px;
	right: 0;	
	width: 177px;
}

.contacto-info {
    padding-left: 8%;
    padding-right: 4%;
}
.contacto-form {
   
}

.contacto-h2 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 6rem;
    text-align: right;
    margin-bottom: 4%;
    margin-top: 7%;
}
.form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
	font-family: 'Gordita-Medium';
    font-size: 18px;
    line-height: 1.42857143;
    color: #787376;
    background-color: #fff;
    background-image: none;
    border: 3px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.colorplace::-webkit-input-placeholder {
color: #787376;
}  
.colorplace:-moz-placeholder {
/* Firefox 18- */ color: #787376;
}  
.colorplace::-moz-placeholder { 
/* Firefox 19+ */ color: #787376;
}  
.colorplace:-ms-input-placeholder { 
color: #787376; 
}



.contacto-btn{
	background-color: #E36A00;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 11px 27px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.contacto-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.contacto-a:hover{
	color: #fff;
}

/*----- select -----*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
.bootstrap-select > .dropdown-toggle{
    color: #787376;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 0px;
    font-family: 'Gordita-Medium';
    font-size: 18px;
    height: 47px;
    padding: 6px 14px;
	width: 100%;
	z-index: 1;
}



/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 7px;
	}
	.contacto-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	.contacto-section{
		padding-top: 30px;
	}
	.contacto-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.contacto-title {
		padding-left: 5%;
		padding-bottom: 0;
	}
	
	.contacto-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 7%;
	}
	
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.contacto-title {
		padding-left: 4%;
		padding-bottom: 0;
	}
	
	.contacto-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 6%;
	}
	
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.contacto-title {
		padding-left: 5%;
		padding-bottom: 0;
	}
	
	.contacto-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.contacto-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	
	.contacto-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.contacto-fig {
		display: none;
	}
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.contacto-fig {
		width: 10%;
	}
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.contacto-fig {
		width: 10%;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){}

@media screen and (min-width:1600px) and (max-width:1679px){}

@media screen and (min-width:1680px) and (max-width:1919px){}

