@charset "utf-8";
/* CSS Document */


.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.documentos-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/

.documentos-section{	
	padding-bottom: 90px;
	padding-top: 0px;
	position: relative;
}
.documentos-fig {
    background-image: url("../images/documentos/fig.png");
	background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    height: 287px;
    top: -1px;
    width: 64px;
    z-index: 1;
    
}
.documentos-fluid {
    padding-left: 220px;
    padding-right: 220px;
}

.documentos-bg1{
	background-color: #E6E7E8;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.documentos-bg2{
	background-color: #fff;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.documentos-btn-div {
    padding-top: 2%;
	text-align: center;
}
.documentos-info{
	position: relative;
}

.documentos-info a{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 2.5rem;
	line-height: 110%;
	position: relative;
	text-transform: uppercase;
}
.documentos-info a:after {
    background-color: #E36B26;
    content: "";
    left: 0;
    top: -18px;
    width: 45px;
    height: 5px;
    position: absolute;
}
.documentos-info-pd1 {
    padding: 2%;
}
.documentos-info-pd2 {
    padding: 2%;
}

.documentos-border-bt{
	position: relative;
}

.documentos-border-top{
	position: relative;
}


.documentos-btn{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin: auto;
}
.documentos-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.documentos-btn:hover{
	background-color: #fff;
}
.documentos-btn:hover .documentos-a{
	color: #E36A00;
}
.documentos-div h3 {
    color: #fff;
    font-family: 'Gordita-Bold';
    font-size: 1.8rem;
    text-align: left;
    position: relative;
    border-radius: 7px;
    display: block;
    padding: 10px 20px 10px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
    float: right;
    margin-right: 13%;
    margin-top: 4%;
}
.documentos-firmac-btn {
    background-color: #8F380D;
    border: 2px solid #8F380D;   
}
.documentos-friofirmac-btn {
    background-color: #727376;
    border: 2px solid #727376;   
}
.documentos-firmaczf-btn {
    background-color: #213347;
    border: 2px solid #213347;   
}
.documentos-firmac-span {
    color: #fff;
    display: inline-block;
    font-family: 'Gordita-Bold';
    text-align: left;
    transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.img-documentos-logo{
	display: inline-block;
}
.panel-heading{
	position: relative;
}
.panel-heading {
	padding: 50px 90px;
}

.panel-default > .panel-heading-frimac {
    color: #333;
    background-color: #fff;
    border: none;
	border-bottom: 13px solid #8F380D;
}

.panel-default > .panel-heading-friofrimac {
    color: #333;
    background-color: #fff;
    border: none;
	border-bottom: 13px solid #727376;
}


.panel-default > .panel-heading-frimaczf {
    color: #333;
    background-color: #fff;
    border-color: #fff;
	border-bottom: 13px solid #213347;
}

.panel-group .panel + .panel {
    margin-top: -1px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-default {
    border-color: #fff;
}
.panel-body {
    padding: 0;
}


/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.title{
		letter-spacing: 7px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px 0px;
	}
	.documentos-a{
		font-size: 1.4rem;
	}
	.img-documentos-logo {
		width: auto;
		display: block;
		margin: auto;
	}
	.documentos-div h3 {
		font-size: 1.4rem;
		margin-right: 0%;
		margin-top: 4%;
		padding: 6px 12px 2px;
		float: none;
		text-align: center;
		width: 80%;
		margin: auto;
	}
	.documentos-fig {
		height: 212px;
		top: -2px;
		width: 58px;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.panel-heading {
		padding: 30px 20px;
	}
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	.img-documentos-logo {
		width: 170px;
	}
	.documentos-div h3 {
		font-size: 1.1rem;
		margin-right: 0%;
		margin-top: 4%;
		padding: 6px 12px;
	}
	.documentos-fig {
		height: 160px;
		top: -2px;
		width: 37px;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.panel-heading {
		padding: 30px 20px;
	}
	
	
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	.img-documentos-logo {
		width: 200px;
	}
	.documentos-div h3 {
		font-size: 1.2rem;
		margin-right: 2%;
		margin-top: 5%;
		padding: 8px 15px;
	}
	.documentos-fig {
		height: 160px;
		top: -2px;
		width: 37px;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.panel-heading {
		padding: 30px 40px;
	}
	
	
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3 {
		font-size: 1.4rem;
		margin-right: 6%;
		margin-top: 8%;
	}
	.documentos-fig {
		height: 211px;
		top: -2px;
		width: 47px;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.panel-heading {
		padding: 30px 40px;
	}
	
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3 {
		font-size: 1.4rem;
		margin-right: 6%;
		margin-top: 8%;
	}
	.documentos-fig {
		height: 211px;
		top: -2px;
		width: 47px;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.panel-heading {
		padding: 30px 40px;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.documentos-fluid {
		padding-left: 80px;
		padding-right:80px;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3 {
		font-size: 1.6rem;
		margin-right: 6%;
	}
	.documentos-fig {
		height: 211px;
		top: -2px;
		width: 47px;
	}
	.documentos-info a {		
		font-size: 2rem;
	}
	
	.documentos-a{
		font-size: 1.6rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.panel-heading {
		padding: 30px 70px;
	}
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.documentos-fluid {
		padding-left: 120px;
		padding-right: 120px;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3 {
		font-size: 1.6rem;
		margin-right: 6%;
	}
	.documentos-fig {	
		height: 255px;
		top: -2px;
		width: 62px;		
	}
	.documentos-info a {		
		font-size: 2rem;
	}
	
	.documentos-a{
		font-size: 1.6rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.documentos-fluid {
		padding-left: 140px;
		padding-right: 140px;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3 {
		font-size: 1.6rem;
		margin-right: 6%;
	}
	.documentos-fig {	
		height: 255px;
		top: -2px;
		width: 62px;		
	}
	.documentos-info a {		
		font-size: 2rem;
	}
	
	.documentos-a{
		font-size: 1.6rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.documentos-fluid {
		padding-left: 170px;
		padding-right: 170px;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3 {
		font-size: 1.6rem;
		margin-right: 6%;
	}
	.documentos-fig {	
		height: 255px;
		top: -2px;
		width: 62px;		
	}
	.documentos-info a {		
		font-size: 2rem;
	}
	
	.documentos-a{
		font-size: 1.6rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	
	.documentos-fluid {
		padding-left: 170px;
		padding-right: 170px;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3 {
		font-size: 1.7rem;
		margin-right: 6%;
	}
	.documentos-fig {	
		height: 255px;
		top: -2px;
		width: 62px;		
	}
	.documentos-info a {		
		font-size: 2.2rem;
	}
	
	.documentos-a{
		font-size: 1.7rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.documentos-fluid {
		padding-left: 170px;
		padding-right: 170px;
	}
	.img-documentos-logo {
		width: 333px;
	}
	.documentos-div h3{
		font-size: 1.7rem;
	}
	.documentos-fig {	
		height: 255px;
		top: -2px;
		width: 62px;		
	}
	.documentos-info a {		
		font-size: 2.2rem;
	}
	
	.documentos-a{
		font-size: 1.7rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	
	
}
