@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}
.nostros-section{
	padding-top: 90px;
}
.nosotros-title{
	padding-left: 11%;
}
.nosotros-h2{
	color: #000;
	font-family: 'Gordita-BlackItalic';
	font-size: 3.5rem;
	margin: 0 0 5% 0;
	position: relative;
}
.nosotros-h2:after{
    content: "";
    background-color: #E36A00;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}


.nosotros-p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.8rem;
}
.nosotros-p span.span-h3{
	color: #000;
	font-family: 'Gordita-Bold';
	font-style: italic;
	font-size: 2.3rem;
}
.nosotros-p span.bolditalic{
	font-family: 'Gordita-Bold';
	font-style: italic;
}


.quienesomos-info{
    padding: 4% 5% 2% 11%;
}
.quienesomos-img{
	padding: 0;
}

.mision-movil{
	display: none;
}
.mision-desktop{}

.mision-info{
	position: relative;
	padding: 9% 12% 8% 7%;
}
.mision-info-figimg{
	background-image: url("../images/nosotros/figmision.png");
	bottom: -26px;
	height: 611px;
	position: absolute;
	right: 0;
	width: 108px;	
}

.mision-img{
	padding: 0;
}

.vision-info{
	 padding: 4% 5% 2% 11%;
}
.vision-img{
	padding: 0;
}

.overflow{ 
	overflow-y:auto;
}
.overflow-a{
	height: 400px;
}

/**/

.gobierno-title{
	padding-bottom: 30px;
	padding-top: 50px;
}
.gobierno-section{
	background-color: #E6E7E8;
	position: relative;
}
.gobierno-info{
	 padding: 4% 5% 2% 11%;
}
.gobierno-h2{
	color: #000;
	font-family: 'Gordita-BlackItalic';
	font-size: 3.5rem;
	margin: 0 0 5% 0;
	position: relative;
}
.gobierno-h2:after{
    content: "";
    background-color: #E36A00;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}

.gobierno-p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.8rem;
}
.gobierno-fig{
	background-image: url("../images/gobierno/fig-01.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 413px;
	left: 0;
	position: absolute;
	top: -1px;
	width: 73px;
}

.directrices{
	background-color: #fff;
	padding-bottom: 120px;
	padding-top:70px;
	position: relative;
}
.directrices-h2{
	color: #000;
	font-family: 'Gordita-BlackItalic';
	font-size: 3.5rem;
	margin: 0 0 5% 0;
	padding-left: 11%;
	position: relative;
}
.directrices-fig{
	background-image: url("../images/gobierno/fig-02.png");
	bottom: -26px;
	height: 1014px;
	position: absolute;
	right: 0;	
	width: 178px;
}


/**/


.valores-section{
	background-color: #E6E7E8;
	padding-bottom: 90px;
	padding-top: 40px;
	position: relative;
}
.valores-fig{
	background-image: url("../images/valores/fig.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	height: 1113px;
	top: -1px;
	width: 196px;
}
.valores-fluid {
    padding-left: 220px;
    padding-right: 220px;
}
.valores-div {
    background-color: #fff;
    border-radius: 30px;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 3%;
    height: 480px;
}
.valores-div-space{
	margin-left: 16%;
}
.valores-div img{}
.valores-div h3 {
    color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 7%;
}
.valores-div p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.6rem;
	text-align: center;
}


/***/
.fluid-historia{
	padding: 0;
}
.historia-div{
	text-align: center;
	width: 39%;
	padding-right: 2%;
}

.historiacaption {
	position:relative;
	width: 61%;
}
.historiacaption img {
	 width:100%;
	 height:100%;
}

.historiacaption .fecha1993{
	padding-top:20%;
}
.historiacaption .fecha2003{
	padding-top:20%;
}
.historiacaption .fecha2006 {
    padding-top: 22%;
}
.historiacaption .fecha2007 {
    padding-top: 19%;
}
.historiacaption .fecha2008 {
    padding-top: 20%;
}
.historiacaption .fecha2009 {
    padding-top: 22%;
}
.historiacaption .fecha2011 {
    padding-top: 16%;
}
.historiacaption .fecha2012 {
    padding-top: 16%;
}
.historiacaption .fecha2014 {
    padding-top: 17%;
}
.historiacaption .fecha2016 {
    padding-top: 20%;
}

.historiacaption .fecha2017 {
    padding-top: 22%;
}
.historiacaption .fecha2019 {
    padding-top: 22%;
}
.historiacaption .fecha2020 {
    padding-top: 20%;
}

.historiacaption .hover {
	background-color:transparent;	
	box-sizing:border-box;
	color:#fff;	
	height:100%;	
	left:0%;	
	opacity:1;
	padding-left: 8%;
	padding-right: 6%;
	position:absolute;	
	transition:opacity .5s ease-out;
	-webkit-transition:opacity .5s ease-out;
	-moz-transition:opacity .2s ease-out;
	text-align: right;
	top:0;
	width:100%;
	z-index:20;
}
.historiacaption .hover .info {
    position: relative;
   font-family: 'Gordita-Bold';
	font-style: italic;
    font-size: 3rem;
    color: #fff;
	margin-bottom: 4%;
    opacity: 1;
    transition: animation 1s ease .2s,opacity .5s ease-out .3s;
    -webkit-transition: -webkit-animation 1s ease .2s,opacity .5s ease-out .3s;
    -moz-transition: -moz-animation 1s ease .2s,opacity .5s ease-out .3s;
    text-align: center;
    line-height: 110%;
}

.historia-fecha{
	color:#000;
	font-family: 'Gordita-BlackItalic';
	font-size: 18rem;
	text-align: right;
	margin-top: 16%;
	position: relative;
}
.historia-fecha:after{
    content: "";
    background-color: #E36A00;
    height: 7px;
    width: 130px;
    right: 2%;
    bottom: 0px;
    position: absolute;
}
.historia-rangofecha{
	background-color: #000;
    border: 2px solid #000;
    border-radius: 0px;
	display: inline-block;
	 padding: 15px 25px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.historia-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 3.5rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin-bottom: 0;
}
.historia-div-right{
	padding-right: 12%;
}

.historia-owl-l{
	position: absolute;
	left: 4%;
	z-index: 99;
}
.historia-owl-r{
	position: absolute;
	right: -1%;
	z-index: 99;
}

/*Estilos flechas carrusel*/
.owl-1999-arrows{ 
	position:relative; 
	top:250px;
}

.owl-1999-arrows .prev, 
.owl-1999-arrows .next{
	background-repeat:no-repeat; 
	background-color:transparent;  
	border:none; 
	width: 26px; 
	height: 41px;
}

.owl-1999-arrows .prev{
	background-image:url("../images/historia/arrow-white-left.png");
}
.owl-1999-arrows .next{
	background-image:url("../images/historia/arrow-gray-rigth.png");
}



/*Estilos flechas carrusel*/
.owl-2006-arrows{ 
	position:relative; 
	top:250px;
}

.owl-2006-arrows .prev, 
.owl-2006-arrows .next{
	background-repeat:no-repeat; 
	background-color:transparent;  
	border:none; 
	width: 26px; 
	height: 41px;
}

.owl-2006-arrows .prev{
	background-image:url("../images/historia/arrow-gray-left.png");
}
.owl-2006-arrows .next{
	background-image:url("../images/historia/arrow-white-right.png");
}


/*Estilos flechas carrusel*/
.owl-2011-arrows{ 
	position:relative; 
	top:250px;
}

.owl-2011-arrows .prev, 
.owl-2011-arrows .next{
	background-repeat:no-repeat; 
	background-color:transparent;  
	border:none; 
	width: 26px; 
	height: 41px;
}

.owl-2011-arrows .prev{
	background-image:url("../images/historia/arrow-white-left.png");
}.owl-2011-arrows .next{
	background-image:url("../images/historia/arrow-gray-rigth.png");
}



/*Estilos flechas carrusel*/
.owl-2017-arrows{ 
	position:relative; 
	top:250px;
}

.owl-2017-arrows .prev, 
.owl-2017-arrows .next{
	background-repeat:no-repeat; 
	background-color:transparent;  
	border:none; 
	width: 26px; 
	height: 41px;
}

.owl-2017-arrows .prev{
	background-image:url("../images/historia/arrow-gray-left.png");
}
.owl-2017-arrows .next{
	background-image:url("../images/historia/arrow-white-right.png");
}

.historia-movil{
	display: none;
}
.historia-desktop{
	
}


/***/
.lineas-secion{
	padding-bottom: 120px;
	padding-top: 90px;
	position: relative;
}
.lineas-fig{
	background-image: url("../images/contacto/fig.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0;
	height: 1013px;
	right: 0;
	width: 177px;
	position: absolute;
}
.lineas-info{
    padding: 0% 5% 2% 12%;
}
.lineas-info2{
    padding: 0 17% 0 0;
}

.lineas-info-ul2{
	padding-left: 0;
	list-style-type: none;
}
.lineas-info-ul2 li{
	color:#000;
	font-family: 'Gordita-Bold';
	font-size: 1.7rem;
	margin-bottom: 5%;
	text-align: left;	
	position: relative;
	padding-left: 7%;
	height: 80px;
	line-height: 110%;
}
.lineas-info-ul2 li:after {
    content: "";
    background-color: #E36A00;
    left: 0;
    top: 0;
    width: 8px;
    height: 50px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.lineas-info-ul2 li.padd1 {
    padding-top: 1.5%;
}
.lineas-info-ul2 li.padd2 {
    padding-top: 2.5%;
}
.lineas-info-ul2 li.padd3{
	padding-top: 2.5%;
}
.lineas-info-ul2 li.padd4{
	 padding-top: 1.5%;
}
.lineas-info-ul2 li.padd5{
	 padding-top: 1.5%;
}
.lineas-info-ul2 li.padd6{
	 padding-top: 1.5%;
}
.lineas-info-ul2 li.padd7{
	padding-top: 2.5%;	
}
.lineas-info-ul2 li.padd8{
	padding-top: 2.5%;
}
.lineas-info-ul2 li.padd9{
	padding-top: 2.5%;
}
.lineas-info-ul2 li.padd10{
	 padding-top: 1.5%;
}


.lineas-h2 {
    color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 3.5rem;
    margin: 0 0 1% 0;
    position: relative;
}
.lineas-h2:after{
    content: "";
    background-color: #E36A00;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}
.lineas-comunicarse {
    padding: 6% 11% 0 1%;
}
.lineas-comunicarse-h3{
	color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 2.5rem;
	margin-bottom: 3%;
}

.lineas-info-ul{
	padding-left: 0;
	list-style-type: none;
}
.lineas-info-ul li{
	color:#000;
	font-family: 'Gordita-Bold';
	font-size: 2.5rem;
	margin-bottom: 2%;
	text-align: left;	
	position: relative;
	
}
.lineas-info-ul li a{
	color:#000;
}

.lineas-info-ul li a.block-desktop{}

.lineas-info-ul li a.block-movil{
	display: none;
}

.lineas-comunicarse-img{
	width: 18%;
}
.lineas-comunicarse-info {
    padding-top: 2%;
}




/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.title {	
		letter-spacing: 5px;
		margin-bottom: 8%;
	}
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	
	.quienesomos-info {
		padding: 4% 11%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.overflow-a {
		height: auto;
	}
	.mision-movil{
		display: block;
	}
	.mision-desktop{
		display: none;
	}
	.mision-info {
		padding: 15% 10% 8% 10%;
	}
	.vision-info {
		padding: 15% 10% 8% 10%;
	}
	
	
	/* gobierno */
	.gobierno-title {
		padding-bottom: 10px;
	}
	.gobierno-info {
		padding: 15% 10% 8% 10%;
	}
	.gobierno-h2{
		font-size: 3rem;
	}
	.gobierno-p {
		font-size: 1.6rem;
	}
	.gobierno-fig{
		display: none;	
	}	
	.directrices-fig{
		display: none;	
	}	
	.directrices-h2 {
		font-size: 3rem;
		margin: 0 0 12% 0;
		padding-left: 6%;
	}

	/* valores */
	
	.valores-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.valores-div {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 8%;
		padding: 10% 6%;
		height: auto;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p{
		font-size: 1.6rem;
	}
	.valores-div-space {
		margin-left: 0;
	}
	.valores-fig{
		display: none
	}
	
	/* historia */
	.historia-div {
		width: 100%;
		padding-right: 15px;
	}
	.historia-fecha {		
		font-size: 7rem;
		text-align: center;
		margin-top: 12%;
		margin-bottom: 12%;
		padding-bottom: 4%;
	}
	.historia-fecha::after {		
		height: 5px;
		width: 100px;
		right: 25%;		
	}
	.historia-rangofecha{
		padding: 9px 18px 9px;
		position: relative;
		top: 10px;
	}
	.historia-a{
		font-size: 2.5rem;
	}
	
	.historiacaption {
		width: 100%;
	}
	.historiacaption .fecha1993 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2003 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2006{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2007{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2008{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2009{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2011{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2012{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2014{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2016{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2017{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2019{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historiacaption .fecha2020{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historia-movil{
		display: block
	}
	.historia-desktop{
		display: none;
	}
	.historiacaption .hover{
		position: relative;
	}
	.historiacaption .hover .info{
		color: #000;
		font-size: 2rem;
	}
	
	.owl-1999-arrows {
		top: 290px;
	}
	.owl-2006-arrows{
		top: 290px;
	}
	.owl-2011-arrows{
		top: 290px;
	}
	.owl-2017-arrows{
		top: 290px;
	}
	
	
	/**/
	.lineas-secion{
		padding-top: 50px;
	}
	.lineas-h2{
		font-size: 3rem;
	}
	.lineas-fig{
		display: none;
	}
	.lineas-comunicarse-img {
		width: 34%;
	}
	.lineas-info-ul li {
		font-size: 1.7rem;
		margin-bottom: 0%;
	}
	.lineas-info {
		padding: 0% 14%;
	}
	.lineas-info2 {
		padding: 0% 14%;
	}
	.lineas-info-ul2 li{
		font-size: 1.5rem;
		height: auto;
		margin-bottom: 12%;
	}
	.lineas-comunicarse {
		padding: 0% 9% 4%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	.lineas-comunicarse-info {
		padding-left: 0;
		padding-right: 0;
	}
	.lineas-info-ul li a.block-desktop{
		display: none;
	}
	.lineas-info-ul li a.block-movil{
		display: block;
	}

	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 8%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	
	.quienesomos-info {
		padding: 4% 11%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.overflow-a {
		height: auto;
	}
	.mision-movil{
		display: block;
	}
	.mision-desktop{
		display: none;
	}
	.mision-info {
		padding: 15% 10% 8% 10%;
	}
	.vision-info {
		padding: 15% 10% 8% 10%;
	}
	
	/* gobierno */
	.gobierno-title {
		padding-bottom: 10px;
	}
	.gobierno-info {
		padding: 15% 10% 8% 10%;
	}
	.gobierno-h2{
		font-size: 3rem;
	}
	.gobierno-p {
		font-size: 1.6rem;
	}
	.gobierno-fig{
		display: none;	
	}	
	.directrices-fig{
		display: none;	
	}	
	.directrices-h2 {
		font-size: 3rem;
		margin: 0 0 12% 0;
		padding-left: 6%;
	}
	.img-directrices{
		padding-left: 5%;
		padding-right: 5%;
	}
	
	
	/* valores */
	
	.valores-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.valores-div {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 8%;
		padding: 10% 6%;
		height: auto;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p{
		font-size: 1.6rem;
	}
	.valores-div-space {
		margin-left: 0;
	}
	.valores-fig{
		display: none
	}
	
	/* historia */
	.historia-div {
		width: 100%;
		padding-right: 15px;
	}
	.historia-fecha {		
		font-size: 7rem;
		text-align: center;
		margin-top: 12%;
		margin-bottom: 12%;
		padding-bottom: 4%;
	}
	.historia-fecha::after {		
		height: 5px;
		width: 100px;
		right: 25%;		
	}
	.historia-rangofecha{
		padding: 9px 18px 9px;
		position: relative;
		top: 10px;
	}
	.historia-a{
		font-size: 2.5rem;
	}
	
	.historiacaption {
		width: 100%;
	}
	.historiacaption .fecha1993 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2003 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2006{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2007{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2008{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2009{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2011{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2012{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2014{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2016{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2017{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2019{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historiacaption .fecha2020{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historia-movil{
		display: block
	}
	.historia-desktop{
		display: none;
	}
	.historiacaption .hover{
		position: relative;
	}
	.historiacaption .hover .info{
		color: #000;
		font-size: 2rem;
	}
	
	.owl-1999-arrows {
		top: 345px;
	}
	.owl-2006-arrows{
		top: 345px;
	}
	.owl-2011-arrows{
		top: 345px;
	}
	.owl-2017-arrows{
		top: 345px;
	}
	
	
	/**/
	.lineas-h2{
		font-size: 3rem;
	}
	.lineas-fig{
		display: none;
	}
	.lineas-comunicarse-img {
		width: 23%;
	}
	.lineas-info-ul li {
		font-size: 1.7rem;
		margin-bottom: 0%;
	}
	.lineas-info {
		padding: 0% 14%;
	}
	.lineas-info2 {
		padding: 0% 14%;
	}
	.lineas-info-ul2 li{
		font-size: 1.5rem;
		height: 70px;
	}
	.lineas-comunicarse {
		padding: 0% 11% 4%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	.lineas-info-ul li a.block-desktop{
		display: none;
	}
	.lineas-info-ul li a.block-movil{
		display: block;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 8%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	
	.quienesomos-info {
		padding: 4% 11%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.overflow-a {
		height: auto;
	}
	.mision-movil{
		display: block;
	}
	.mision-desktop{
		display: none;
	}
	.mision-info {
		padding: 15% 10% 8% 10%;
	}
	.vision-info {
		padding: 15% 10% 8% 10%;
	}
	
	/* gobierno */
	.gobierno-title {
		padding-bottom: 10px;
	}
	.gobierno-info {
		padding: 15% 10% 8% 10%;
	}
	.gobierno-h2{
		font-size: 3rem;
	}
	.gobierno-p {
		font-size: 1.6rem;
	}
	.gobierno-fig{
		display: none;	
	}	
	.directrices-fig{
		display: none;	
	}	
	.directrices-h2 {
		font-size: 3rem;
		margin: 0 0 12% 0;
		padding-left: 6%;
	}
	.img-directrices{
		padding-left: 5%;
		padding-right: 5%;
	}
	
	/* valores */

	.valores-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.valores-div {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 8%;
		padding: 10% 6%;
		height: auto;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p{
		font-size: 1.6rem;
	}
	.valores-div-space {
		margin-left: 0;
	}
	.valores-fig{
		display: none
	}
	
	/* historia */
	.historia-div {
		width: 100%;
		padding-right: 15px;
	}
	.historia-fecha {		
		font-size: 7rem;
		text-align: center;
		margin-top: 12%;
		margin-bottom: 12%;
		padding-bottom: 4%;
	}
	.historia-fecha::after {		
		height: 5px;
		width: 100px;
		right: 33%;		
	}
	.historia-rangofecha{
		padding: 9px 18px 9px;
		position: relative;
		top: 10px;
	}
	.historia-a{
		font-size: 2.5rem;
	}
	
	.historiacaption {
		width: 100%;
	}
	.historiacaption .fecha1993 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2003 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2006{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2007{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2008{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2009{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2011{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2012{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2014{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2016{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2017{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2019{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historiacaption .fecha2020{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historia-movil{
		display: block
	}
	.historia-desktop{
		display: none;
	}
	.historiacaption .hover{
		position: relative;
	}
	.historiacaption .hover .info{
		color: #000;
		font-size: 2rem;
	}
	
	.owl-1999-arrows {
		top: 400px;
	}
	.owl-2006-arrows{
		top: 400px;
	}
	.owl-2011-arrows{
		top: 400px;
	}
	.owl-2017-arrows{
		top: 400px;
	}
	
	/**/
	.lineas-h2{
		font-size: 3rem;
	}
	.lineas-fig{
		display: none;
	}
	.lineas-comunicarse-img {
		width: 23%;
	}
	.lineas-info-ul li {
		font-size: 1.7rem;
		margin-bottom: 0%;
	}
	.lineas-info {
		padding: 0% 14%;
	}
	.lineas-info2 {
		padding: 0% 14%;
	}
	.lineas-info-ul2 li{
		font-size: 1.5rem;
		height: 70px;
	}
	.lineas-comunicarse {
		padding: 0% 11% 4%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	.lineas-info-ul li a.block-desktop{
		display: none;
	}
	.lineas-info-ul li a.block-movil{
		display: block;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 8%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	
	.quienesomos-info {
		padding: 4% 11%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.overflow-a {
		height: auto;
	}
	.mision-movil{
		display: block;
	}
	.mision-desktop{
		display: none;
	}
	.mision-info {
		padding: 15% 10% 8% 10%;
	}
	.vision-info {
		padding: 15% 10% 8% 10%;
	}
	
	/* gobierno */
	.gobierno-title {
		padding-bottom: 10px;
	}
	.gobierno-info {
		padding: 15% 10% 8% 10%;
	}
	.gobierno-h2{
		font-size: 3rem;
	}
	.gobierno-p {
		font-size: 1.6rem;
	}
	/*.gobierno-fig{
		display: none;	
	}	*/
	.directrices-fig{
		display: none;	
	}	
	.directrices-h2 {
		font-size: 3rem;
		margin: 0 0 12% 0;
		padding-left: 6%;
	}
	.img-directrices{
		padding-left: 5%;
		padding-right: 5%;
	}
	
	
	/* valores */
	
	.valores-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.valores-div {
		width: 44%;
		margin-left: 3%;
		margin-right: 3%;
		margin-bottom: 6%;
		padding: 3%;
		height: 480px;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p{
		font-size: 1.6rem;
	}
	.valores-div-space {
		margin-left: 3%;
	}
	.valores-fig{
		display: none
	}
	
	
	/* historia */
	.historia-div {
		width: 100%;
		padding-right: 15px;
	}
	.historia-fecha {
		font-size: 7rem;
		text-align: center;
		margin-top: 8%;
		margin-bottom: 8%;
		padding-bottom: 2%;
	}
	.historia-fecha::after {		
		height: 5px;
		width: 100px;
		right: 38%;		
	}
	.historia-rangofecha{
		padding: 9px 18px 9px;
		position: relative;
		top: 10px;
	}
	.historia-a{
		font-size: 2.5rem;
	}
	
	.historiacaption {
		width: 100%;
	}
	.historiacaption .fecha1993 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2003 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2006{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2007{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2008{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2009{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2011{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2012{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2014{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2016{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2017{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2019{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historiacaption .fecha2020{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historia-movil{
		display: block
	}
	.historia-desktop{
		display: none;
	}
	.historiacaption .hover{
		position: relative;
	}
	.historiacaption .hover .info{
		color: #000;
		font-size: 2rem;
	}
	
	.owl-1999-arrows {
		top: 400px;
	}
	.owl-2006-arrows{
		top: 400px;
	}
	.owl-2011-arrows{
		top: 400px;
	}
	.owl-2017-arrows{
		top: 400px;
	}
	
	/**/
	.lineas-h2{
		font-size: 3rem;
	}
	.lineas-fig{
		width: 120px;
	}
	.lineas-comunicarse-img {
		width: 23%;
	}
	.lineas-info-ul li {
		font-size: 1.7rem;
		margin-bottom: 0%;
	}
	.lineas-info {
		padding: 0% 14%;
	}
	.lineas-info2 {
		padding: 0% 14%;
	}
	.lineas-info-ul2 li{
		font-size: 1.5rem;
		height: 70px;
	}
	.lineas-comunicarse {
		padding: 0% 11% 4%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	.lineas-info-ul li a.block-desktop{
		display: none;
	}
	.lineas-info-ul li a.block-movil{
		display: block;
	}
	
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 8%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	
	.quienesomos-info {
		padding: 4% 11%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.overflow-a {
		height: auto;
	}
	.mision-movil{
		display: block;
	}
	.mision-desktop{
		display: none;
	}
	.mision-info {
		padding: 15% 10% 8% 10%;
	}
	.vision-info {
		padding: 15% 10% 8% 10%;
	}
	
	/* gobierno */
	.gobierno-title {
		padding-bottom: 10px;
	}
	.gobierno-info {
		padding: 15% 10% 8% 10%;
	}
	.gobierno-h2{
		font-size: 3rem;
	}
	.gobierno-p {
		font-size: 1.6rem;
	}
	/*.gobierno-fig{
		display: none;	
	}	*/
	.directrices-fig{
		display: none;	
	}	
	.directrices-h2 {
		font-size: 3rem;
		margin: 0 0 12% 0;
		padding-left: 6%;
	}
	.img-directrices{
		padding-left: 5%;
		padding-right: 5%;
	}
	
	/* valores */
	
	.valores-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.valores-div {
		width: 44%;
		margin-left: 3%;
		margin-right: 3%;
		margin-bottom: 6%;
		padding: 3%;
		height: 480px;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p{
		font-size: 1.6rem;
	}
	.valores-div-space {
		margin-left: 3%;
	}
	.valores-fig{
		display: none
	}
	
	
	/* historia */
	.historia-div {
		width: 100%;
		padding-right: 15px;
	}
	.historia-fecha {
		font-size: 7rem;
		text-align: center;
		margin-top: 8%;
		margin-bottom: 8%;
		padding-bottom: 2%;
	}
	.historia-fecha::after {		
		height: 5px;
		width: 100px;
		right: 38%;		
	}
	.historia-rangofecha{
		padding: 9px 18px 9px;
		position: relative;
		top: 10px;
	}
	.historia-a{
		font-size: 2.5rem;
	}
	
	.historiacaption {
		width: 100%;
	}
	.historiacaption .fecha1993 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2003 {
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2006{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2007{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2008{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2009{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2011{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2012{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2014{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2016{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2017{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	.historiacaption .fecha2019{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historiacaption .fecha2020{
		padding-top: 11%;
		padding-bottom: 11%;
	}
	
	.historia-movil{
		display: block
	}
	.historia-desktop{
		display: none;
	}
	.historiacaption .hover{
		position: relative;
	}
	.historiacaption .hover .info{
		color: #000;
		font-size: 2rem;
	}
	
	.owl-1999-arrows {
		top: 400px;
	}
	.owl-2006-arrows{
		top: 400px;
	}
	.owl-2011-arrows{
		top: 400px;
	}
	.owl-2017-arrows{
		top: 400px;
	}
	
	/**/
	.lineas-h2{
		font-size: 3rem;
	}
	.lineas-fig{
		width: 120px;
	}
	.lineas-comunicarse-img {
		width: 23%;
	}
	.lineas-info-ul li {
		font-size: 1.7rem;
		margin-bottom: 0%;
	}
	.lineas-info {
		padding: 0% 14%;
	}
	.lineas-info2 {
		padding: 0% 14%;
	}
	.lineas-info-ul2 li{
		font-size: 1.5rem;
		height: 70px;
	}
	.lineas-comunicarse {
		padding: 0% 11% 4%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	
	.lineas-info-ul li a.block-desktop{
		display: none;
	}
	.lineas-info-ul li a.block-movil{
		display: block;
	}
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	
	.title{
		letter-spacing: 11px;
	}
	/* nosotros */
	.nostros-section {
		padding-top: 70px;
	}
	.nosotros-title {
		padding-left: 7%;
	}
	.nosotros-h2{
		font-size: 2.2rem;
	}
	.nosotros-p{
		font-size: 1.2rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.5rem;
	}
	.overflow-a {
		height: 214px;
	}
	
	.quienesomos-info {
		padding: 3% 5% 2% 7%;
	}
	.mision-info-figimg {
		width: 11.5%;
	}
	.mision-info {
		padding: 6% 12% 4% 7%;
	}
	.vision-info {
		padding: 4% 5% 2% 7%;
	}
	
	/*historia*/
	
	.historia-fecha{
		font-size: 8rem;
	}
	.historia-fecha::after {
		width: 115px;
		bottom: -10px;
	}
	.historia-a{
		font-size: 2rem;
	}
	
	.historia-rangofecha{
		padding: 12px 22px 13px;
	}
	.historiacaption .hover .info{
		font-size: 1.8rem;
	}
	
	.owl-1999-arrows {
		top: 138px;
	}
	.owl-2006-arrows {
		top: 138px;
	}
	.owl-2011-arrows {
		top: 138px;
	}
	.owl-2017-arrows {
		top: 138px;
	}
	
	/* gobierno */
	.gobierno-h2{
		font-size: 2.2rem;
	}
	.gobierno-p {
		font-size: 1.3rem;
	}
	.gobierno-info {
		padding: 4% 5% 2% 7%;
	}

	.directrices-h2{
		font-size: 2.2rem;
		padding-left: 7%;
	}
	.gobierno-fig{
		width: 40px;
	}
	
	.img-directrices{
		padding: 0 20%;
	}
	.directrices-fig {
		width: 12%;
		
	}
	
	/* valores */
	.valores-fluid {
		padding-left: 130px;
		padding-right: 88px;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p {
		font-size: 1.5rem;
	}
	.valores-fig {
		top: -1px;
		width: 12%;
	}
	
	/**/
	.lineas-h2{
		font-size: 2.2rem;
	}
	.lineas-fig{
		width: 120px;
	}
	.lineas-comunicarse-img {
		width: 23%;
	}
	.lineas-info-ul li {
		font-size: 1.7rem;
		margin-bottom: 0%;
	}
	.lineas-info {
		padding: 0% 5% 2% 9%;
	}
	.lineas-info2 {
		padding: 0 14% 0 0;
	}
	.lineas-info-ul2 li{
		font-size: 1.5rem;
	}
	.lineas-comunicarse {
		padding: 4% 8% 0 1%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.title{
		letter-spacing: 11px;
	}
	/* nosotros */
	.nostros-section {
		padding-top: 70px;
	}
	.nosotros-title {
		padding-left: 7%;
	}
	.nosotros-h2{
		font-size: 2.6rem;
	}
	.nosotros-p{
		font-size: 1.3rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.7rem;
	}
	.overflow-a {
		height: 262px;
	}
	
	.quienesomos-info {
		padding: 3% 5% 2% 7%;
	}
	.mision-info-figimg {
		width: 11.5%;
	}
	.mision-info {
		padding: 8% 12% 6% 7%;
	}
	.vision-info {
		padding: 4% 5% 2% 7%;
	}
	
	/*historia*/
	
	.historia-fecha{
		font-size: 10rem;
	}
	.historia-fecha::after {
		width: 115px;
		bottom: -10px;
	}
	.historia-a{
		font-size: 2.2rem;
	}
	
	.historia-rangofecha{
		padding: 12px 22px 13px;
	}
	.historiacaption .hover .info{
		font-size: 2.5rem;
	}
	
	.owl-1999-arrows {
		top: 172px;
	}
	.owl-2006-arrows {
		top: 172px;
	}
	.owl-2011-arrows {
		top: 172px;
	}
	.owl-2017-arrows {
		top: 172px;
	}
	
	/* gobierno */
	.gobierno-h2{
		font-size: 2.8rem;
	}
	.gobierno-p {
		font-size: 1.5rem;
	}
	.gobierno-info {
		padding: 5% 5% 2% 8%;
	}

	.directrices-h2{
		font-size: 2.8rem;
		padding-left: 8%;
	}
	.gobierno-fig{
		width: 4%;
	}
	
	.img-directrices{
		padding: 0 20%;
	}
	.directrices-fig {
		width: 12%;		
	}
	
	/* valores */
	.valores-fluid {
		padding-left: 180px;
		padding-right: 180px;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p {
		font-size: 1.5rem;
	}
	.valores-fig {
		top: -1px;
		width: 12%;
	}
	
	/**/
	.lineas-h2{
		font-size: 2.6rem;
	}
	.lineas-fig{
		width: 150px;
	}
	.lineas-comunicarse-img {
		width: 21%;
	}
	.lineas-info-ul li{
		font-size: 2rem;
		margin-bottom: 1%;
	}
	.lineas-info {
		padding: 0% 5% 2% 9%;
	}
	.lineas-info2 {
		padding: 0 14% 0 0;
	}
	.lineas-info-ul2 li{
		font-size: 1.5rem;
	}
	.lineas-comunicarse {
		padding: 4% 8% 0 1%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.title{
		letter-spacing: 11px;
	}
	/* nosotros */
	.nostros-section {
		padding-top: 70px;
	}
	.nosotros-title {
		padding-left: 7%;
	}
	.nosotros-h2{
		font-size: 2.6rem;
	}
	.nosotros-p{
		font-size: 1.3rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.7rem;
	}
	.overflow-a {
		height: 283px;
	}
	
	.quienesomos-info {
		padding: 3% 5% 2% 7%;
	}
	.mision-info-figimg {
		width: 11.5%;
	}
	
	.vision-info {
		padding: 4% 5% 2% 7%;
	}
	
	
	/*historia*/
	
	.historia-fecha{
		font-size: 12rem;
	}
	.historia-fecha::after {
		width: 115px;
		bottom: -10px;
	}
	.historia-a{
		font-size: 2.2rem;
	}
	
	.historia-rangofecha{
		padding: 12px 22px 13px;
	}
	.historiacaption .hover .info{
		font-size: 2.5rem;
	}
	
	.owl-1999-arrows {
		top: 186px;
	}
	.owl-2006-arrows {
		top: 186px;
	}
	.owl-2011-arrows {
		top: 186px;
	}
	.owl-2017-arrows {
		top: 186px;
	}
	
	/* gobierno */
	.gobierno-h2{
		font-size: 2.8rem;
	}
	.gobierno-p {
		font-size: 1.5rem;
	}
	.gobierno-info {
		padding: 5% 5% 2% 8%;
	}

	.directrices-h2{
		font-size: 2.8rem;
		padding-left: 8%;
	}
	.gobierno-fig{
		width: 4%;
	}
	
	.img-directrices{
		padding: 0 20%;		
	}
	
		
	/* valores */
	.valores-fluid {
		padding-left: 180px;
		padding-right: 180px;
	}
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p {
		font-size: 1.5rem;
	}
	.valores-fig {
		top: -1px;
		width: 12%;
	}
	
	/**/
	.lineas-h2{
		font-size: 2.6rem;
	}
	.lineas-fig{
		width: 150px;
	}
	.lineas-comunicarse-img {
		width: 21%;
	}
	.lineas-info-ul li{
		font-size: 2rem;
		margin-bottom: 1%;
	}
	.lineas-info {
		padding: 0% 5% 2% 9%;
	}
	.lineas-info2 {
		padding: 0 14% 0 0;
	}
	
	.lineas-comunicarse {
		padding: 4% 8% 0 1%;
	}
	.lineas-comunicarse-h3{
		font-size: 2rem;
	}
	
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	/* nosotros */
	.nosotros-title {
		padding-left: 8%;
	}
	.nosotros-h2{
		font-size: 2.8rem;
	}
	.nosotros-p{
		font-size: 1.4rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.8rem;
	}
	.overflow-a {
		height: 306px;
	}
	
	.quienesomos-info {
		padding: 3% 5% 2% 8%;
	}
	.mision-info-figimg {
		width: 11.5%;
	}
	
	.vision-info {
		padding: 4% 5% 2% 8%;
	}
	
	/*historia*/
	
	.historia-fecha{
		font-size: 12rem;
	}
	.historia-fecha::after {
		width: 115px;
		bottom: -10px;
	}
	.historia-a{
		font-size: 2.5rem;
	}
	
	.historia-rangofecha{
		padding: 12px 22px 13px;
	}
	.historiacaption .hover .info{
		font-size: 2.5rem;
	}
	
	.owl-1999-arrows {
		top: 196px;
	}
	.owl-2006-arrows {
		top: 196px;
	}
	.owl-2011-arrows {
		top: 196px;
	}
	.owl-2017-arrows {
		top: 196px;
	}
	
	/* gobierno */
	.gobierno-h2{
		font-size: 2.8rem;
	}
	.gobierno-p {
		font-size: 1.5rem;
	}
	.gobierno-info {
		padding: 5% 5% 2% 8%;
	}
	
	.directrices-h2{
		font-size: 2.8rem;
		padding-left: 8%;
	}
	.gobierno-fig{
		width: 4%;
	}
	
	.img-directrices{
		padding: 0 20%;
	}
	
	/* valores */
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p {
		font-size: 1.5rem;
	}
	.valores-fig {
		top: -1px;
		width: 12%;
	}
	
	/**/
	.lineas-h2{
		font-size: 2.8rem;
	}
	.lineas-fig{
		width: 160px;
	}
	.lineas-comunicarse-img {
		width: 19%;
	}
	.lineas-info-ul li{
		font-size: 2rem;
		margin-bottom: 1%;
	}
	.lineas-comunicarse {
		padding: 4% 8% 0 1%;
	}
	.lineas-comunicarse-h3{
		font-size: 2.2rem;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	/* nosotros */
	
	.nosotros-h2{
		font-size: 3.2rem;
	}
	.nosotros-p{
		font-size: 1.45rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 2rem;
	}
	.overflow-a {
		height: 339px;
	}
	
	.mision-info-figimg {
		width: 11.5%;
	}
	
	/*historia*/
	
	.historia-fecha{
		font-size: 14rem;
	}
	.historia-fecha::after {
		width: 115px;
		bottom: -10px;
	}
	.historia-a{
		font-size: 3rem;
	}
	
	.historia-rangofecha{
		padding: 12px 22px 13px;
	}
	
	.owl-1999-arrows {
		top: 218px;
	}
	.owl-2006-arrows {
		top: 218px;
	}
	.owl-2011-arrows {
		top: 218px;
	}
	.owl-2017-arrows {
		top: 218px;
	}
	
	/* gobierno */
	.gobierno-h2{
		font-size: 3rem;
	}
	.gobierno-p {
		font-size: 1.6rem;
	}
	.gobierno-info {
		padding: 5% 5% 2% 11%;
	}
	
	.directrices-h2{
		font-size: 3rem;
	}
	
	/* valores */
	.valores-div h3{
		font-size: 2rem;
	}
	.valores-div p {
		font-size: 1.5rem;
	}

	/**/
	.lineas-h2{
		font-size: 3.2rem;
	}
	.lineas-fig{
		width: 160px;
	}
	.lineas-comunicarse-img {
		width: 19%;
	}
	.lineas-info-ul li{
		font-size: 2.2rem;
		margin-bottom: 1%;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	/* nosotros */
	
	.nosotros-h2{
		font-size: 3.2rem;
	}
	.nosotros-p{
		font-size: 1.55rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 2rem;
	}
	.overflow-a {
		height: 339px;
	}
	
	.mision-info-figimg {
		width: 11.5%;
	}
	
	/*historia*/
	
	.historia-fecha{
		font-size: 14rem;
	}
	.historia-fecha::after {
		width: 115px;
		bottom: -10px;
	}
	.historia-a{
		font-size: 3rem;
	}
	
	.historia-rangofecha{
		padding: 12px 22px 13px;
	}
	
	.owl-1999-arrows {
		top: 227px;
	}
	.owl-2006-arrows {
		top: 227px;
	}
	.owl-2011-arrows {
		top: 227px;
	}
	.owl-2017-arrows {
		top: 227px;
	}
	
	/**/
	.lineas-comunicarse-img {
		width: 19%;
	}
	.lineas-info-ul li{
		font-size: 2.2rem;
		margin-bottom: 1%;
	}
	
	
}


