@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.logros-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/


.logros-section{
	background-color: #E6E7E8;
	padding-bottom: 90px;
	padding-top: 40px;
	position: relative;
}
.logros-fig{
	background-image: url("../images/logros/fig.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	height: 1110px;
	top: 0px;
	width: 194px;
}
.logros-fluid {
    padding-left: 220px;
    padding-right: 220px;
}
.logros-div {
    background-color: #fff;
    border-radius: 30px;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 3% 1.5%;
    height: 410px;
}

.logros-div img{}
.logros-div h3 {
    color: #000;
    font-family: 'Gordita-Bold';
	font-style: italic;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 7%;
}

.logros-div-inno{
	padding-top: 5%;
}



/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.title{
		letter-spacing: 7px;
	}
	.logros-title {
		padding-left: 4%;
	}
	.logros-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.logros-fig{
		display: none;
	}
	.logros-div {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 11%;
		padding: 4% 1.5% 10%;
		height: auto;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.title{
		letter-spacing: 11px;
	}
	.logros-title {
		padding-left: 4%;
	}
	.logros-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.logros-fig{
		display: none;
	}
	.logros-div {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 11%;
		padding: 4% 1.5% 10%;
		height: auto;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.title{
		letter-spacing: 11px;
	}
	.logros-title {
		padding-left: 4%;
	}
	.logros-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.logros-fig{
		display: none;
	}
	.logros-div {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 11%;
		padding: 4% 5% 10%;
		height: auto;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.title{
		letter-spacing: 11px;
	}
	.logros-title {
		padding-left: 4%;
	}
	.logros-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.logros-fig{
		display: none;
	}
	.logros-div {
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 4%;
		padding: 3% 3%;
		height: 330px;
	}

	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.title{
		letter-spacing: 11px;
	}
	.logros-title {
		padding-left: 4%;
	}
	.logros-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.logros-fig{
		display: none;
	}
	.logros-div {
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 4%;
		padding: 3% 3%;
		height: 330px;
	}
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.logros-fluid {
		padding-left: 130px;
		padding-right: 130px;
	}
	.logros-div{
		height: 330px;
	}
	.logros-fig {
		top: -1px;
		width: 12%;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	
	.logros-fluid {
		padding-left: 180px;
		padding-right: 180px;
	}
	.logros-div{
		height: 330px;
	}
	.logros-fig {
		top: -1px;
		width: 12%;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.logros-fluid {
		padding-left: 180px;
		padding-right: 180px;
	}
	.logros-div{
		height: 330px;
	}
	.logros-fig {
		top: -1px;
		width: 12%;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.logros-div{
		height: 357px;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.logros-div{
		height: 379px;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){}

