@charset "utf-8";
/* CSS Document */


/**/


.nav-horizontal-oportunidades{ 
	width:84%; 
	text-align:center; 
	margin-top:0%; 
	-webkit-margin-before:0%;
	float: right;
}


/* li general */ 
.nav-horizontal-oportunidades__li {
    background-color: #fff;
    font-family: 'Gordita-Black';
    font-size: 2rem;
    width: auto;
    margin: 0 2.9%;
}
.nav-horizontal-oportunidades > li.nav-horizontal-oportunidades_home > a {
    line-height: 28px;
    padding-bottom: 0;
}
.nav-horizontal-oportunidades > li > a.nav-horizontal-oportunidades__li-a{
    padding-top: 28px;
    padding-bottom: 21px;
}
.nav-horizontal-oportunidades_home{
	font-family: 'Gordita-BlackItalic';
    font-size: 3rem;
	text-align: left;
	top: -16px;
}
.nav-horizontal-oportunidades_home:after{
    background-color: #E36A00;
    content: "";
    height: 3px !important;
    width: 63px !important;
    left: 3% !important;
    top: 0 !important;
    position: absolute;
}

.nav-horizontal-oportunidades_home:hover:after,
.nav-horizontal-oportunidades_home:focus:after{
    background-color: #E36A00;
    content: "";
    height: 3px !important;
    width: 63px !important;
    left: 3% !important;
    top: 0 !important;
    position: absolute;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

/**/

.oportunidadeshome-section{
	background-color: #fff;
}
.oportunidadeshome-section-fluid{
	padding: 0;
}
.oportunidadeshome-section-row{
	margin-bottom: 3%;
}


.oportunidadeshomecaption {
	 position:relative;
}
.oportunidadeshomecaption img {
	 width:100%;
	 height:100%;
}
.oportunidadeshomecaption .hovernews{
	background-image: url("../images/oportunidades/caption-newa.png");
	height: 35%;
    left: 15%;
	padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
	top: 159px;
    width: 68%;
}
.oportunidadeshomecaption .hoverfiles{
	background-image: url("../images/oportunidades/caption-files.png");
	height: 35%;
    left: 8%;
	padding-left: 4%;
    padding-right: 4%;
    padding-top: 3%;
	top: 159px;
    width: 82%;
}
.oportunidadeshomecaption .hover {
    background-color: transparent;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    color: #fff;   
    opacity: 1;   
    position: absolute;
    transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .2s ease-out;
    text-align: center;   
    z-index: 20;
}
.oportunidadeshomecaption .hover .info {
    position: relative;
    font-family: 'Gordita-BlackItalic';
    font-size: 9rem;
    color: #fff;
	margin-bottom: 4%;
    opacity: 1;
    transition: animation 1s ease .2s,opacity .5s ease-out .3s;
    -webkit-transition: -webkit-animation 1s ease .2s,opacity .5s ease-out .3s;
    -moz-transition: -moz-animation 1s ease .2s,opacity .5s ease-out .3s;
    text-align: center;
    line-height: 110%;
}


.oportunidadeshome-btn{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.oportunidadeshome-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin-bottom: 0;
}
.oportunidadeshome-btn:hover{
	background-color: #fff;
}
.oportunidadeshome-btn:hover .oportunidadeshome-a{
	color: #E36A00;
}

.oportunidadeshome-btn-news{
	position: relative;
	top: 40px;
}
.oportunidadeshome-btn-files{
	position: relative;
	top: 15px;
}

.img-oportunidadeshomedesktop{}
.img-oportunidadeshomemovil{
	display: none;
}


.oportunidades-banner{}

.oportunidades-sinpadding{
	padding: 0;
}
.grupo-btn{
	background: rgba(216,101,39,1);
background: -moz-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216,101,39,1)), color-stop(14%, rgba(197,92,40,1)), color-stop(63%, rgba(147,67,32,1)), color-stop(82%, rgba(137,61,29,1)), color-stop(100%, rgba(116,50,22,1)));
background: -webkit-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: -o-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: -ms-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: linear-gradient(to right, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d86527', endColorstr='#743216', GradientType=1 );
    border: 2px solid transparent;
    border-radius: 7px;
	display: inline-block;
	 padding: 2px 12px 3px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.grupo-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.grupo-btn:hover{
	border: 2px solid #893E1D;
	background: #fff;
}
.grupo-btn:hover .grupo-a{	
	color: #893E1D;
}



.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.oportunidades-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/


.oportunidades-section{
	background-color: #fff;
	padding-bottom: 190px;
	padding-top: 40px;
	position: relative;
}
.oportunidades-fig{
	background-image: url("../images/transportadoresaliados/fig.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0px;
	position: absolute;
	height: 1013px;
	right: 0;	
	width: 177px;
}

.oportunidades-info {
    padding-left: 4%;
    padding-right: 4%;
}
.oportunidades-form {
   
}

.oportunidades-h2 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 6rem;
    text-align: right;
    margin-bottom: 4%;
    padding-top: 7%;
	position: relative;
}
.oportunidades-h2:after{
	background-color: #E36B26;
	content: "";
	height: 5px;
	width: 70%;
	right: 0;
	top:0;
	position: absolute;
} 
.form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
	 font-family: 'Gordita-Medium';
    font-size: 18px;
    line-height: 1.42857143;
    color: #787376;
    background-color: #fff;
    background-image: none;
    border: 3px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.colorplace::-webkit-input-placeholder {
color: #787376;
}  
.colorplace:-moz-placeholder {
/* Firefox 18- */ color: #787376;
}  
.colorplace::-moz-placeholder { 
/* Firefox 19+ */ color: #787376;
}  
.colorplace:-ms-input-placeholder { 
color: #787376; 
}



.oportunidades-btn{
	background-color: #E36A00;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 11px 27px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.oportunidades-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.oportunidades-a:hover{
	color: #fff;
}


/*----- select -----*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
.bootstrap-select > .dropdown-toggle{
    color: #787376;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 0px;
    font-family: 'Gordita-Medium';
    font-size: 18px;
    height: 47px;
    padding: 6px 14px;
	width: 100%;
	z-index: 1;
}


.inputhide{
	display: none;
}
.inputhide2{
	display: none;
}   
.inputhide3{
	display: none;
}

/**/
.oportunidades-fluid{
	padding-right: 220px;
	padding-left: 220px;
}
.oportunidades-div{
	
}
.convocatorias-space {
	margin-bottom: 7%;
    padding:0 0 3%;
	position: relative;
}
.convocatorias-fecha {
    padding-left: 0;
}
.convocatorias-fecha h4{
	color: #000;
	font-family: 'Gordita-Bold';
	font-size: 1.5rem;
	font-style: italic;
	text-align: center;
}
.convocatorias-dia{
	background-color: #E6E7E8; 
	padding: 5%;
}
.convocatorias-dia h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 8rem;
	margin: 0;
	text-align: center;
}
.convocatorias-dia-border{
	 border-radius: 15px 15px 0 0;
}

.convocatorias-fecha-mt{
	margin-top: 3%
}
.convocatorias-mes {
    background-color: #E36A00;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 5%;
}
.convocatorias-mes p{
	color: #fff;
	font-family: 'Gordita-Bold';
	font-size: 1.5rem;
	margin: 0;
	text-align: center;
}
.convocatorias-des {
    padding: 2% 9% 0 3%;
}

.convocatorias-des h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2.5rem;
	margin: 5% 0 2%;
}

.convocatorias-ul{
	padding-left: 0;
	list-style-type: none;
}
.convocatorias-ul li{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.7rem;
	font-style: italic;
}
.convocatorias-ul li.bold{
	font-family: 'Gordita-Bold';
	font-size: 1.5rem;
}

.convocatorias-btn{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin-right: 7%;
}
.convocatorias-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.convocatorias-btn:hover{
	background-color: #fff;
}
.convocatorias-btn:hover .convocatorias-a{
	color: #E36A00;
}

.convocatorias-btn2{
	background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	
}
.convocatorias-a2{	
	color: #E36A00;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.convocatorias-btn2:hover{
	background-color: #E36A00;
}
.convocatorias-btn2:hover .convocatorias-a2{
	color: #fff;
}


.convocatorias-btn-volver{
	background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: block;
	margin: 8% 0 0 auto;
	padding: 9px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	width: 30%;	
	text-align: center;
}
.convocatorias-a-volver{	
	color: #E36A00;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
	display: inline-block;
}
.convocatorias-btn-volver:hover{
	background-color: #E36A00;
}
.convocatorias-btn-volver:hover .convocatorias-a-volver{
	color: #fff;
}

.banner-desktop{	
}
.banner-movil{
	display: none;
}

.convocatorias-sinpadding{
	
}

.convocatorias-etiqueta-btn {  
	 color: #fff;
    font-family: 'Gordita-Bold';
    font-size: 1.8rem;
    text-align: left;
    position: relative;
    border-radius: 7px;
    display: inline-block;
    padding: 8px 22px 8px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
	margin-bottom: 3%;
}
.convocatorias-etiqueta-span{
    color: #fff;
    display: inline-block;
    font-family: 'Gordita-Bold';
    text-align: left;
    transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.convocatorias-etiqueta-frimac{
	background-color: #6A2D12;
    border: 2px solid #6A2D12;
}

.convocatorias-etiqueta-friofrimac{
	background-color: #939598;
    border: 2px solid #939598;
}

.convocatorias-etiqueta-frimaczf{
	background-color: #203346;
    border: 2px solid #203346;
}

/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 100%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.2rem;
		text-align: center;
	}
	.nav-horizontal-oportunidades_home::after {
		left: 13% !important;
	}

	.nav-horizontal-oportunidades_home:hover:after,
	.nav-horizontal-oportunidades_home:focus:after{
		left: 13% !important;
	}
	
	/**/	
	.grupo-btn {
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1.2rem;
	}
	
	.banner-desktop{
		display: none;
	}
	.banner-movil{
		display: block;
	}
	
	.oportunidades-fig {
		display: none;
	}
	
	.title{
		letter-spacing: 4px;
		font-size: 1.8rem;
	}
	.oportunidades-fluid {
		padding-right: 30px;
		padding-left: 30px;
	}
	.oportunidades-title {
		padding-left: 4%;
		padding-bottom: 0;
	}
	.oportunidades-section{
		padding-top: 30px;
		padding-bottom: 90px;
	}
	.oportunidades-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.oportunidades-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	
	.oportunidades-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	.convocatorias-fecha {
		padding-right: 0;
	}
	
	.convocatorias-dia h2{
		font-size: 5rem;
	}
	.convocatorias-mes{
		padding: 3%;
	}
	
	.convocatorias-des {
		padding: 2% 0%;
	}
	.convocatorias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.convocatorias-sinpadding{
		padding: 0;
	}
	.convocatorias-a{
		font-size: 1.4rem;
	}
	.convocatorias-btn {		
		border-radius: 4px;
		display: inline-block;
		padding: 2px 8px;		
		margin-right: 2%;
	}
	.convocatorias-a{
		font-size: 1.4rem;
	}
	.convocatorias-btn2 {		
		border-radius: 4px;
		display: inline-block;
		padding: 2px 8px;		
		margin-right: 2%;
	}
	.convocatorias-a2{
		font-size: 1.4rem;
	}
	
	.convocatorias-etiqueta-btn {		
		font-size: 1.4rem;
		border-radius: 4px;
		padding: 8px 17px 8px;
		margin-top: 5%;
	}
	
	/**/
	.oportunidades-section {
		padding-bottom: 90px;
	}
	
	.oportunidades-h2::after {
		width: 55%;
	}
	.oportunidades-h2::after {
		width: 24%;
		right: auto;
		top: 0;
		left: 0;
	}
	.convocatorias-btn-volver{
		margin: 5% 0 5% 0;
		width: 55%;
	}
	.convocatorias-a-volver{
		font-size: 1.8rem;
	}
	
	.oportunidades-btn{
		padding: 7px 20px;		
	}
	.oportunidades-a{
		font-size: 1.8rem;
	}
	
	/**/
	.img-oportunidadeshomedesktop{
		display: none;
	}
	.img-oportunidadeshomemovil{
		display: block;
	}
	
	.oportunidadeshomecaption .hovernews {
		background-image: url("../images/oportunidades/caption-news-movil.png");
		left: 8%;
		padding-left: 0%;
		padding-right: 0%;
		padding-top: 5%;
		top: 90px;
		width: 85%;
		height: 27%;
	}
	
	.oportunidadeshomecaption .hoverfiles{
		background-image: url("../images/oportunidades/caption-files-movil.png");
		left: 5%;
		height: 27%;
		top: 90px;
		width: 90%;
		padding-top: 2%;
	}
	.oportunidadeshomecaption .hover .info{
		font-size: 2.5rem;
	}
		
	.oportunidadeshome-btn-news {
		top: 23px;
	}
	.oportunidadeshome-btn-files{
		top: 10px;
	}
	.oportunidadeshome-a{
		font-size: 1.5rem;
	}
	.oportunidadeshome-btn{
		padding: 3px 8px;
	}
	.convocatorias-space {
		padding: 0 0 8%;
		border-bottom: 2px solid #8E8E8E;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 100%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.2rem;
		text-align: center;
	}
	.nav-horizontal-oportunidades_home::after {
		left: 22% !important;
	}

	.nav-horizontal-oportunidades_home:hover:after,
	.nav-horizontal-oportunidades_home:focus:after{
		left: 22% !important;
	}
	
	/**/
			
	
	.grupo-btn {
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1.2rem; 
	}
	
	.banner-desktop{
		display: none;
	}
	.banner-movil{
		display: block;
	}
	.oportunidades-section {
		padding-bottom: 90px;
		
	}
	.oportunidades-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.oportunidades-fluid {
		padding-right: 40px;
		padding-left: 40px;
	}
	.oportunidades-title {
		padding-left: 5%;
		padding-bottom: 0;
	}
	
	.oportunidades-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.oportunidades-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 7%;
	}
	
	.oportunidades-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.convocatorias-fecha {
		padding-right: 0;
	}
	
	.convocatorias-dia h2{
		font-size: 5rem;
	}
	.convocatorias-mes{
		padding: 3%;
	}
	
	.convocatorias-des {
		padding: 2% 0%;
	}
	.convocatorias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.convocatorias-sinpadding{
		padding: 0;
	}
	
	.convocatorias-btn {		
		border-radius: 4px;
		display: inline-block;
		padding: 2px 8px;		
		margin-right: 2%;
	}
	
	.convocatorias-btn2 {		
		border-radius: 4px;
		display: inline-block;
		padding: 2px 8px;		
		margin-right: 2%;
	}
	
	
	.convocatorias-etiqueta-btn {		
		font-size: 1.6rem;
		border-radius: 4px;
		padding: 8px 17px 8px;
		margin-top: 5%;
	}
	
	/**/
	.oportunidades-section {
		padding-bottom: 90px;
	}
	
	.oportunidades-h2::after {
		width: 55%;
	}
	.oportunidades-h2::after {
		width: 24%;
		right: auto;
		top: 0;
		left: 0;
	}
	.convocatorias-btn-volver{
		margin: 5% 0 5% 0;
	}
	
	/**/
	.img-oportunidadeshomedesktop{
		display: none;
	}
	.img-oportunidadeshomemovil{
		display: block;
	}
	
	.oportunidadeshomecaption .hovernews {
		background-image: url("../images/oportunidades/caption-news-movil.png");
		left: 15%;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 7%;
		top: 98px;
		width: 70%;
		height: 27%;
	}
	
	.oportunidadeshomecaption .hoverfiles{
		background-image: url("../images/oportunidades/caption-files-movil.png");
		left: 5%;
		height: 27%;
		top: 111px;
		width: 90%;
		padding-top: 7%;
	}
	.oportunidadeshomecaption .hover .info{
		font-size: 3rem;
	}
		
	.oportunidadeshome-btn-news {
		top: 27px;
	}
	.oportunidadeshome-btn-files{
		top: 27px;
	}
	.oportunidadeshome-a{
		font-size: 1.7rem;
	}
	.oportunidadeshome-btn{
		padding: 5px 12px;
	}
	
	.convocatorias-space {
		padding: 0 0 8%;
		border-bottom: 2px solid #8E8E8E;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 100%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.2rem;
		text-align: center;
	}
	.nav-horizontal-oportunidades_home::after {
		left: 28% !important;
	}

	.nav-horizontal-oportunidades_home:hover:after,
	.nav-horizontal-oportunidades_home:focus:after{
		left: 28% !important;
	}
	
	/**/			
	.grupo-btn {
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1.2rem; 
	}
	
	.banner-desktop{
		display: none;
	}
	.banner-movil{
		display: block;
	}
	.oportunidades-section {
		padding-bottom: 90px;
		
	}
	.oportunidades-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.oportunidades-fluid {
		padding-right: 50px;
		padding-left: 50px;
	}
	.oportunidades-title {
		padding-left: 4%;
		padding-bottom: 0;
	}
	
	.oportunidades-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
	}
	
	.oportunidades-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 6%;
	}
	
	.oportunidades-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.convocatorias-fecha {
		padding-right: 0;
	}
	
	.convocatorias-dia h2{
		font-size: 5rem;
	}
	.convocatorias-mes{
		padding: 3%;
	}
	
	.convocatorias-des {
		padding: 2% 0%;
	}
	.convocatorias-des h2 {
		font-size: 2.5rem;
		margin: 3% 0 5%;
	}
	.convocatorias-sinpadding{
		padding: 0;
	}
	
	.convocatorias-btn {		
		border-radius: 4px;
		display: inline-block;
		padding: 2px 8px;		
		margin-right: 2%;
	}
	
	.convocatorias-btn2 {		
		border-radius: 4px;
		display: inline-block;
		padding: 2px 8px;		
		margin-right: 2%;
	}
	
	
	.convocatorias-etiqueta-btn {		
		font-size: 1.6rem;
		border-radius: 4px;
		padding: 8px 17px 8px;
		margin-top: 5%;
	}
	
	/**/
	.oportunidades-section {
		padding-bottom: 90px;
	}
	.oportunidades-h2{
		font-size: 4rem;
	}
	.oportunidades-h2::after {
		width: 55%;
	}
	.oportunidades-h2::after {
		width: 24%;
		right: auto;
		top: 0;
		left: 0;
	}
	.convocatorias-btn-volver{
		margin: 5% 0 5% 0;
	}
	
	/**/
	.oportunidadeshomecaption .hover .info{
		font-size: 3.5rem;
	}
	.oportunidadeshomecaption .hovernews{
		padding-top: 2.5%;
		top: 35px;
	}
	.oportunidadeshomecaption .hoverfiles{
		padding-top: 2.5%;
		top: 35px;
	}
	
	.oportunidadeshome-btn-news {
		top: 6px;
	}
	.oportunidadeshome-btn-files{
		top: 6px;
	}
	.oportunidadeshome-a{
		font-size: 1.7rem;
	}
	.oportunidadeshome-btn{
		padding: 5px 12px;
	}
	
	.convocatorias-space {
		padding: 0 0 8%;
		border-bottom: 2px solid #8E8E8E;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 100%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.2rem;
		text-align: center;
	}
	.nav-horizontal-oportunidades_home::after {
		left: 35% !important;
	}

	.nav-horizontal-oportunidades_home:hover:after,
	.nav-horizontal-oportunidades_home:focus:after{
		left: 35% !important;
	}
	
	/**/
	.grupo-btn {
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1rem;
	}
	.oportunidades-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.oportunidades-title {
		padding-left: 5%;
		padding-bottom: 0;
	}
	
	.oportunidades-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-top: 4%;
	}
	
	.oportunidades-info {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.oportunidades-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.oportunidades-fluid {
		padding-right: 60px;
		padding-left: 60px;
	}

	/**/
	.oportunidades-section {
		padding-bottom: 90px;
	}
	.oportunidades-h2{
		font-size: 4rem;
	}
	.oportunidades-h2::after {
		width: 55%;
	}
	.oportunidades-h2::after {
		width: 24%;
		right: auto;
		top: 0;
		left: 0;
	}
	.convocatorias-btn-volver{
		margin: 5% 0 5% 0;
	}
	.convocatorias-des {
		padding: 2% 0% 0 3%;
	}
	
	/**/
	.oportunidadeshomecaption .hover .info{
		font-size: 4.5rem;
	}
	.oportunidadeshomecaption .hovernews{
		padding-top: 2.5%;
		top: 60px;
	}
	.oportunidadeshomecaption .hoverfiles{
		padding-top: 2.5%;
		top: 60px;
	}
	
	.oportunidadeshome-btn-news {
		top: 20px;
	}
	.oportunidadeshome-a{
		font-size: 1.7rem;
	}
	.oportunidadeshome-btn{
		padding: 5px 12px;
	}
	.convocatorias-space {
		padding: 0 0 8%;
		border-bottom: 2px solid #8E8E8E;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	
	/**/
	.nav-horizontal-oportunidades{
		width: 100%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.2rem;
		text-align: center;
	}
	.nav-horizontal-oportunidades_home::after {
		left: 35% !important;
	}

	.nav-horizontal-oportunidades_home:hover:after,
	.nav-horizontal-oportunidades_home:focus:after{
		left: 35% !important;
	}
	
	/**/
	.grupo-btn {
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1rem;
	}
	.oportunidades-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.oportunidades-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	
	.oportunidades-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-top: 4%;
	}
	
	.oportunidades-info {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.oportunidades-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.oportunidades-fluid {
		padding-right: 60px;
		padding-left: 60px;
	}
	
	/**/
	.oportunidades-section {
		padding-bottom: 90px;
	}
	.oportunidades-h2{
		font-size: 4rem;
	}
	.oportunidades-h2::after {
		width: 55%;
	}
	.oportunidades-h2::after {
		width: 24%;
		right: auto;
		top: 0;
		left: 0;
	}
	.convocatorias-btn-volver{
		margin: 5% 0 5% 0;
	}
	.convocatorias-des {
		padding: 2% 0% 0 3%;
	}
	
	/**/
	.oportunidadeshomecaption .hover .info{
		font-size: 4.5rem;
	}
	.oportunidadeshomecaption .hovernews{
		padding-top: 2.5%;
		top: 60px;
	}
	.oportunidadeshomecaption .hoverfiles{
		padding-top: 2.5%;
		top: 60px;
	}
	
	.oportunidadeshome-btn-news {
		top: 20px;
	}
	.oportunidadeshome-a{
		font-size: 1.7rem;
	}
	.oportunidadeshome-btn{
		padding: 5px 12px;
	}
	.convocatorias-space {
		padding: 0 0 8%;
		border-bottom: 2px solid #8E8E8E;
	}
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	
	/**/
	.nav-horizontal-oportunidades{
		width: 73%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.2rem;
	}
	
	/**/
	
	
	.grupo-a{
		font-size: 1rem;
	}
	.grupo-btn {
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	
	.title {		
		letter-spacing: 10px;
	}
	
	.oportunidades-title {
		padding-left: 6%;
	}
	
	.oportunidades-section {
		padding-bottom: 90px;
	}
	.oportunidades-fig {
		display: none;
	}
	.oportunidades-fluid {
		padding-right: 60px;
		padding-left: 60px;
	}
	.convocatorias-des {
		padding: 2% 0% 0 0%;
	}
	.convocatorias-etiqueta-btn{
		padding: 7px 16px 7px;
		font-size: 1.5rem;
	}
	
	.convocatorias-dia h2 {		
		font-size: 6rem;
	}
	.convocatorias-mes p {
		font-size: 1.3rem;
	}
	.convocatorias-a{
		font-size: 1.4rem;
	}
	.convocatorias-a2{
		font-size: 1.4rem;
	}
	
	/**/
	.oportunidades-h2{
		font-size: 4rem;
	}
	.oportunidadeshomecaption .hover .info{
		font-size: 5.5rem;
	}
	.oportunidadeshomecaption .hovernews{
		padding-top: 2.5%;
		top: 80px;
	}
	.oportunidadeshomecaption .hoverfiles{
		padding-top: 2.5%;
		top: 80px;
	}
	
	.oportunidadeshome-btn-news {
		top: 20px;
	}
	.oportunidadeshome-a{
		font-size: 1.7rem;
	}
	.oportunidadeshome-btn{
		padding: 5px 12px;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 78%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.5rem;
	}
	
	/**/
	
	
	.grupo-a{
		font-size: 1.2rem;
	}
	.grupo-btn {
		padding: 1px 10px 2px;
	}
	
	.oportunidades-fig {
		width: 10%;
	}
	.oportunidades-fluid {
		padding-right: 60px;
		padding-left: 60px;
	}
	.oportunidades-title {
		padding-left: 4%;
	}
	.convocatorias-des {
		padding: 2% 4% 0 1%;
	}
	
	/**/
	.oportunidades-h2{
		font-size: 5rem;
	}
	
	.oportunidadeshomecaption .hover .info{
		font-size: 6.5rem;
	}
	.oportunidadeshomecaption .hovernews{
		padding-top: 2.5%;
		top: 108px;
	}
	.oportunidadeshomecaption .hoverfiles{
		padding-top: 2.5%;
		top: 108px;
	}
	.oportunidadeshome-btn-news {
		top: 20px;
	}
	.oportunidadeshome-a{
		font-size: 1.7rem;
	}
	.oportunidadeshome-btn{
		padding: 5px 12px;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 80%;
	}
	.nav-horizontal-oportunidades_home{
		font-size: 2.5rem;
	}
	
	/**/
	
	.grupo-a{
		font-size: 1.2rem;
	}
	.grupo-btn {
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	
	.oportunidades-fig {
		width: 10%;
	}
	
	.oportunidades-fluid {
		padding-right: 60px;
		padding-left: 60px;
	}
	.oportunidades-title {
		padding-left: 4%;
	}
	.convocatorias-des {
		padding: 2% 4% 0 1%;
	}
	
	/**/
	.oportunidades-h2{
		font-size: 5rem;
	}
	
	.oportunidadeshomecaption .hover .info{
		font-size: 7rem;
	}
	.oportunidadeshomecaption .hovernews{
		padding-top: 2.5%;
		top: 115px;
	}
	.oportunidadeshomecaption .hoverfiles{
		padding-top: 2.5%;
		top: 115px;
	}
	.oportunidadeshome-btn-news {
		top: 30px;
	}
	.oportunidadeshome-a{
		font-size: 1.7rem;
	}
	.oportunidadeshome-btn{
		padding: 5px 12px;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	
	/**/
	.nav-horizontal-oportunidades{
		width: 81%;
	}
	
	/**/
	
	.grupo-a{
		font-size: 1.2rem;
	}
	.grupo-btn {
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
		
	.oportunidades-fluid {
		padding-right: 60px;
		padding-left: 60px;
	}
	.oportunidades-title {
		padding-left: 4%;
	}
	.convocatorias-des {
		padding: 2% 4% 0 1%;
	}
	.oportunidades-fig{
		width: 130px;
	}
	
	/**/
	.oportunidades-h2{
		font-size: 5rem;
	}
	
	.oportunidadeshomecaption .hover .info{
		font-size: 7.5rem;
	}
	.oportunidadeshomecaption .hovernews{
		padding-top: 2.5%;
		top: 122px;
	}
	.oportunidadeshomecaption .hoverfiles{
		padding-top: 2.5%;
		top: 122px;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 81%;
	}
	
	/**/
	
	.grupo-a{
		font-size: 1.4rem;
	}
	.grupo-btn {
		padding: 1px 10px 2px;
	}
	.oportunidades-fluid {
		padding-right: 60px;
		padding-left: 60px;
	}
	.oportunidades-title {
		padding-left: 4%;
	}
	.convocatorias-des {
		padding: 2% 4% 0 1%;
	}
	.oportunidades-fig{
		width: 130px;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	/**/
	.nav-horizontal-oportunidades{
		width: 81%;
	}
	
	/**/
	.oportunidades-fluid {
		padding-right: 160px;
		padding-left: 160px;
	}
	.oportunidades-title {
		padding-left: 9%;
	}
	.convocatorias-des {
		padding: 2% 4% 0 1%;
	}
	.oportunidades-fig{
		width: 130px;
	}
	
	
	
}

