@charset "utf-8";
/* CSS Document */

.transaliados-banner{}
.transaliados-fluid{
	padding: 0;
}
.transaliados-sinpadding{
	padding: 0;
}
.grupo-btn{
	background: rgba(216,101,39,1);
background: -moz-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216,101,39,1)), color-stop(14%, rgba(197,92,40,1)), color-stop(63%, rgba(147,67,32,1)), color-stop(82%, rgba(137,61,29,1)), color-stop(100%, rgba(116,50,22,1)));
background: -webkit-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: -o-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: -ms-linear-gradient(left, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
background: linear-gradient(to right, rgba(216,101,39,1) 0%, rgba(197,92,40,1) 14%, rgba(147,67,32,1) 63%, rgba(137,61,29,1) 82%, rgba(116,50,22,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d86527', endColorstr='#743216', GradientType=1 );
    border: 2px solid transparent;
    border-radius: 7px;
	display: inline-block;
	 padding: 2px 12px 3px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.grupo-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.grupo-btn:hover{
	border: 2px solid #893E1D;
	background: #fff;
}
.grupo-btn:hover .grupo-a{	
	color: #893E1D;
}
.nav-horizontal-portal {
	font-family: 'Gordita-BlackItalic';
    font-size: 3.5rem;
   /* width: 40%;*/
    text-align: left;
}
.nav-horizontal-portal:after {
    background-color: #E36A00;
    content: "";
    height: 3px;
    width: 63px;
    left: 3%;
    top: 0;
    position: absolute;
}
.nav-horizontal-accionistas > 
.nav-horizontal-portal > a {
    padding-top: 10px;
    padding-bottom: 40px;
}
.nav-horizontal-portal:hover:after,
.nav-horizontal-portal:focus:after{
    background-color: #E36A00;
    content: "";
    height: 3px !important;
    width: 63px !important;
    left: 3% !important;
    top: 0 !important;
    position: absolute;
}

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.transaliados-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/


.transaliados-section{
	background-color: #fff;
	padding-bottom: 190px;
	padding-top: 40px;
	position: relative;
}
.transaliados-fig{
	background-image: url("../images/transportadoresaliados/fig.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0px;
	position: absolute;
	height: 1013px;
	right: 0;	
	width: 177px;
}

.transaliados-info {
    padding-left: 4%;
    padding-right: 4%;
}
.transaliados-form {
   
}

.transaliados-h2 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 6rem;
    text-align: right;
    margin-bottom: 4%;
    padding-top: 7%;
	position: relative;
}
.transaliados-h2:after{
	background-color: #E36B26;
	content: "";
	height: 5px;
	width: 70%;
	right: 0;
	top:0;
	position: absolute;
} 
.form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
	 font-family: 'Gordita-Medium';
    font-size: 18px;
    line-height: 1.42857143;
    color: #787376;
    background-color: #fff;
    background-image: none;
    border: 3px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.colorplace::-webkit-input-placeholder {
color: #787376;
}  
.colorplace:-moz-placeholder {
/* Firefox 18- */ color: #787376;
}  
.colorplace::-moz-placeholder { 
/* Firefox 19+ */ color: #787376;
}  
.colorplace:-ms-input-placeholder { 
color: #787376; 
}



.transaliados-btn{
	background-color: #E36A00;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 11px 27px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.transaliados-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.transaliados-a:hover{
	color: #fff;
}

.form-control-p{
	color: #000;
	font-family: 'Gordita-Medium';
    font-size: 18px;
}



/*----- select -----*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
.bootstrap-select > .dropdown-toggle{
    color: #787376;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 0px;
    font-family: 'Gordita-Medium';
    font-size: 18px;
    height: 47px;
    padding: 6px 14px;
	width: 100%;
	z-index: 1;
}


.inputhide{
	display: none;
}
.inputhide2{
	display: none;
}   
.inputhide3{
	display: none;
}

.transaliados-title-h2 {
    color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 2.5rem;
    text-align: left;
    display: none;
	padding-top: 2%;
    margin-bottom: 3%;
	position: relative;
}
.transaliados-title-h2::after {
    background-color: #E36A00;
    content: "";
    height: 3px;
    width: 63px;
    left: 1%;
    top: 0;
    position: absolute;
}

.banner-desktop{	
}
.banner-movil{
	display: none;
}


/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
		
	.transaliados-section{
		padding-top: 30px;
	}
	
	.grupo-btn {
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1.2rem; 
	}
	
	.transaliados-fig {
		display: none;
	}
	.banner-desktop{
		display: none;
	}
	.banner-movil{
		display: block;
	}
	.title{
		letter-spacing: 7px;
	}
	.transaliados-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	
	.transaliados-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-top: 3%;
	}
	.transaliados-h2::after {		
		height: 5px;
		width: 27%;
		right: auto;
		top: 0;
		left: 0;
	}
	.transaliados-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	
	.transaliados-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.transaliados-title-h2 {
		display: block;
		padding-left: 5%;
	}
	
	.transaliados-title-h2::after {
		left: 6%;
	}
	.transaliados-a{
		font-size: 1.7rem;
	}
	.transaliados-btn{
		padding: 8px 22px;
	}
	
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
		
	.grupo-btn {
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1.2rem; 
	}
	.transaliados-fig {
		display: none;
	}
	.banner-desktop{
		display: none;
	}
	.banner-movil{
		display: block;
	}
	.title{
		letter-spacing: 11px;
	}
	.transaliados-title {
		padding-left: 5%;
		padding-bottom: 0;
	}
	
	.transaliados-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-top: 3%;
	}
	.transaliados-h2::after {		
		height: 5px;
		width: 27%;
		right: auto;
		top: 0;
		left: 0;
	}
	.transaliados-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 6%;
	}
	
	.transaliados-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.transaliados-title-h2 {
		display: block;
		padding-left: 5%;
	}
	
	.transaliados-title-h2::after {
		left: 6%;
	}
	.transaliados-a{
		font-size: 1.7rem;
	}
	.transaliados-btn{
		padding: 8px 22px;
	}
	
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
			
	.grupo-btn {
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1.2rem; 
	}
	.transaliados-fig {
		display: none;
	}
	.banner-desktop{
		display: none;
	}
	.banner-movil{
		display: block;
	}
	.title{
		letter-spacing: 11px;
	}
	.transaliados-title {
		padding-left: 4%;
		padding-bottom: 0;
	}
	
	.transaliados-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-top: 3%;
	}
	.transaliados-h2::after {		
		height: 5px;
		width: 27%;
		right: auto;
		top: 0;
		left: 0;
	}
	.transaliados-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 6%;
	}
	
	.transaliados-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.transaliados-title-h2 {
		display: block;
		padding-left: 5%;
	}
	
	.transaliados-title-h2::after {
		left: 6%;
	}
	.transaliados-a{
		font-size: 1.7rem;
	}
	.transaliados-btn{
		padding: 8px 22px;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.grupo-btn {
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1rem;
	}
	.transaliados-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.transaliados-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	
	.transaliados-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-top: 3%;
	}
	.transaliados-h2::after {		
		height: 5px;
		width: 27%;
		right: auto;
		top: 0;
		left: 0;
	}
	.transaliados-info {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.transaliados-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.transaliados-title-h2 {
		display: block;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.grupo-btn {
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a {
		font-size: 1rem;
	}
	.transaliados-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.transaliados-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	
	.transaliados-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-top: 3%;
	}
	.transaliados-h2::after {		
		height: 5px;
		width: 27%;
		right: auto;
		top: 0;
		left: 0;
	}
	.transaliados-info {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.transaliados-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.transaliados-title-h2 {
		display: block;
	}
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.transaliados-fig {
		display: none;
	}
	.nav-horizontal-portal {
		font-size: 2.5rem;
	}
	.grupo-a{
		font-size: 1rem;
	}
	.grupo-btn {
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.transaliados-h2{
		font-size: 5rem;
	}
	.transaliados-h2::after {		
		width: 60%;		
	}
	.form-control{
		font-size: 16px;
	}
	.form-control-p{
		font-size: 16px;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.transaliados-fig {
		width: 7%;
		height: 690px;
	}
	.nav-horizontal-portal {
		font-size: 2.5rem;
	}
	.grupo-a{
		font-size: 1.2rem;
	}
	.grupo-btn {
		padding: 1px 10px 2px;
	}
	.transaliados-h2{
		font-size: 5rem;
	}
	.transaliados-h2::after {		
		width: 60%;		
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.transaliados-fig {
		width: 8%;
		height: 690px;
	}
	.nav-horizontal-portal {
		font-size: 2.5rem;
	}
	.grupo-a{
		font-size: 1.2rem;
	}
	.grupo-btn {
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.transaliados-h2{
		font-size: 5rem;
	}
	.transaliados-h2::after {		
		width: 60%;		
	}

	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.transaliados-fig {
		width: 10%;
	}
	.nav-horizontal-portal {
		font-size: 2.7rem;
	}
	.grupo-a{
		font-size: 1.2rem;
	}
	.grupo-btn {
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.transaliados-h2{
		font-size: 5rem;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.grupo-a{
		font-size: 1.4rem;
	}
	.grupo-btn {
		padding: 1px 10px 2px;
	}
	
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	
}

