<!DOCTYPE html>
<html lang="es">

   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   </head>
   <body>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
            <td align="center" valign="top" bgcolor="#F7F7F7" style="background-color:#F7F7F7;">
               <br>
               <br>
               <table width="600" border="0" cellspacing="0" cellpadding="0">                  
                  <tr>
                     <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:0px 5px 0px 15px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td align="left" valign="top" style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#000000;">
                                 <div style="font-family:Georgia, "Times New Roman", Times, serif; font-size:30px; color:#0F6487; text-align: center;">
                                    <img src="images/email/header.png" style="max-width: 100%;">
								 	 <h2 style=" padding-left:20px;">Activa tu cuenta</h2>
									 <p style=" padding-left:20px;">Para activar tu cuenta de Frimac por favor visita <a href="{{ activationLink }}">{{ activationLink }}</a> en tu navegador y crea la contraseña de tu cuenta.</p>
								 </div>
                                 <div>                                 	
                                    <h3 style=" padding-left:20px;">Datos de la cuenta</h3>
									  <ul>
										<li>Nombre de usuario: <strong>{{ user.username }}</strong></li>
										<li>Nombre: {{ user.name }}</li>
										<li>Correo electónico: {{ user.email }}</li>
										<li>Fecha de creación: {{ user.createdAt }}</li>
									  </ul>
                                    <br>
                                  	<img src="images/email/footer.png" style="max-width: 100%;">
                                    <p style="text-align: center; font-size: 15spx">
                                    Desarrollado por Los Otros Agencia © 2020. Todos los derechos reservados.</p>
                                 </div>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
              
            </td>
         </tr>
      </table>
   </body>

</html>
