@charset "utf-8";
/* CSS Document */


.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
	padding-left: 11%;
}

/**/

.beneficioszf-title{
	padding-bottom: 30px;
	padding-top: 50px;
}
.beneficioszf-section{
	background-color: #fff;
	position: relative;
	padding-bottom: 120px;
}
.beneficioszf-fluid{
	padding-left: 11%;
	padding-right: 11%;
}

.beneficioszf-info {
    padding: 4% 2% 2% 0%;
}
.beneficioszf-logozf {
    padding: 3% 0 0;
}

.beneficioszf-row1{
	padding-bottom: 50px;
}
.beneficioszf-row2{
	padding-bottom: 90px;
}
.beneficioszf-row3{	
}
.beneficioszf-row4{	
}
.beneficioszf-row5{
	padding-bottom: 90px;
}
.beneficioszf-row6{
	padding-bottom: 90px;
}
.beneficioszf-row7{
	padding-bottom: 90px;
}


.beneficioszf-h2{
	color: #000;
	font-family: 'Gordita-BlackItalic';
	font-size: 3.5rem;
	margin: 0 0 2% 0;
	position: relative;
}
.beneficioszf-h2:after{
    content: "";
    background-color: #234061;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}

.beneficioszf-p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.8rem;
}

.beneficioszf-p img{
	margin-bottom: 2%;
	margin-top: 2%;
}
.beneficioszf-fig{
	background-image: url(../images/infraestructura/fig-02.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 668px;
	width: 172px;
	position: absolute;
	right: 0;
	bottom: -1px;
}
.beneficioszf-img{
	padding: 0 0% 0 0;
}

.beneficioszf-servicios-div{
	height: 235px;
}
.beneficioszf-servicios-div h3{
	color: #000;
	font-family: 'Gordita-Bold';
	font-size: 1.6rem;
	text-align: center;
}

.beneficioszf-mjc-ico{}
.beneficioszf-mjc-tabla{}

.beneficioszf-emr-ico{}
.beneficioszf-emr-info{}

.beneficioszf-servicios-title {
	margin-bottom: 3%;
}
.beneficioszf-servicios-title h3 {
    color: #fff;
    font-family: 'Gordita-Bold';
    font-size: 2.7rem;
    text-align: left;
    position: relative;
}
.beneficioszf-servicios-btn1 {
    background-color: #1B5289;
    border: 2px solid #1B5289;
    border-radius: 7px;
    display: inline-block;
    padding: 10px 20px 14px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.beneficioszf-servicios-span1 {
    color: #fff;
    display: inline-block;
    font-family: 'Gordita-Bold';
    text-align: left;
    transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.beneficioszf-servicios-btn2 {
    background-color: #0E2844;
    border: 2px solid #0E2844;
    border-radius: 7px;
    display: inline-block;
    padding: 10px 20px 14px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.beneficioszf-servicios-span2 {
    color: #fff;
    display: inline-block;
    font-family: 'Gordita-Bold';
    text-align: left;
    transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.beneficioszf-clic-a{
	color: #000;
    display: inline;
    font-family: 'Gordita-Bold'; 
	font-size: 2.2rem;
	font-style: italic;
    text-align: left;
}
.beneficioszf-clic-btn {
    background-color: #0E2844;
    border: 2px solid #0E2844;
    border-radius: 7px;
    display: inline-block;
    padding: 5px 16px 9px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
	margin-left: 2%;
}
.beneficioszf-clic-span{
    color: #fff;
    display: inline-block;
    font-family: 'Gordita-Bold';
    text-align: left;
    transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0);
    transform-origin: 50% 50%;
	font-size: 1.8rem;
	font-style: normal;
}

#sync1 .item{
    background-color:transparent;
    padding: 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
   background-color:transparent;
	 z-index:100;
    padding: 10px;	
    margin: 0px;
    color: rgba(255,255,255,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}


#sync2 .synced .item{
  background: rgba(255,255,255,.3);
   
}
.tabla-bene-desktop{}
.incentivos-movil{
	display: none;
}

/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.beneficioszf-title {
		padding-bottom: 15px;
		padding-top: 10px;
	}
	.title{
		letter-spacing: 7px;
		padding-left: 3%;
	}
	.beneficioszf-section {
		padding-bottom: 40px;
	}
	.beneficioszf-fluid {
		padding-left: 11%;
		padding-right: 11%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 2.8rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		display: none;
	}
	.beneficioszf-servicios-div {
		height: 198px;
		margin-bottom: 5%;
		width: 48%;
		margin-left: 1%;
		padding: 0;
	}
	.beneficioszf-row5 {
		padding-bottom: 20px;
	}
	.beneficioszf-row6 {
		padding-bottom: 60px;
	}

	.beneficioszf-clic-a{		
		font-size: 1.5rem;
	}
	.beneficioszf-clic-span{		
		font-size: 1.4rem;
	}
	.beneficioszf-clic-btn{
		padding: 3px 16px 5px;
		margin-left: 0;
		margin-top: 4%;
	}
	.beneficioszf-p img {
		margin-bottom: 6%;
		margin-top: 6%;
	}

	.tabla-bene-desktop{
		display: none;
	}
	.incentivos-movil{
		display: block;
	}

	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.beneficioszf-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
		padding-left: 3%;
	}
	.beneficioszf-section {
		padding-bottom: 40px;
	}
	.beneficioszf-fluid {
		padding-left: 11%;
		padding-right: 11%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 3rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		display: none;
	}
	.beneficioszf-servicios-div {
		height: 235px;
		margin-bottom: 5%;
		width: 48%;
		margin-left: 1%;
	}
	.tabla-bene-desktop{
		display: none;
	}
	.incentivos-movil{
		display: block;
	}
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.beneficioszf-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 11px;
		padding-left: 3%;
	}
	.beneficioszf-section {
		padding-bottom: 40px;
	}
	.beneficioszf-fluid {
		padding-left: 7%;
		padding-right: 7%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 3.2rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		display: none;
	}
	.beneficioszf-servicios-div {
		height: 235px;
		margin-bottom: 5%;
		width: 48%;
		margin-left: 1%;
	}
	.tabla-bene-desktop{
		display: none;
	}
	.incentivos-movil{
		display: block;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.beneficioszf-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 11px;
		padding-left: 3%;
	}
	.beneficioszf-section {
		padding-bottom: 40px;
	}
	.beneficioszf-fluid {
		padding-left: 7%;
		padding-right: 7%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 3.2rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		display: none;
	}
	
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.beneficioszf-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 11px;
		padding-left:3%;
	}
	.beneficioszf-section {
		padding-bottom: 40px;
	}
	.beneficioszf-fluid {
		padding-left: 7%;
		padding-right: 7%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 3.2rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		display: none;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.beneficioszf-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.beneficioszf-section {
		padding-bottom: 40px;
	}
	.beneficioszf-fluid {
		padding-left: 7%;
		padding-right: 7%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 3.2rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		width: 8%;
	}
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	
	.title{
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.beneficioszf-fluid {
		padding-left: 7%;
		padding-right: 7%;
	}
	.beneficioszf-section {
		padding-bottom: 40px;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 3.2rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		width: 8%;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.title{
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.beneficioszf-fluid {
		padding-left: 7%;
		padding-right: 7%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.3rem;
	}
	.beneficioszf-h2{
		font-size: 3.2rem;
	}
	.beneficioszf-p{		
		font-size: 1.6rem;
	}
	.beneficioszf-fig{
		width: 8%;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.title{
		padding-left: 7%;
	}
	.beneficioszf-fluid {
		padding-left: 7%;
		padding-right: 7%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.4rem;
	}
	
	.beneficioszf-fig{
		width: 8%;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.title{
		padding-left: 9%;
	}
	.beneficioszf-fluid {
		padding-left: 9%;
		padding-right: 9%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.5rem;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.title{
		padding-left: 9%;
	}
	.beneficioszf-fluid {
		padding-left: 9%;
		padding-right: 9%;
	}
	.beneficioszf-servicios-title h3{
		font-size: 2.5rem;
	}
	.beneficioszf-servicios-div h3{
		font-size: 1.5rem;
	}
	
	
}