@charset "utf-8";
/* CSS Document */


/* eventos */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 10px;
}
.eventos-section{
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.eventos-section-fluid{
	padding-left: 150px;
	padding-right: 150px;
}

.eventos-section-fig1 {
	background-image: url("../images/eventos/fig.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
    position: absolute;
	height: 1014px;
  	right: -1px;
	bottom: -1px;
	width: 178px;
}



.eventos-space {
    padding-bottom: 3%;
    border-bottom: 3px solid #8E8E8E;
    margin-top: 3%;
	position: relative;
}
.eventos-fecha {
    padding-left: 0;
}
.eventos-dia{
	background-color: #E6E7E8; 
	padding: 5%;
}
.eventos-dia h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 8rem;
	margin: 0;
	text-align: center;
}
.eventos-dia-border{
	 border-radius: 15px 15px 0 0;
}

.eventos-fecha-mt{
	margin-top: 3%
}
.eventos-mes {
    background-color: #E36A00;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 5%;
}
.eventos-mes p{
	color: #fff;
	font-family: 'Gordita-Bold';
	font-size: 2.5rem;
	margin: 0;
	text-align: center;
}
.eventos-des {
    padding: 2% 9% 0 3%;
}

.eventos-des h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 3.5rem;
	margin: 0 0 2%;
}

.eventos-desamp{
	padding: 2% 3%;
}
.eventos-desamp h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 3.5rem;
	margin: 0 0 3%;
}
.eventos-desamp p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.7rem;
	margin: 0 0 4%;
}

.eventos-div-btn{
	text-align: right;
}
.eventos-btn{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin-left: 3%;
}
.eventos-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.eventos-btn:hover{
	background-color: #fff;
}
.eventos-btn:hover .eventos-a{
	color: #E36A00;
}



.eventos-btn-asistir {
    background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
    display: block;
    padding: 4px 12px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
    width: 256px;
    margin-left: auto;
    margin-bottom: 2%;
}
.eventos-a-asistir{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.eventos-btn-asistir:hover{
	background-color: #fff;
}
.eventos-btn-asistir:hover .eventos-a-asistir{
	color: #E36A00;
}

.eventos-btn-ampliar {
    background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
    display: block;
    padding: 4px 12px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
    width: 310px;
    margin-left: auto;
    margin-bottom: 2%;
}
.eventos-a-ampliar{	
	color: #E36A00;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.eventos-btn-ampliar:hover{
	background-color: #E36A00;
}
.eventos-btn-ampliar:hover .eventos-a-ampliar{
	color: #fff;
}



.eventos-btn-memorias {
    background-color: #818285;
    border: 2px solid #818285;
    border-radius: 7px;
    display: block;
    padding: 4px 12px;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
    margin-right: 0;
    width: 292px;
    margin-left: auto;
    margin-bottom: 2%;
}
.eventos-a-memorias{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.eventos-btn-memorias:hover{
	background-color: #fff;
}
.eventos-btn-memorias:hover .eventos-a-memorias{
	color: #818285;
}

.eventos-btn-volver{
	background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: block;
	margin-top: 15%;
	padding: 9px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	width: 100%;	
	text-align: center;
}
.eventos-a-volver{	
	color: #E36A00;
	font-family: 'Gordita-Black';
	font-size: 2.2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
}
.eventos-btn-volver:hover{
	background-color: #E36A00;
}
.eventos-btn-volver:hover .eventos-a-volver{
	color: #fff;
}



#sync1 .item{
    background-color:transparent;
    padding: 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
   background-color:transparent;
	 z-index:100;
    padding: 10px;	
    margin: 0px;
    color: rgba(255,255,255,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}


#sync2 .synced .item{
  background: rgba(255,255,255,.3);
   
}

.eti-primicia{
	position: absolute;
	left: 16px;
	top: 0;
}
.eti-grupo{
	position: absolute;
	right: 16px;
	top: 40px;
}

/*------ PAGINADOR ------*/

.paginador-ul{	
	list-style-type: none;	
	margin-top: 8%;
	padding-left: 0;
	text-align: center;
}

.paginador-ul li{
	background-color: #DDDDDD;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2.5rem;	
	padding: 6px 15px;	
}
.paginador-ul li.active{
	background-color: #E36A00;
	color: #fff;
}
.paginador-ul li:hover{
	background-color: #E36A00;
	color: #fff;
}
.paginador-ul li.arrow{
	background-color: #fff;color: #ddd;
}

/**/
.eventos-ul{
	padding-left: 0;
	list-style-type: none;
}
.eventos-ul li{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.7rem;
}
.eventos-ul li span{
	font-family: 'Gordita-Bold';
}

/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.eventos-section {
		padding-top: 50px;
	}
	
	.eventos-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 7px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.eventos-fecha {
		padding-right: 0;
	}
	.eventos-dia h2{
		font-size: 5rem;
	}
	.eventos-mes{
		padding: 3%;
	}
	.eventos-mes p{
		font-size: 2rem;		
	}
	.eventos-des {
		padding: 2% 3%;
	}
	.eventos-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.eventos-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.eventos-section-fig1 {
		display: none;
	}
	.eventos-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.eventos-desamp p{
		font-size: 1.6rem;
	}
	.eventos-a-leer{
		font-size: 1.8rem;
	}
	.eventos-a-volver{
		font-size: 1.8rem;
	}
	.eventos-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	.eventos-a-memorias{
		font-size: 1.8rem;
	}
	.eventos-a-asistir{
		font-size: 1.8rem;
	}
	.eventos-a-ampliar{
		font-size: 1.8rem;
	}
	.eventos-btn{
		margin-bottom: 5%;
		padding: 4px 12px 2px;
	}
	.eventos-btn-asistir{
		width: 100%;
		margin-bottom: 5%;
	}
	.eventos-btn-memorias{
		margin-right: 0;
		margin-bottom: 5%;
		width: 100%;
	}
	.eventos-btn-ampliar{
		width: 100%;
	}
	.eventos-div-btn {
		text-align: center;
	}
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.eventos-section {
		padding-top: 50px;
	}
	
	.eventos-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.eventos-fecha {
		padding-right: 0;
	}
	.eventos-dia h2{
		font-size: 5rem;
	}
	.eventos-mes{
		padding: 3%;
	}
	.eventos-mes p{
		font-size: 2rem;		
	}
	.eventos-des {
		padding: 2% 3%;
	}
	.eventos-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.eventos-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.eventos-section-fig1 {
		display: none;
	}
	.eventos-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.eventos-desamp p{
		font-size: 1.6rem;
	}
	.eventos-a-leer{
		font-size: 1.8rem;
	}
	.eventos-a-volver{
		font-size: 1.8rem;
	}
	.eventos-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	.eventos-a-memorias{
		font-size: 1.8rem;
	}
	.eventos-btn-asistir{
		margin-bottom: 5%;
	}
	.eventos-a-asistir{
		font-size: 1.8rem;
	}
	.eventos-btn{
		margin-bottom: 5%;
		padding: 4px 12px 2px;
	}
	.eventos-btn-memorias{
		margin-right: 0;
		margin-bottom: 5%;
	}	
	.eventos-a-ampliar{
		font-size: 1.8rem;
	}
	.eventos-div-btn {
		text-align: center;
	}
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.eventos-section {
		padding-top: 50px;
	}
	
	.eventos-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.eventos-fecha {
		padding-right: 0;
	}
	.eventos-dia h2{
		font-size: 5rem;
	}
	.eventos-mes{
		padding: 3%;
	}
	.eventos-mes p{
		font-size: 2rem;		
	}
	.eventos-des {
		padding: 2% 3%;
	}
	.eventos-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.eventos-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.eventos-section-fig1 {
		display: none;
	}
	.eventos-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.eventos-desamp p{
		font-size: 1.6rem;
	}
	.eventos-a-leer{
		font-size: 1.8rem;
	}
	.eventos-a-volver{
		font-size: 1.8rem;
	}
	.eventos-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	.eventos-a-memorias{
		font-size: 1.8rem;
	}
	.eventos-btn-asistir{
		margin-bottom: 5%;
	}
	.eventos-a-asistir{
		font-size: 1.8rem;
	}
	.eventos-btn{
		margin-bottom: 5%;
		padding: 4px 12px 2px;
	}
	.eventos-btn-memorias{
		margin-right: 0;
		margin-bottom: 5%;
	}	
	.eventos-a-ampliar{
		font-size: 1.8rem;
	}
	.eventos-div-btn {
		text-align: center;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.eventos-section {
		padding-top: 50px;
	}
	
	.eventos-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
		
	.eventos-fecha {
		padding-right: 0;
	}
	.eventos-dia h2{
		font-size: 5rem;
	}
	.eventos-mes{
		padding: 3%;
	}
	.eventos-mes p{
		font-size: 2rem;		
	}
	.eventos-des {
		padding: 2% 3%;
	}
	.eventos-des h2 {
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.eventos-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.eventos-section-fig1 {
		display: none;
	}
	.eventos-desamp h2{
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.eventos-desamp p{
		font-size: 1.6rem;
	}
	.eventos-a-leer{
		font-size: 1.8rem;
	}
	.eventos-a-volver{
		font-size: 1.8rem;
	}
	.eventos-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 40%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.eventos-section {
		padding-top: 50px;
	}
	
	.eventos-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	
	.eventos-fecha {
		padding-right: 0;
	}
	.eventos-dia h2{
		font-size: 5rem;
	}
	.eventos-mes{
		padding: 3%;
	}
	.eventos-mes p{
		font-size: 2rem;		
	}
	.eventos-des {
		padding: 2% 3%;
	}
	.eventos-des h2 {
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.eventos-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.eventos-section-fig1 {
		display: none;
	}
	.eventos-desamp h2{
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.eventos-desamp p{
		font-size: 1.6rem;
	}
	.eventos-a-leer{
		font-size: 1.8rem;
	}
	.eventos-a-volver{
		font-size: 1.8rem;
	}
	.eventos-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 40%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.eventos-section-fig1{
		display: none;
	}
	.eventos-desamp h2{
		font-size: 3rem;
	}
	.eventos-des h2 {
		font-size: 3rem;
	}
	.eventos-desamp p{
		font-size: 1.5rem;
	}
	.eventos-mes p{
		font-size: 2.2rem;
	}
	.eventos-dia h2{
		font-size: 7rem;
	}
	.eventos-section-fig2 {		
		width: 7%;
	}
	.eventos-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.eventos-a-volver{
		font-size: 2rem;			
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.eventos-section-fig1{
		width: 100px;
	}
	.eventos-desamp h2{
		font-size: 3rem;
	}
	.eventos-des h2 {
		font-size: 3rem;
	}
	.eventos-desamp p{
		font-size: 1.5rem;
	}
	.eventos-mes p{
		font-size: 2.2rem;
	}
	.eventos-dia h2{
		font-size: 7rem;
	}
	.eventos-section-fig2 {		
		width: 7%;
	}
	.eventos-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.eventos-a-volver{
		font-size: 2rem;			
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.eventos-section-fig1{
		width: 130px;
	}
	
	.eventos-desamp h2{
		font-size: 3rem;
	}
	.eventos-des h2 {
		font-size: 3rem;
	}
	.eventos-desamp p{
		font-size: 1.5rem;
	}
	.eventos-mes p{
		font-size: 2.2rem;
	}
	.eventos-dia h2{
		font-size: 7rem;
	}
	.eventos-section-fig2 {		
		width: 10%;
	}
	.eventos-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.eventos-a-volver{
		font-size: 2rem;			
	}
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.eventos-section-fig1{
		width: 140px;
	}
	.eventos-desamp h2{
		font-size: 3rem;
	}
	.eventos-des h2 {
		font-size: 3rem;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.eventos-desamp h2{
		font-size: 3rem;
	}
	.eventos-des h2 {
		font-size: 3rem;
	}
	
	
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.eventos-desamp h2{
		font-size: 3.2rem;
	}
	.eventos-des h2 {
		font-size: 3.2rem;
	}
	
	
	
}
