@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
	padding-left: 11%;
}

/**/

.nosotros-title{
	padding-bottom: 30px;
	padding-top: 50px;
}
.nosotros-section{
	background-color: #E6E7E8;
	position: relative;
}


.nosotros-info{
	 padding: 6% 5% 2% 11%;
}
.nosotros-h2{
	color: #000;
	font-family: 'Gordita-BlackItalic';
	font-size: 3.5rem;
	margin: 0 0 5% 0;
	position: relative;
}
.nosotros-h2:after{
    content: "";
    background-color: #234061;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}

.nosotros-p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.8rem;
}
.nosotros-fig{
	background-image: url(../images/nosotros/fig-01.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 631px;
	width: 112px;
	position: absolute;
	left: 0;
	top: -2px;
}
.nosotros-img{
	padding: 0;
}
/**/
.nosotros-collage{
	background-color: #fff;
	padding-bottom: 180px;
	padding-top: 90px;
	position: relative;
}
.nosotros-collage-fluid{
    padding: 0;
    z-index: 9;
    position: relative;
}
.nosotros-fig02{
	background-image: url(../images/nosotros/fig-02.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 687px;
	width: 147px;
	position: absolute;
	right: 0;
	bottom: -1px;
}



/**/
.overflow-2{ 
	overflow-y:auto;
}
.overflow-a{
	height: 313px;
}

/***/
.historia-section{
	background-color: #E6E7E8;
	position: relative;
	margin-bottom: 5%;
}
.fluid-historia{
	padding: 0;
}
.historia-fig02{
	background-image: url(../images/nosotros/fig-02.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 687px;
	width: 147px;
	position: absolute;
	right: 0;
	bottom: -98px;
	z-index: 9;
}

.historia-img{
	padding: 0;
}



/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.title {	
		letter-spacing: 5px;
		margin-bottom: 0%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	.nosotros-title {
		padding-top: 20px;
	}
	.nosotros-info {
		padding: 8% 8% 6% 8%;
	}
	.nosotros-h2{
		font-size: 2.8rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.nosotros-fig02{
		display: none;
	}
	.nosotros-collage{
		padding-bottom: 90px;
		padding-top: 50px;
	}
	.nosotros-fig{
		display: none;
	}
	.historia-fig02{
		display: none;
	}
	.overflow-a {
		height: auto;
	}

	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 0%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	.nosotros-title {
		padding-top: 20px;
	}
	.nosotros-info {
		padding: 8% 8% 6% 8%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.nosotros-fig02{
		display: none;
	}
	.nosotros-collage{
		padding-bottom: 90px;
		padding-top: 50px;
	}
	.nosotros-fig{
		display: none;
	}
	.historia-fig02{
		display: none;
	}
	.overflow-a {
		height: auto;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 0%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	.nosotros-title {
		padding-top: 20px;
	}
	.nosotros-info {
		padding: 8% 8% 6% 8%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.nosotros-fig02{
		width: 60px;
		height: 300px;
	}
	.nosotros-collage{
		padding-bottom: 90px;
		padding-top: 50px;
	}
	.nosotros-fig{
		display: none;
	}
	.historia-fig02{
		display: none;
	}
	.overflow-a {
		height: auto;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 0%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	.nosotros-title {
		padding-top: 20px;
	}
	.nosotros-info {
		padding: 8% 5% 6% 11%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.nosotros-fig02{
		width: 60px;
		height: 300px;
	}
	.nosotros-collage{
		padding-bottom: 90px;
	}
	.historia-fig02{
		width: 133px;
		height: 560px;
	}
	.overflow-a {
		height: auto;
	}
	
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.title {	
		letter-spacing: 11px;
		margin-bottom: 0%;
	}
	
	/* nosotros */
	.nostros-section {
		padding-top: 50px;
	}
	.nosotros-title {
		padding-top: 20px;
	}
	.nosotros-info {
		padding: 8% 5% 6% 11%;
	}
	.nosotros-h2{
		font-size: 3rem;
	}
	.nosotros-p {
		font-size: 1.6rem;
	}
	.nosotros-fig02{
		width: 60px;
		height: 300px;
	}
	.nosotros-collage{
		padding-bottom: 90px;
		padding-top: 50px;
	}
	.historia-fig02{
		width: 133px;
		height: 560px;
	}
	.overflow-a {
		height: auto;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	
	.title{
		letter-spacing: 11px;
	}
	/* nosotros */
	.nosotros-title {
		padding-bottom: 10px;
		padding-top: 20px;
	}
	.nostros-section {
		padding-top: 70px;
	}
	.nosotros-info{
		padding: 5% 5% 2% 11%;
	}
	.nosotros-h2{
		font-size: 2.2rem;
	}
	.nosotros-p{
		font-size: 1.2rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.5rem;
	}
	.overflow-a {
		height: 237px;
	}
	
	.nosotros-fig02{
		width: 97px;
		height: 497px;
	}
	.historia-fig02{
		width: 79px;
	}
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.title{
		letter-spacing: 11px;
	}
	/* nosotros */
	.nostros-section {
		padding-top: 70px;
	}
	.nosotros-info {
		padding: 6% 5% 2% 10%;
	}
	.nosotros-h2{
		font-size: 2.6rem;
	}
	.nosotros-p{
		font-size: 1.3rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.7rem;
	}
	.overflow-a {
		height: 237px;
	}
			
	.nosotros-fig02{
		width: 93px;
	}
	.historia-fig02{
		width: 90px;
	}
	
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.title{
		letter-spacing: 11px;
	}
	/* nosotros */
	.nostros-section {
		padding-top: 70px;
	}
	.nosotros-info {
		padding: 6% 5% 2% 10%;
	}
	.nosotros-h2{
		font-size: 2.6rem;
	}
	.nosotros-p{
		font-size: 1.3rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.7rem;
	}
	.overflow-a {
		height: 253px;
	}
		
	.nosotros-fig02{
		width: 93px;
	}
	.historia-fig02{
		width: 93px;
	}
		
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	
	/* nosotros */
	.nosotros-info {
		padding: 6% 5% 2% 10%;
	}
	.nosotros-h2{
		font-size: 2.8rem;
	}
	.nosotros-p{
		font-size: 1.4rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 1.8rem;
	}
	.overflow-a {
		height: 275px;
	}
	
	.quienesomos-info {
		padding: 3% 5% 2% 8%;
	}
	.nosotros-fig02{
		width: 93px;
	}
	.historia-fig02{
		width: 93px;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	/* nosotros */
	.nosotros-info {
		padding: 6% 5% 2% 10%;
	}
	.nosotros-h2{
		font-size: 3.2rem;
	}
	.nosotros-p{
		font-size: 1.45rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 2rem;
	}
	.overflow-a {
		height: 293px;
	}
	.historia-fig02{
		width: 99px;
	}
	

	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	/* nosotros */
	.nosotros-info {
		padding: 6% 5% 2% 10%;
	}
	.nosotros-h2{
		font-size: 3.2rem;
	}
	.nosotros-p{
		font-size: 1.55rem;
	}
	.nosotros-p span.span-h3 {
		font-size: 2rem;
	}
	.overflow-a {
		height: 312px;
	}
	
	.historia-fig02 {
		width: 105px;		
	}
	
	
}