@charset "utf-8";
/* CSS Document */


.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
	padding-left: 11%;
}

/**/

.infra-title{
	padding-bottom: 30px;
	padding-top: 50px;
}
.infra-section{
	background-color: #fff;
	position: relative;
	padding-bottom: 120px;
}


.infra-info{
	 padding: 2% 5% 2% 11%;
}
.infra-h2{
	color: #000;
	font-family: 'Gordita-BlackItalic';
	font-size: 3.5rem;
	margin: 0 0 5% 0;
	position: relative;
}
.infra-h2:after{
    content: "";
    background-color: #234061;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}

.infra-p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.8rem;
}
.infra-fig{
	background-image: url(../images/infraestructura/fig-02.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 668px;
	width: 172px;
	position: absolute;
	right: 0;
	bottom: -1px;
}
.infra-img{
	padding: 0 14% 0 0;
}




#sync1 .item{
    background-color:transparent;
    padding: 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
   background-color:transparent;
	 z-index:100;
    padding: 10px;	
    margin: 0px;
    color: rgba(255,255,255,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}


#sync2 .synced .item{
  background: rgba(255,255,255,.3);
   
}

/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.infra-section{
		padding-bottom: 70px;
	}
	.infra-title {
		padding-bottom: 15px;
		padding-top: 10px;
	}
	.title {
		letter-spacing: 5px;
		padding-left: 5%;
		font-size: 1.8rem;
	}
	.infra-info {
		padding: 2% 7% 2% 7%;
	}
	.infra-img {
		padding: 0 7%;
	}
	.infra-fig {
		display: none;
	}
	.infra-h2{
		font-size: 2.5rem;
	}
	.infra-p {		
		font-size: 1.5rem;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.infra-title {
		padding-bottom: 15px;
		padding-top: 0px;
	}
	.title {
		letter-spacing: 7px;
		padding-left: 5%;
	}
	.infra-info {
		padding: 2% 7% 2% 7%;
	}
	.infra-img {
		padding: 0 7%;
	}
	.infra-fig {
		display: none;
	}
	.infra-h2{
		font-size: 2.5rem;
	}
	.infra-p {		
		font-size: 1.5rem;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	
	.infra-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title {
		letter-spacing: 11px;
		padding-left: 5%;
	}
	.infra-info {
		padding: 2% 7% 2% 7%;
	}
	.infra-img {
		padding: 0 7%;
	}
	.infra-fig {
		display: none;
	}
	.infra-h2{
		font-size: 2.5rem;
	}
	.infra-p {		
		font-size: 1.5rem;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	
	.infra-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title {
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.infra-info {
		padding: 2% 7% 2% 7%;
	}
	.infra-img {
		padding: 0 7%;
	}
	.infra-fig {
		display: none;
	}
	.infra-h2{
		font-size: 2.5rem;
	}
	.infra-p {		
		font-size: 1.5rem;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.infra-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title {
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.infra-info {
		padding: 2% 7% 2% 7%;
	}
	.infra-img {
		padding: 0 7%;
	}
	.infra-fig {
		display: none;
	}
	.infra-h2{
		font-size: 2.5rem;
	}
	.infra-p {		
		font-size: 1.5rem;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.infra-title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.title {
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.infra-info {
		padding: 2% 7% 4% 7%;
	}
	.infra-img {
		padding: 0 7%;
	}
	.infra-fig {
		width: 8%;
	}
	.infra-h2{
		font-size: 2.5rem;
	}
	.infra-p {		
		font-size: 1.5rem;
	}
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.title {
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.infra-info {
		padding: 2% 4% 2% 7%;
	}
	.infra-img {
		padding: 0 9% 0 0;
	}
	.infra-fig {
		width: 8%;
	}
	.infra-h2{
		font-size: 3.2rem;
	}
	.infra-p {		
		font-size: 1.6rem;
	}
	
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.title {
		letter-spacing: 11px;
		padding-left: 7%;
	}
	.infra-info {
		padding: 2% 4% 2% 7%;
	}
	.infra-img {
		padding: 0 9% 0 0;
	}
	.infra-fig {
		width: 8%;
	}
	.infra-h2{
		font-size: 3.2rem;
	}
	.infra-p {		
		font-size: 1.6rem;
	}
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.title {
		padding-left: 7%;
	}
	.infra-info {
		padding: 2% 4% 2% 7%;
	}
	.infra-img {
		padding: 0 9% 0 0;
	}
	.infra-fig {
		width: 8%;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.title {
		padding-left: 9%;
	}
	.infra-info {
		padding: 2% 5% 2% 9%;
	}
	.infra-img {
		padding: 0 11% 0 0;
	}
	.infra-fig {
		width: 8%;
	}
	
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.title {
		padding-left: 9%;
	}
	.infra-info {
		padding: 2% 5% 2% 9%;
	}
	.infra-img {
		padding: 0 11% 0 0;
	}
	.infra-fig {
		width: 8%;
	}
	
}