@charset "utf-8";
/* CSS Document */



/*SERVIICOS HOME*/
.servicios-fluid{
	padding-left: 180px;
	padding-right: 180px;
}

.servicios-section{
	background-color: #fff;
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.servicios-section-fig{
	background-image: url(../images/servicios/fig-01.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 694px;
	width: 125px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.servicios-section-h2 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 2.5rem;
    letter-spacing: 15px;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 2%;
}

.servicios-section-h3{
	color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 3rem;
	margin-bottom: 2%;
	padding-left: 5%;
	padding-top: 1%;
	position: relative;
    text-align: left;    
}
.servicios-section-h3:after{
	background-color: #234061;
	content: "";
	left: 5%;
	top: 0;
	height: 4px;
	width: 78px;
	position: absolute;
}
.servicios-btn{
	background-color: #234061;
    border: 2px solid #234061;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.servicios-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.servicios-btn:hover{
	background-color: #fff;
}
.servicios-btn:hover .servicios-a{
	color: #234061;
}

.actionserviciosimg-p {
    color: #fff;
    font-family: 'Gordita-Bold';
	font-style: italic;
    font-size: 3rem;
    text-align: left;
    position: absolute;
    bottom: 20px;
    z-index: 99;
    padding: 0 0 2% 8%;
    line-height: 90%;
}
.serviciosactionimg {
	position:relative;
	padding: 0 1.65% 0 0;
	margin-bottom: 2%;
}
.serviciosactionimg-fig{
	background-image: url("../images/servicios/bg-caption.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 95%;
	height: 100%;
}
.serviciosactionimg .hover {
	 z-index:20;
	 position:absolute;
	 top:0;
	 left:0;
	 background-color:rgba(35, 64, 97, 0.5);
	 width:95%;
	 height:100%;
	 color:#efefef;
	 text-align:center;
	 padding-top:46.2%;
	 box-sizing:border-box;
	 opacity:0;
	 transition:opacity .5s ease-out;
	 -webkit-transition:opacity .5s ease-out;
	 -moz-transition:opacity .2s ease-out;
}
.serviciosactionimg .hover .sub_tit{
	color:#fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	font-style: italic;
	font-size:3rem;
	margin-right: 2%;
	opacity:0;	
	transition:animation 1s ease .2s,opacity .5s ease-out .3s;
	-webkit-transition:-webkit-animation 1s ease .2s,opacity .5s ease-out .3s;
	-moz-transition:-moz-animation 1s ease .2s,opacity .5s ease-out .3s;
	position:relative;
}
.serviciosactionimg:hover .hover {
	opacity:1;
}

.serviciosactionimg:hover .actionserviciosimg-p {
	display: none;
}
.serviciosactionimg:hover  .serviciosactionimg-fig{
	display: none;
}


.serviciosactionimg:hover .hover .sub_tit {
	animation:translateHover .8s .2s;
	-webkit-animation:translateHover .8s .2s;
	-moz-animation:translateHover .8s .2s;
	transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
	 -ms-transform:none;
	 opacity:1;
}
@keyframes translateHover{
0%{
	 opacity:0;
	 transform:translate3d(0,-20px,0);
	 -webkit-transform:translate3d(0,-20px,0);
	 -moz-transform:translate3d(0,-20px,0);
}
20%{
	 opacity:1;
	 transform:translate3d(0,20px,0);
	 -webkit-transform:translate3d(0,20px,0);
	 -moz-transform:translate3d(0,20px,0);
}
50%{
	 transform:translate3d(0,-10px,0);
	 -webkit-transform:translate3d(0,-10px,0);
	 -moz-transform:translate3d(0,-10px,0);
}
80%{
	 transform:translate3d(0,0px,0);
	 -webkit-transform:translate3d(0,0px,0);
	 -moz-transform:translate3d(0,0px,0);
}
85%,100%{
	 opacity:1;
	 transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
}}
@-webkit-keyframes translateHover{
0%{
	 opacity:0;
	 transform:translate3d(0,-20px,0);
	 -webkit-transform:translate3d(0,-20px,0);
	 -moz-transform:translate3d(0,-20px,0);
}
20%{
	 opacity:1;
	 transform:translate3d(0,20px,0);
	 -webkit-transform:translate3d(0,20px,0);
	 -moz-transform:translate3d(0,20px,0);
}
50%{
	 transform:translate3d(0,-10px,0);
	 -webkit-transform:translate3d(0,-10px,0);
	 -moz-transform:translate3d(0,-10px,0);
}
80%{
	 transform:translate3d(0,0px,0);
	 -webkit-transform:translate3d(0,0px,0);
	 -moz-transform:translate3d(0,0px,0);
}
85%,100%{
	 opacity:1;
	 transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
}}



/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.servicios-section {
		padding-bottom: 90px;
		padding-top: 40px;
	}
	.servicios-section-fig{
		display: none;
	}
	.servicios-section-h2 {
		font-size: 1.8rem;
		letter-spacing: 7px;
		padding-left: 0%;
		margin-bottom: 6%;
	}
	.servicios-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn {
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicios-section-h3 {
		font-size: 2.5rem;
		margin-bottom: 8%;
		padding-top: 6%;
	}
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.servicios-section {
		padding-bottom: 90px;
		padding-top: 40px;
	}
	.servicios-section-fig{
		display: none;
	}
	.servicios-section-h2 {
		font-size: 1.8rem;
		letter-spacing: 7px;
		padding-left: 0%;
		margin-bottom: 6%;
	}
	.servicios-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn {
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicios-section-h3 {
		font-size: 2.5rem;
		margin-bottom: 8%;
		padding-top: 6%;
	}
	
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.servicios-section {
		padding-bottom: 90px;
		padding-top: 40px;
	}
	.servicios-section-fig{
		display: none;
	}
	.servicios-section-h2 {
		font-size: 1.8rem;
		letter-spacing: 7px;
		padding-left: 0%;
		margin-bottom: 6%;
	}
	.servicios-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn {
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicios-section-h3 {
		font-size: 2.5rem;
		margin-bottom: 8%;
		padding-top: 3%;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.servicios-section {
		padding-bottom: 90px;
		padding-top: 40px;
	}
	.servicios-section-fig{
		display: none;
	}
	.servicios-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn {
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicios-section-h3 {
		font-size: 2.5rem;
		margin-bottom: 8%;
		padding-top: 3%;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.servicios-section {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.servicios-section-fig{
		display: none;
	}
	.servicios-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn {
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicios-section-h3 {
		font-size: 2.5rem;
		margin-bottom: 7%;
		padding-top: 2%;
	}
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.servicios-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.actionserviciosimg-p {
		font-size: 1.7rem;
	}
	.serviciosactionimg .hover .sub_tit{
		font-size: 1.7rem;
	}
	.servicios-a{
		font-size: 1.2rem;
	}
	.servicios-section-h3 {
		margin-bottom: 5%;
		padding-top: 2%;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.servicios-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.actionserviciosimg-p {
		font-size: 2.1rem;
	}
	.serviciosactionimg .hover .sub_tit{
		font-size: 2.1rem;
	}
	.servicios-a{
		font-size: 1.6rem;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.servicios-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.actionserviciosimg-p {
		font-size: 2.3rem;
	}
	.serviciosactionimg .hover .sub_tit{
		font-size: 2.3rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.servicios-fluid {
		padding-left: 120px;
		padding-right: 120px;
	}
	.actionserviciosimg-p {
		font-size: 2.3rem;
		bottom: 12px;
	}
	.serviciosactionimg .hover .sub_tit{
		font-size: 2.3rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.servicios-fluid {
		padding-left: 120px;
		padding-right: 120px;
	}
	.actionserviciosimg-p {
		font-size: 2.3rem;		
	}
	.serviciosactionimg .hover .sub_tit{
		font-size: 2.3rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
		
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.servicios-fluid {
		padding-left: 150px;
		padding-right: 150px;
	}
	.actionserviciosimg-p {
		font-size: 2.5rem;
	}
	.serviciosactionimg .hover .sub_tit{
		font-size: 2.5rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
		
}
