@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.tecno-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/


.tecno-section{	
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
}
.tecno-fig{
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 9;
}
.tecno-fluid {
    padding-left: 220px;
    padding-right: 220px;
}

.tecno-bg1{
	background-color: #E6E7E8;	
	position: relative;
}
.tecno-bg2{
	background-color: #fff;	
	position: relative;
}

.tecno-img{}
.tecno-info{
	position: relative;
}

.tecno-info p{
	color: #000;
	font-family: 'Gordita-Medium';
	font-size: 2.7rem;
	line-height: 110%;
	position: relative;
}
.tecno-info p:after {
    background-color: #E36B26;
    content: "";
    left: 0;
    top: -18px;
    width: 90px;
    height: 5px;
    position: absolute;
}

.tecno-info p span{
	font-style: italic;
}

.tecno-info-pd1 {
    padding: 9% 8% 0 2%;
}
.tecno-info-pd2 {
    padding: 7% 8% 0 2%;
}
.tecno-info-pd3 {
    padding: 5% 8% 0 2%;
}
.tecno-info-pd4 {
    padding: 9% 8% 0 2%;
}
.tecno-info-pd5 {
    padding: 11% 8% 0 2%;
}
.tecno-info-pd6 {
    padding: 5% 8% 0 2%;
}
.tecno-info-pd7 {
    padding: 5% 8% 0 2%;
}
.tecno-info-pd8 {
    padding: 12% 8% 0 2%;
}
.tecno-info-pd9 {
    padding: 10% 8% 0 2%;
}
.tecno-info-pd10 {
    padding: 7% 8% 0 2%;
}

.tecno-border-bt{
	position: relative;
}

.tecno-border{
	position: relative;
}
.tecno-border:before{
    background-color: #727376;
    content: "";
    left: -2%;
    top: 0%;
    width: 4px;
    height: 46%;
    position: absolute;
}

.tecno-div1{
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.tecno-div1:after{
	background-color: #727376;
	border-radius: 100%;
	content: "";
	right: 0%;
    top: 40%;
    width: 25px;
    height: 25px;
    position: absolute;
}
.tecno-div2{
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.tecno-div3{
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.tecno-div2:after {
    background-color: #727376;
    content: "";
    left: -2%;
    bottom: 0%;
    width: 4px;
    height: 60%;
    position: absolute;
}


