 
.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.contacto-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/


.contacto-section{
	background-color: #fff;
	padding-bottom: 100px;
	padding-top: 40px;
	position: relative;
}
.contacto-fig{
	background-image: url(../images/cotizador/fig-01.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height:683px;
	width: 151px;
	position: absolute;
	right: 0;
	bottom: -1px;
}

.contacto-info {
    padding-left: 8%;
    padding-right: 4%;
}
.contacto-form {
   
}

.contacto-h2 {
    color: #000;
   font-family: 'Gordita-BlackItalic';
    font-size: 6rem;    
    margin-bottom: 4%;
    margin-top: 7%;
	padding-bottom: 10%;
	position: relative;
	text-align: right;
}
.contacto-h2:after{
	background-color: #E36A00;
	content: "";
	bottom: 0;
	right: 0;
	height: 4px;
	width: 70%;
	position: absolute;
}
.contacto-h3 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 5rem;
    text-align: right;
    margin-bottom: 4%;
    margin-top: 7%;
}


.contacto-p{
	color: #000;
	font-family: 'Gordita-Medium';
    font-size: 18px;
}
.form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
	font-family: 'Gordita-Medium';
    font-size: 18px;
    line-height: 1.42857143;
    color: #787376;
    background-color: #fff;
    background-image: none;
    border: 3px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.colorplace::-webkit-input-placeholder {
color: #787376;
}  
.colorplace:-moz-placeholder {
/* Firefox 18- */ color: #787376;
}  
.colorplace::-moz-placeholder { 
/* Firefox 19+ */ color: #787376;
}  
.colorplace:-ms-input-placeholder { 
color: #787376; 
}


.radio-inline, .checkbox-inline{
	color: #787376;
	font-family: 'Gordita-Medium';
    font-size: 18px;
}
.contacto-form-space-input{
	padding-left: 0;
}
.contacto-form-space-input2{
	padding-left: 0;
	padding-right: 0;
}

.contacto-btn{
background: rgba(124,125,127,1);
background: -moz-linear-gradient(left, rgba(124,125,127,1) 0%, rgba(159,161,163,1) 0%, rgba(124,125,127,1) 34%, rgba(76,76,78,1) 71%, rgba(76,76,78,1) 80%, rgba(76,76,78,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(124,125,127,1)), color-stop(0%, rgba(159,161,163,1)), color-stop(34%, rgba(124,125,127,1)), color-stop(71%, rgba(76,76,78,1)), color-stop(80%, rgba(76,76,78,1)), color-stop(100%, rgba(76,76,78,1)));
background: -webkit-linear-gradient(left, rgba(124,125,127,1) 0%, rgba(159,161,163,1) 0%, rgba(124,125,127,1) 34%, rgba(76,76,78,1) 71%, rgba(76,76,78,1) 80%, rgba(76,76,78,1) 100%);
background: -o-linear-gradient(left, rgba(124,125,127,1) 0%, rgba(159,161,163,1) 0%, rgba(124,125,127,1) 34%, rgba(76,76,78,1) 71%, rgba(76,76,78,1) 80%, rgba(76,76,78,1) 100%);
background: -ms-linear-gradient(left, rgba(124,125,127,1) 0%, rgba(159,161,163,1) 0%, rgba(124,125,127,1) 34%, rgba(76,76,78,1) 71%, rgba(76,76,78,1) 80%, rgba(76,76,78,1) 100%);
background: linear-gradient(to right, rgba(124,125,127,1) 0%, rgba(159,161,163,1) 0%, rgba(124,125,127,1) 34%, rgba(76,76,78,1) 71%, rgba(76,76,78,1) 80%, rgba(76,76,78,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7d7f', endColorstr='#4c4c4e', GradientType=1 );
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 11px 27px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.contacto-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.contacto-a:hover{
	color: #fff;
}




.contacto-btn-volver{
	background-color: #fff;
    border: 2px solid #727376;
    border-radius: 7px;
	display: inline-block;
	margin-top: 15%;
	padding: 9px 18px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	width: au;	
	text-align: center;
	float: right;
}
.contacto-a-volver{	
	color: #727376;
	font-family: 'Gordita-Black';
	font-size: 2.2rem;
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
	display: inherit;
}
.contacto-btn-volver:hover{
	background-color: #727376;
}
.contacto-btn-volver:hover .contacto-a-volver{
	color: #fff;
}



/*----- select -----*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
.bootstrap-select > .dropdown-toggle{
    color: #787376;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 0px;
    font-family: 'Gordita-Medium';
    font-size: 18px;
    height: 47px;
    padding: 6px 14px;
	width: 100%;
	z-index: 1;
}


.inputhide{
	display: none;
}
.inputhide2{
	display: none;
}   
.inputhide3{
	display: none;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #888A8C;
    border-color: #888A8C;
}
.panel-title {
    font-size: 18px;
}
/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 7px;
	}
	.contacto-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	.contacto-section{
		padding-top: 30px;
	}
	.contacto-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-bottom: 5%;
	}
	.contacto-h2::after {		
		right: auto;		
		width: 63%;		
		left: 0;
	}
	
	.contacto-h3{
		font-size: 3rem;
		text-align: left;
	}
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	.contacto-btn-volver {		
		margin-top: 5%;
		padding: 6px 18px;		
		margin-bottom: 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	.contacto-form-space-input {
		padding-right: 0;
		margin-bottom: 5%;
	}
	.contacto-form-space-input2 {
		margin-bottom: 5%;
	}
	
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	
	.close-fluid {
		padding-right: 40px;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 7px;
	}
	.contacto-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	.contacto-section{
		padding-top: 30px;
	}
	.contacto-h2 {
		font-size: 3rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-bottom: 5%;
	}
	.contacto-h2::after {		
		right: auto;		
		width: 63%;		
		left: 0;
	}
	
	.contacto-h3{
		font-size: 3rem;
		text-align: left;
	}
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	.contacto-btn-volver {		
		margin-top: 5%;
		padding: 6px 18px;		
		margin-bottom: 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	.contacto-form-space-input {
		padding-right: 0;
		margin-bottom: 5%;
	}
	.contacto-form-space-input2 {
		margin-bottom: 5%;
	}
	
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.close-fluid {
		padding-right: 40px;
	}
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 7px;
	}
	.contacto-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	.contacto-section{
		padding-top: 30px;
	}
	.contacto-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-bottom: 5%;
	}
	.contacto-h2::after {		
		right: auto;		
		width: 63%;		
		left: 0;
	}
	
	.contacto-h3{
		font-size: 4rem;
		text-align: left;
	}
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	.contacto-btn-volver {		
		margin-top: 5%;
		padding: 6px 18px;		
		margin-bottom: 0%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	.contacto-form-space-input {
		padding-right: 0;
		margin-bottom: 5%;
	}
	.contacto-form-space-input2 {
		margin-bottom: 5%;
	}
	
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.close-fluid {
		padding-right: 40px;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.contacto-title {
		padding-left: 5%;
		padding-bottom: 0;
	}
	
	.contacto-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-bottom: 3%;
	}
	.contacto-h2::after {		
		right: auto;		
		width: 63%;		
		left: 0;
	}
	
	.contacto-h3{
		font-size: 4rem;
		text-align: left;
	}
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	.contacto-btn-volver {		
		margin-top: 5%;
		padding: 6px 18px;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.close-fluid {
		padding-right: 40px;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.contacto-fig {
		display: none;
	}
	.title{
		letter-spacing: 11px;
	}
	.contacto-title {
		padding-left: 7%;
		padding-bottom: 0;
	}
	
	.contacto-h2 {
		font-size: 4rem;
		text-align: left;
		margin-bottom: 7%;
		margin-top: 0%;
		padding-bottom: 3%;
	}
	
	.contacto-h2::after {		
		right: auto;		
		width: 63%;		
		left: 0;
	}
	
	.contacto-h3{
		font-size: 4rem;
		text-align: left;
	}
	.contacto-info {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 9%;
	}
	.contacto-btn-volver {		
		margin-top: 5%;
		padding: 6px 18px;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-form {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.close-fluid {
		padding-right: 40px;
	}
	
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.contacto-fig {
		display: none;
	}
	.contacto-h2{
		font-size: 4.5rem;
	}
	.contacto-h3{
		font-size: 4.5rem;
	}
	.close-fluid {
		padding-right: 56px;
	}
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.contacto-fig {
		width: 10%;
	}
	.contacto-h2{
		font-size: 4.5rem;
	}
	.contacto-h3{
		font-size: 4.5rem;
	}
	.close-fluid {
		padding-right: 56px;
	}
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.contacto-fig {
		width: 10%;
	}
	
	.contacto-h2{
		font-size: 5rem;
	}
	.contacto-h3{
		font-size: 5rem;
	}
	.close-fluid {
		padding-right: 56px;
	}
	
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.close-fluid {
		padding-right: 90px;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.close-fluid {
		padding-right: 180px;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.close-fluid {
		padding-right: 180px;
	}
	
	
}

