@charset "utf-8";
/* CSS Document */


.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.documentos-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/

.documentos-section{	
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
}
.documentos-fig{
	background-image: url(../images/documentos/fig.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 631px;
	width: 112px;
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 1;
}
.documentos-fluid {
    padding-left: 220px;
    padding-right: 220px;
}

.documentos-bg1{
	background-color: #E6E7E8;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.documentos-bg2{
	background-color: #fff;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.documentos-btn-div {
    padding-top: 2%;
	text-align: center;
}
.documentos-info{
	position: relative;
}

.documentos-info a{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 2.5rem;
	line-height: 110%;
	position: relative;
	text-transform: uppercase;
}
.documentos-info a:after {
    background-color: #727376;
    content: "";
    left: 0;
    top: -18px;
    width: 45px;
    height: 5px;
    position: absolute;
}
.documentos-info-pd1 {
    padding: 2%;
}
.documentos-info-pd2 {
    padding: 2%;
}

.documentos-border-bt{
	position: relative;
}

.documentos-border-top{
	position: relative;
}


.documentos-btn{
	background-color: #727376;
    border: 2px solid #727376;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin: auto;
}
.documentos-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.documentos-btn:hover{
	background-color: #fff;
}
.documentos-btn:hover .documentos-a{
	color: #727376;
}


/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.title{
		letter-spacing: 7px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.documentos-fig{
		display: none;
	}
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.4rem;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.documentos-fig{
		display: none;
	}
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.documentos-fig{
		display: none;
	}
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.documentos-fig{
		display: none;
	}
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	
	
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.title{
		letter-spacing: 11px;
	}
	.documentos-title {
		padding-left: 4%;
	}
	.documentos-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.documentos-fig{
		display: none;
	}
	.documentos-btn-div {
		padding-top: 6%;
		text-align: right;
	}
	.documentos-info a{
		font-size: 2.2rem;
	}
	.documentos-btn{
		padding: 5px 15px;
	}
	.documentos-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.documentos-fluid {
		padding-left: 120px;
		padding-right: 120px;
	}
	.documentos-fig{
		width: 105px;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){}

@media screen and (min-width:1360px) and (max-width:1439px){}

@media screen and (min-width:1440px) and (max-width:1599px){}

@media screen and (min-width:1600px) and (max-width:1679px){}

@media screen and (min-width:1680px) and (max-width:1919px){}

