
@font-face {
  font-family: 'Gordita-Regular';
  src: url('../../fonts/Gordita-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('../../fonts/Gordita-Regular.otf')  format('opentype'),
	   url('../../fonts/Gordita-Regular.woff') format('woff'), 
	   url('../../fonts/Gordita-Regular.ttf')  format('truetype'), 
	   url('../f../onts/Gordita-Regular.svg#Gordita-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita-Medium';
  src: url('../../fonts/Gordita-Medium.eot?#iefix') format('embedded-opentype'),  
	   url('../../fonts/Gordita-Medium.otf')  format('opentype'),
	   url('../../fonts/Gordita-Medium.woff') format('woff'), 
	   url('../../fonts/Gordita-Medium.ttf')  format('truetype'), 
	   url('../../fonts/Gordita-Medium.svg#Gordita-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gordita-Bold';
  src: url('../../fonts/Gordita-Bold.eot?#iefix') format('embedded-opentype'),  
	   url('../../fonts/Gordita-Bold.otf')  format('opentype'),
	   url('../../fonts/Gordita-Bold.woff') format('woff'), 
	   url('../../fonts/Gordita-Bold.ttf')  format('truetype'), 
	   url('../../fonts/Gordita-Bold.svg#Gordita-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gordita-BlackItalic';
  src: url('../../fonts/Gordita-BlackItalic.eot?#iefix') format('embedded-opentype'),  
	   url('../../fonts/Gordita-BlackItalic.otf')  format('opentype'),
	   url('../../fonts/Gordita-BlackItalic.woff') format('woff'), 
	   url('../../fonts/Gordita-BlackItalic.ttf')  format('truetype'), 
	   url('../../fonts/Gordita-BlackItalic.svg#Gordita-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita-Black';
  src: url('../../fonts/Gordita-Black.eot?#iefix') format('embedded-opentype'),  
	   url('../../fonts/Gordita-Black.otf')  format('opentype'),
	   url('../../fonts/Gordita-Black.woff') format('woff'), 
	   url('../../fonts/Gordita-Black.ttf')  format('truetype'),
	   url('../../fonts/Gordita-Black.svg#Gordita-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*-------------BODY----------------*/

body{
	font-family: 'Gordita-Regular';
	font-size:10pt; 
	background-color:#fff; 
	overflow-x: hidden !important;
} 

/* up buttom */
#nekoToTop{
	position:fixed; 
	bottom:0; 
	right:20px; 
	padding:5px;
	display:none;
	border-radius:0;
	width:50px;
	text-align:center;
	color:#fff;
	background:#000;
	border:1px solid transparent;
}

#nekoToTop:hover{
	color:#000;
	background:#fff;
}

.nekoToTopsize{
	font-size: 2.5rem;
}

/* HEADER */
.header-info {
    padding-left: 120px;
    padding-right: 100px;
    padding-top: 70px;
}
.header-info-div{
	
}

.header-info-ul{
	padding-left: 0;
	text-align: right;
}
.header-info-ul li{
    display: inline-block;
    margin-left: 1%;
}
.header-info-ul li a{	
	font-family: 'Gordita-Bold';
}

.grupo-btn{
	background: rgba(165,167,170,1);
background: -moz-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 57%, rgba(85,85,87,1) 79%, rgba(75,75,77,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(165,167,170,1)), color-stop(20%, rgba(136,137,140,1)), color-stop(57%, rgba(92,93,95,1)), color-stop(79%, rgba(85,85,87,1)), color-stop(100%, rgba(75,75,77,1)));
background: -webkit-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 57%, rgba(85,85,87,1) 79%, rgba(75,75,77,1) 100%);
background: -o-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 57%, rgba(85,85,87,1) 79%, rgba(75,75,77,1) 100%);
background: -ms-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 57%, rgba(85,85,87,1) 79%, rgba(75,75,77,1) 100%);
background: linear-gradient(to right, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 57%, rgba(85,85,87,1) 79%, rgba(75,75,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a7aa', endColorstr='#4b4b4d', GradientType=1 );
    border: 2px solid transparent;
    border-radius: 7px;
	display: inline-block;
	 padding: 2px 12px 3px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.grupo-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.grupo-btn:hover{
	border: 2px solid #848688;
	background: #fff;
}
.grupo-btn:hover .grupo-a{	
	color: #848688;
}


.espeng-btn{
	 background-color: #848688;
    border: 2px solid #848688;
    border-radius: 7px;
	display: inline-block;
	 padding: 2px 12px 3px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.espeng-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.espeng-btn:hover{
	background-color: #fff;
}
.espeng-btn:hover .espeng-a{
	color: #848688;
}



.logo{ 
	padding-top:0%; 
	position:relative; 
	top:-53px;
}

.fluid-nav {
    padding-left: 120px;
    padding-right: 100px;
}
.navbar-header2{
	display: none !important;
}
.menumovil {
    color: #535355;
    font-family: 'Gordita-Bold';
    font-size: 2rem;
}
.menumovil-white{
	 color: #fff !important;
}

/* NAV */
.navbar-horizontal{
	background-color:#fff; 
	margin-bottom:0%;
}
.nav-horizontal{ 
	width:75%; 
	text-align:center; 
	margin-top:0%; 
	-webkit-margin-before:0%;
	float: right;
}


/* li general */ 
.nav-horizontal__li {
    background-color: #fff;
    font-family: 'Gordita-Black';
    font-size: 1.6rem;
    width: auto;
    margin: 0 1.2%;
}


/* li a general */ 
.nav-horizontal > 
.nav-horizontal__li > a {
    padding-top: 30px;
    padding-bottom: 40px;
}
.nav-horizontal > 
.nav-horizontal__li > a p{ 
	margin: 0;
}

.nav-horizontal__li-a { 
	color:#000
}
.nav-horizontal__li-a-active {
	color:#000;
}

/*  hover - li a active  */
.nav-horizontal__li-a:hover,
.nav-horizontal__li-a:active,
.nav-horizontal__li-a:focus,
.nav-horizontal__li-a-active:hover,
.nav-horizontal__li-a-active:active,
.nav-horizontal__li-a-active:focus{
	color:#000; 
	
}

/* hover reset  */
.navbar-horizontal 
.nav-horizontal > 
.nav-horizontal__li > a:hover{
	background-color:#fff;
	
}
/* li hover - li active */ 
.nav-horizontal__li:hover:after,
.nav-horizontal__li:focus:after,
.nav-horizontal__li-active:after{
	content: "";
	background-color: #727376;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	position: absolute;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

/* focus reset */
.navbar-horizontal .nav-horizontal >
.nav-horizontal_home > a:focus:after{
	content: "";
	background-color: #727376;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	position: absolute;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.navbar-horizontal .nav-horizontal >
.nav-horizontal_home > a:focus:after{
	content: "";
	background-color: #727376;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	position: absolute;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}
.dropdown-menu{
	background-color: #FEFEFE !important;
	border: none;
	box-shadow: 0 0px 0px rgba(0,0,0, 0);
	min-width: 100%;
	left: 0;
	text-align: left;
	padding: 0;
	/*transform: scale(1,1) rotate(0)skew(20deg,0) translate(0,0); 
	 -webkit-transform: scale(1,1) rotate(0)skew(20deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(20deg,0) translate(0,0); */
	transform-origin: 50% 50%;  
}
.dropdown-menu > li {
	color: #000;
	font-family: 'Gordita-Regular';
	font-size:1.6rem;
	margin-bottom: 0% !important;
}
.dropdown-menu > li > a{
	color: #000 !important;
	padding: 11px 20px;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #727376;
}
.dropdown-menu > li > a.active{
	opacity: 1;
	color: #fff !important;
    text-decoration: none;
    background-color: #727376;
}

/*----------- GENERAL -------------*/
.img-center{
	display:block; 
	margin:auto;
}


/*----------- MAPA CON IFRAME -------------*/

.map-fluid{padding: 0;}

.google-maps {
	position: relative;
	padding-bottom: 35%; 
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}


/*----------- IFRAME YOUTUBE -------------*/

.iframe-youtube {
	position: relative;
	padding-bottom: 55.25%;
	padding-top: 25px;
}

.iframe-youtube iframe {
	position: absolute;
	width: 100%!important;
	height: 100%!important;
}

/**/

.cotizar-btn{
	background: rgba(165,167,170,1);
background: -moz-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 61%, rgba(91,91,93,1) 79%, rgba(78,78,80,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(165,167,170,1)), color-stop(20%, rgba(136,137,140,1)), color-stop(61%, rgba(92,93,95,1)), color-stop(79%, rgba(91,91,93,1)), color-stop(100%, rgba(78,78,80,1)));
background: -webkit-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 61%, rgba(91,91,93,1) 79%, rgba(78,78,80,1) 100%);
background: -o-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 61%, rgba(91,91,93,1) 79%, rgba(78,78,80,1) 100%);
background: -ms-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 61%, rgba(91,91,93,1) 79%, rgba(78,78,80,1) 100%);
background: linear-gradient(to right, rgba(165,167,170,1) 0%, rgba(136,137,140,1) 20%, rgba(92,93,95,1) 61%, rgba(91,91,93,1) 79%, rgba(78,78,80,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a7aa', endColorstr='#4e4e50', GradientType=1 );
    border-radius: 4px 0 0 4px;
	display: inline-block;
	padding: 8px 35px 8px 25px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	position: fixed;
	right: -5px;
	top: 40%;
	z-index: 10;
}
.cotizar-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 3rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.cotizar-btn:hover{
	background: #fff;
}
.cotizar-btn:hover .cotizar-a{
	color: #000;
}


/*----------- FOOTER -------------*/  
  
.footer{
	background: rgba(165,167,170,1);
background: -moz-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(165,167,170,1) 0%, rgba(105,106,108,1) 36%, rgba(76,77,79,1) 96%, rgba(76,77,79,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(165,167,170,1)), color-stop(0%, rgba(165,167,170,1)), color-stop(36%, rgba(105,106,108,1)), color-stop(96%, rgba(76,77,79,1)), color-stop(100%, rgba(76,77,79,1)));
background: -webkit-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(165,167,170,1) 0%, rgba(105,106,108,1) 36%, rgba(76,77,79,1) 96%, rgba(76,77,79,1) 100%);
background: -o-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(165,167,170,1) 0%, rgba(105,106,108,1) 36%, rgba(76,77,79,1) 96%, rgba(76,77,79,1) 100%);
background: -ms-linear-gradient(left, rgba(165,167,170,1) 0%, rgba(165,167,170,1) 0%, rgba(105,106,108,1) 36%, rgba(76,77,79,1) 96%, rgba(76,77,79,1) 100%);
background: linear-gradient(to right, rgba(165,167,170,1) 0%, rgba(165,167,170,1) 0%, rgba(105,106,108,1) 36%, rgba(76,77,79,1) 96%, rgba(76,77,79,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a7aa', endColorstr='#4c4d4f', GradientType=1 );
	padding: 70px 0 30px;
	position: relative;	
	z-index: 0;
}
.footer-fluid{
	padding-left: 110px;
	padding-right: 110px;
}
.footer-row1{
    border-bottom: 2px solid #fff;
    padding-bottom: 2%;
}
.footer-row2{
	padding-top: 1%;
}

.footer-col-logo {
    padding-top: 2%;
}
.footer-col-certificaciones {
    padding: 0 0 0 4%;
}

.footer-col-certificaciones a img{
	display: block;
	margin-right: auto;
}
.footer-col-info{
	width: 20%;
	padding-left: 4%;
	padding-top: 3%;
}
.footer-col-info2{}
.footer-col-contacto{
	width: 37%;
}
.footer-col-redes{}

.footer-col-parrafo{
	padding: 3% 10% 0 0px;
	text-align: center;
}

.footer-col-ul{
	padding-top: 53px;
}

.footer-title{
	color: #fff; 
	font-family: 'Gordita-Bold';
	font-size: 1.5rem; 	
}

.footer-info-ul li.tel {
    font-family: 'Gordita-Bold';
    text-align: right;
    padding-top: 2.5%;
}
.footer-info-ul li.tel a {
    font-family: 'Gordita-Bold';
    margin-left: 3%;
}

 .footer-info-ul li.tel a img{
    position: relative;
    top: -3px;
    margin-left: 2%;
}

.footer-info-ul li.telmovil {
    font-family: 'Gordita-Bold';
    text-align: right;
    padding-top: 2.5%;
	display: none;
}
.footer-info-ul li.telmovil a {
    font-family: 'Gordita-Bold';
    margin-left: 3%;
}

 .footer-info-ul li.telmovil a img{
    position: relative;
    top: -3px;
    margin-left: 2%;
}

.footer-title-l{
	text-align: left;
}
.footer-title-r{
	text-align: right;
}


.footer-p{
	color:#fff;
	font-family: 'Gordita-Regular';
	font-size: 1.4rem;
	text-align: left;
	line-height: 115%;
}

.footer-info-ul{
    list-style-type: none;
    padding-left: 0;
}
.footer-info-ul li{
	color:#fff;
	font-family: 'Gordita-Regular';
	font-size: 1.4rem; 	
}
.footer-info-ul li.align-l{
	text-align: left;
}
.footer-info-ul li.align-c{
	text-align: center;
}
.footer-info-ul li.align-r{
	text-align: right;
}
.footer-info-ul li a.loa{
	font-family: 'Gordita-Bold';
}
.footer-info-ul li.politica{
   /* border-bottom: 2px solid #fff;*/
    padding-bottom: 5%;
    margin-bottom: 5%;
}
.footer-info-ul li.alignl{
	text-align: left;
}
.footer-info-ul li.alignr{
	text-align: right;
}
.footer-info-ul li a {
   color: #fff !important;
   font-family: 'Gordita-Regular';
}

.footer-info-ul2{
	list-style-type: none;
	padding-left: 0;
}
.footer-info-ul2 li{
	color:#fff;
	font-family: 'Gordita-Regular';
	font-size: 1.4rem; 
	text-align: center;
	display: block;
	margin-right: 5%;
	line-height: 95%;
}
.footer-info-ul2 li a{
	color:#fff;
}

.footer-info-ul2 li.ley {
    border-bottom: 2px solid #fff;
    padding-bottom: 6%;
}
.footer-info-ul2 li.politica{
	padding-top: 6%;
}


.redes-inline{
	text-align: right;
}

.btn-redes { 
	display: inline-block; 
	width: 43px;  
	height: 43px;  	
	border-radius: 100%;  
	text-align: center; 
	font-size: 20px; 
	line-height: 26px;
}

.btn-redes .positioni{
	position: relative; 
	top: 7px;
}

.btn-styleredes {  
	margin-top: 15px; 
	color: #FFFFFF; 
	background-color: #96989A;  
	transition: all .3s ease-in-out;
}

.facebook:hover,
.facebook:focus,
.facebook:active,
.facebook.active { 	
	color: #fff;
	background-color: #5264B8;
}
.youtube:hover,
.youtube:focus,
.youtube:active,
.youtube.active { 	
	color: #fff;
	background-color: #D61B1B;
}
.twitter:hover,
.twitter:focus,
.twitter:active,
.twitter.active { 	
	color: #fff;
	background-color: #54B1D6;
}


.linkedin:hover,
.linkedin:focus,
.linkedin:active,
.linkedin.active { 	
	color: #fff;
	background-color: #0077B5;
}

.instagram:hover,
.instagram:focus,
.instagram:active,
.instagram.active { 	
	color: #fff;
	background: rgba(192,54,171,1);
background: -moz-linear-gradient(top, rgba(192,54,171,1) 0%, rgba(216,57,123,1) 40%, rgba(230,61,95,1) 58%, rgba(238,68,71,1) 71%, rgba(238,135,45,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192,54,171,1)), color-stop(40%, rgba(216,57,123,1)), color-stop(58%, rgba(230,61,95,1)), color-stop(71%, rgba(238,68,71,1)), color-stop(100%, rgba(238,135,45,1)));
background: -webkit-linear-gradient(top, rgba(192,54,171,1) 0%, rgba(216,57,123,1) 40%, rgba(230,61,95,1) 58%, rgba(238,68,71,1) 71%, rgba(238,135,45,1) 100%);
background: -o-linear-gradient(top, rgba(192,54,171,1) 0%, rgba(216,57,123,1) 40%, rgba(230,61,95,1) 58%, rgba(238,68,71,1) 71%, rgba(238,135,45,1) 100%);
background: -ms-linear-gradient(top, rgba(192,54,171,1) 0%, rgba(216,57,123,1) 40%, rgba(230,61,95,1) 58%, rgba(238,68,71,1) 71%, rgba(238,135,45,1) 100%);
background: linear-gradient(to bottom, rgba(192,54,171,1) 0%, rgba(216,57,123,1) 40%, rgba(230,61,95,1) 58%, rgba(238,68,71,1) 71%, rgba(238,135,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c036ab', endColorstr='#ee872d', GradientType=0 );
}
.campos-obligatorios{
	color: #000;
	font-family: 'Gordita-Medium';
	font-size: 2rem;
}
.campos-obligatorios span{
	color: red;
}
.campos-obligatorios-p {
    color: red;
    font-family: 'Gordita-Regular';
    font-style: italic;
    font-size: 1rem;
    text-align: left;
    margin-top: 1%;
}


/***/

.pagerror{
	padding-bottom: 150px;
	padding-top: 100px;
}
.title404 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 16rem;
    text-align: center;
    line-height: 90%;
}

.h2404 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 3rem;
    text-align: center;
    line-height: 90%;
}
.p404 {
    color: #231F20;
    font-family: 'Gordita-Regular';
    font-size: 2.5rem;
    text-align: center;
    line-height: 110%;
    margin-bottom: 5%;
    margin-top: 2%;
}




.a404-btn{
	 background-color: #727376;
    border: 2px solid #727376;
    border-radius: 7px;
	display: inline-block;
	 padding: 2px 12px 3px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.a404-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 3rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.a404-btn:hover{
	background-color: #fff;
}
.a404-btn:hover .a404-a{
	color: #727376;
}


/* BANNER */
.banner-section{}
.banner-section-fluid{
	padding: 0;
}

.slide-arrow-l{
	position: absolute;
	left: 4%;
	z-index: 999;
}
.slide-arrow-r{
	position: absolute;
	right: 4%;
	z-index: 999;
}

.bannercaption {
	 position:relative;
}
.bannercaption img {
	 width:100%;
	 height:100%;
}


.bannercaption .hover {
	background-color:transparent;	
	background-image: url("../images/banner/caption.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;	
	box-sizing:border-box;
	color:#fff;	
	height:100%;	
	left:9%;	
	opacity:1;
	padding-left: 8%;
	padding-right: 6%;
	padding-top:10%;
	position:absolute;	
	transition:opacity .5s ease-out;
	-webkit-transition:opacity .5s ease-out;
	-moz-transition:opacity .2s ease-out;
	text-align: right;
	top:0;
	width:46%;
	z-index:20;
}
.bannercaption .hover .info {
    position: relative;
    font-family: 'Gordita-BlackItalic';
    font-size: 3.8rem;
    color: #fff;
	margin-bottom: 4%;
    opacity: 1;
    transition: animation 1s ease .2s,opacity .5s ease-out .3s;
    -webkit-transition: -webkit-animation 1s ease .2s,opacity .5s ease-out .3s;
    -moz-transition: -moz-animation 1s ease .2s,opacity .5s ease-out .3s;
    text-align: left;
    line-height: 110%;
}
.bannercaption .hover .info:after{
	content: "";
	background-color: #727376;
	height: 5px;
	width: 83px;
	left: 0;
	top: -15px;
	position: absolute;
}

@keyframes translateHover{
0%{
	 opacity:0;
	 transform:translate3d(0,-20px,0);
	 -webkit-transform:translate3d(0,-20px,0);
	 -moz-transform:translate3d(0,-20px,0);
}
20%{
	 opacity:1;
	 transform:translate3d(0,20px,0);
	 -webkit-transform:translate3d(0,20px,0);
	 -moz-transform:translate3d(0,20px,0);
}
50%{
	 transform:translate3d(0,-10px,0);
	 -webkit-transform:translate3d(0,-10px,0);
	 -moz-transform:translate3d(0,-10px,0);
}
80%{
	 transform:translate3d(0,0px,0);
	 -webkit-transform:translate3d(0,0px,0);
	 -moz-transform:translate3d(0,0px,0);
}
85%,100%{
	 opacity:1;
	 transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
}}
@-webkit-keyframes translateHover{
0%{
	 opacity:0;
	 transform:translate3d(0,-20px,0);
	 -webkit-transform:translate3d(0,-20px,0);
	 -moz-transform:translate3d(0,-20px,0);
}
20%{
	 opacity:1;
	 transform:translate3d(0,20px,0);
	 -webkit-transform:translate3d(0,20px,0);
	 -moz-transform:translate3d(0,20px,0);
}
50%{
	 transform:translate3d(0,-10px,0);
	 -webkit-transform:translate3d(0,-10px,0);
	 -moz-transform:translate3d(0,-10px,0);
}
80%{
	 transform:translate3d(0,0px,0);
	 -webkit-transform:translate3d(0,0px,0);
	 -moz-transform:translate3d(0,0px,0);
}
85%,100%{
	 opacity:1;
	 transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
}}


.banner-btn{
	background-color: #727376;
    border: 2px solid #727376;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin-right: 11%;
}
.banner-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.banner-btn:hover{
	background-color: #fff;
}
.banner-btn:hover .banner-a{
	color: #727376;
}

.banner-imgdektop{}
.banner-imgmovil{
	display: none;
}

/*Estilos flechas carrusel*/
.owl-slide-arrows{ 
	position:relative; 
	top: 260px;
}

.owl-slide-arrows .prev, 
.owl-slide-arrows .next{
	background-repeat:no-repeat; 
	background-color:transparent;  
	background-size: contain;
	border:none; 
	width: 26px; 
	height: 41px;
}

.owl-slide-arrows .prev{
	background-image:url("../images/banner/arrowleft.png");
}
.owl-slide-arrows .next{
	background-image:url("../images/banner/arrowright.png");
}

/*Estilos FORM*/
.formulario-section{
	background-color: #ddd; 
	padding-bottom: 50px;
	padding-top: 50px;
}

.colorplace::-webkit-input-placeholder {
	color: #000;
}  
.colorplace:-moz-placeholder {
/* Firefox 18- */ color: #000;
}  
.colorplace::-moz-placeholder { 
/* Firefox 19+ */ color: #000;
}  
.colorplace:-ms-input-placeholder { 
	color: #000; 
}

.help-block-error{	
	color:#6A140F;
	font-size:15px;	
}

.messsage-contact{
	text-align: center;
	display:none;	
	margin-top: 3%;	
}


/*SERVIICOS HOME*/
.servicios-fluid{
	padding-left: 180px;
	padding-right: 180px;
}

.servicioshome-section{
	background-color: #fff;
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.servicioshome-section-fig{
	position: absolute;
	bottom: 0;
	right: 0;
}
.servicioshome-section-h2 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 2.5rem;
    letter-spacing: 15px;
    text-align: left;
    padding-left: 10%;
    margin-bottom: 2%;
}
.servicios-btn{
	background-color: #4D4D4F;
    border: 2px solid #4D4D4F;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.servicios-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.servicios-btn:hover{
	background-color: #fff;
}
.servicios-btn:hover .servicios-a{
	color: #4D4D4F;
}

.actionserviciosimg-p {
    color: #fff;
    font-family: 'Gordita-Bold';
	font-style: italic;
    font-size: 3rem;
    text-align: left;
    position: absolute;
    bottom: 20px;
    z-index: 99;
    padding: 0 0 2% 8%;
    line-height: 90%;
}
.actionserviciosimg-p2 {
    color: #000;
    font-family: 'Gordita-Bold';
	font-style: italic;
    font-size: 2rem;
    text-align: center;
    padding: 5% 0 2% 0%;
    line-height: 90%;
}
.actionservicios-h2{
	color: #000;
    font-family: 'Gordita-Bold';
	font-style: italic;
    font-size: 2rem;
    text-align: center;
}
.actionImg2 {
	position:relative;
	padding: 0 5% 0 0;
}
.actionImg2-fig{
	background-image: url("../images/servicios/bg-caption.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 95%;
	height: 100%;
}
.actionImg2 .hover {
	 z-index:20;
	 position:absolute;
	 top:0;
	 left:0;
	 background-color:rgba(77, 77, 79, 0.5);
	 width:95%;
	 height:100%;
	 color:#efefef;
	 text-align:center;
	 padding-top:46.2%;
	 box-sizing:border-box;
	 opacity:0;
	 transition:opacity .5s ease-out;
	 -webkit-transition:opacity .5s ease-out;
	 -moz-transition:opacity .2s ease-out;
}
.actionImg2 .hover .sub_tit{
	color:#fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	font-style: italic;
	font-size:3rem;
	margin-right: 2%;
	opacity:0;	
	transition:animation 1s ease .2s,opacity .5s ease-out .3s;
	-webkit-transition:-webkit-animation 1s ease .2s,opacity .5s ease-out .3s;
	-moz-transition:-moz-animation 1s ease .2s,opacity .5s ease-out .3s;
	position:relative;
}
.actionImg2:hover .hover {
	opacity:1;
}

.actionImg2:hover .actionserviciosimg-p {
	display: none;
}
.actionImg2:hover  .actionImg2-fig{
	display: none;
}


.actionImg2:hover .hover .sub_tit {
	animation:translateHover .8s .2s;
	-webkit-animation:translateHover .8s .2s;
	-moz-animation:translateHover .8s .2s;
	transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
	 -ms-transform:none;
	 opacity:1;
}
@keyframes translateHover{
0%{
	 opacity:0;
	 transform:translate3d(0,-20px,0);
	 -webkit-transform:translate3d(0,-20px,0);
	 -moz-transform:translate3d(0,-20px,0);
}
20%{
	 opacity:1;
	 transform:translate3d(0,20px,0);
	 -webkit-transform:translate3d(0,20px,0);
	 -moz-transform:translate3d(0,20px,0);
}
50%{
	 transform:translate3d(0,-10px,0);
	 -webkit-transform:translate3d(0,-10px,0);
	 -moz-transform:translate3d(0,-10px,0);
}
80%{
	 transform:translate3d(0,0px,0);
	 -webkit-transform:translate3d(0,0px,0);
	 -moz-transform:translate3d(0,0px,0);
}
85%,100%{
	 opacity:1;
	 transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
}}
@-webkit-keyframes translateHover{
0%{
	 opacity:0;
	 transform:translate3d(0,-20px,0);
	 -webkit-transform:translate3d(0,-20px,0);
	 -moz-transform:translate3d(0,-20px,0);
}
20%{
	 opacity:1;
	 transform:translate3d(0,20px,0);
	 -webkit-transform:translate3d(0,20px,0);
	 -moz-transform:translate3d(0,20px,0);
}
50%{
	 transform:translate3d(0,-10px,0);
	 -webkit-transform:translate3d(0,-10px,0);
	 -moz-transform:translate3d(0,-10px,0);
}
80%{
	 transform:translate3d(0,0px,0);
	 -webkit-transform:translate3d(0,0px,0);
	 -moz-transform:translate3d(0,0px,0);
}
85%,100%{
	 opacity:1;
	 transform:none;
	 -webkit-transform:none;
	 -moz-transform:none;
}}
/*Estilos flechas carrusel*/
.owl-servicios-arrows{ 
	position:relative; 
	top: 160px;
}

.owl-servicios-arrows .prev, 
.owl-servicios-arrows .next{
	background-repeat:no-repeat; 
	background-color:transparent;  
	background-size: contain;
	border:none; 
	width: 26px; 
	height: 41px;
}

.owl-servicios-arrows .prev{
	background-image:url("../images/main/arrow-left.png");
	position: absolute;
	right: 15%;
}
.owl-servicios-arrows .next{
	background-image:url("../images/main/arrow-right.png");
}

/**/
.fluid-rutashome{
	padding-left: 180px;
	padding-right: 180px;
}
.rutashome-section{
	background-image: url("../images/main/bg-rutas-parallax.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 70px;
	padding-top: 70px;
}
.rutashome-section-h2{
    color: #fff;
    display: inline-block;
    font-family: 'Gordita-BlackItalic';
    font-size: 7rem;
    text-align: left;
}

.rutashome-btn{
	background-color: #E36B26;
    border: 2px solid #E36B26;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: left;
	margin-top: 10%;
}
.rutashome-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.rutashome-btn:hover{
	background-color: #fff;
}
.rutashome-btn:hover .rutashome-a{
	color: #E36B26;
}
/**/
.owl-section{
	background-color: #fff;
	padding-bottom: 160px;
	padding-top: 120px;
	position:relative; 
}
.owl-section-fig {
	background-image: url(../images/main/fig1.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 529px;
	width: 96px;
    position: absolute;
    bottom: -1px;
    right: -1px;
}
.owl-info {
    padding-right: 3%;
	position: relative;
}
.owl-info:after{
	background-color: #939598;
	content: "";
	right: -10%;
	top: 0;
	height: 100%;
	width: 3px;
	position: absolute;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.owl-info h2{
	color: #000;
	font-family: 'Gordita-BlackItalic';
	font-size: 6rem;
	padding-bottom: 4%;
	text-align: right;
	position: relative;
}
.owl-info h2:after{
	content: "";
	background-color: #E36B26;
	height: 5px;
	width: 60%;
	right: 0;
	bottom: 0px;
	position: absolute;
}
.owl-info p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 2rem;
	letter-spacing: 9px;
	text-align: right;
	margin-bottom: 6%;
}
.owl-info a{}


.owl-btn{
	background-color: #727376;
    border: 2px solid #727376;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.owl-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.owl-btn:hover{
	background-color: #fff;
}
.owl-btn:hover .owl-a{
	color: #727376;
}

/*Estilos flechas carrusel*/
.owl-slide2-arrows{ 
	position:relative; 
	top: 60px;
}

.owl-slide2-arrows .prev, 
.owl-slide2-arrows .next{
	background-repeat:no-repeat; 
	background-color:transparent;  
	background-size: contain;
	border:none; 
	width: 26px; 
	height: 41px;
}

.owl-slide2-arrows .prev{
	background-image:url("../images/main/arrow-left.png");
	position: relative;
	left: 67%;
}
.owl-slide2-arrows .next{
	background-image:url("../images/main/arrow-right.png");
}

/*Estilos Personalizados*/

.unase-section{
	background-image: url(../images/main/bg-unase-parallax.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 0px;
	padding-top: 70px;
}
.unase-section-div {
    padding-bottom: 5%;
}
.unase-section-div img{
    position: absolute;
    bottom: 0;
    left:-227px;
}
.unase-section-h2{
    color: #fff;
    display: inline-block;
    font-family: 'Gordita-BlackItalic';
    font-size: 6rem;
    text-align: left;
    padding-left: 27%;
}

.unase-btn{
	background-color: #E36B26;
    border: 2px solid #E36B26;
    border-radius: 7px;
	display: inline-block;
	padding: 8px 15px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.unase-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.unase-btn:hover{
	background-color: #fff;
}
.unase-btn:hover .unase-a{
	color: #E36B26;
}


/**/

.popup-comunidad{
	background-color: #fff;
	background-image: url("../images/popup/bg1.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 70px;
	padding-top: 70px;
}
.popup-comunidad-div{
	width: 20%;
	padding: 0;
}
.popup-comunidad-h2-c2{
	color: #fff !important;
}
.popup-comunidad-h2{
    color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 5rem;   
    margin-bottom: 4%;
    opacity: 1;    
	position: relative;
    text-align: left;  
}
.popup-comunidad-h2:after{
    content: "";
    background-color: #727376;
    height: 5px;
    width: 83px;
    left: 0;
    top: -15px;
    position: absolute;
}
.popup-comunidad-h3 {
    color: #000;
    font-family: 'Gordita-Bold';
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    position: relative;
    left: -10%;
    line-height: 90%;
}

.popup-documentos{
	background-color: #000;
	background-image: url("../images/accionistas/docuementos/bgpopup.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 90px;
	padding-top: 70px;
}

.servicioshome-rowmovil{
	display: none;
}
/*------RESPONSIVE----*/
@media screen and (min-width:180px) and (max-width:599px){
	
	/**/
	.popup-comunidad-h2 {
		font-size: 2.2rem;
		text-align: left;
	}
	.popup-comunidad-h2::after{
		width:53px;
		left: 0%;
	}
	.popup-comunidad-h3{
		font-size: 2rem;
		left: 0;
	}		
	.popup-comunidad-div {
		width: 100%;
		padding: 0 5%;
		margin-bottom: 5%;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:1023px){
	
	/**/
	.popup-comunidad-h2{
		font-size: 3.5rem;
	}
	.popup-comunidad-h2::after{
		width: 73px;
	}
	.popup-comunidad-h3{
		font-size: 2rem;
	}	
		
}

@media screen and (min-width:280px) and (max-width:479px){
	
	html{
		overflow-x: hidden !important;
	}
	
	/* HEADER */
	.header-info-ul {
		text-align: center;
	}
	.header-info {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
	}
	.espeng-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.espeng-a{
		font-size: 1.2rem; 
	}
	.grupo-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a{
		font-size: 1.2rem; 
	}
	.navbar-header{
		display: none !important;
	}
	.navbar-header2{
		display: block !important;
		padding-top: 20px;
	}
	.content-nav {
		margin-bottom: 7%;
		margin-top: 7%;
		padding: 0 18%;
	}
	.menumovil {
		display: inline-block;
		font-size: 2.8rem;
		margin-left: 10px;
	}
	
	/* COTIZAR */
	.cotizar-btn {
		border-radius: 0;
		padding: 5px 25px 5px 15px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 0;
		right: 0%;
		transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-webkit-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-moz-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
	}
	.cotizar-a{
		font-size: 2rem;
		transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-webkit-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-moz-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
	}
		
	
	/* NAV */
	
	.fluid-nav {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.navbar-toggle {
		background-color: #fff;
		background-image: none;
		border: 1px solid  #727376;
		border-radius: 4px;
		float: right;
		margin-bottom: 8px;
		margin-right: 10px;
		margin-top: 8px;
		padding: 9px 10px;
		position: relative;
	}
	.navbar-toggle .icon-bar{
		background-color: #727376;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.nav-horizontal {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.dropdown-menu{
		padding-bottom: 2%;
		text-align: center;
		min-width: auto;
	}
	.dropdown-menu > li > a {
		padding: 23px 20px;
	}
	
	
	/* FOOTER */
	
	.footer{
		padding: 70px 0 50px;
	}		
	.footer-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.footer-col-logo {
		margin-bottom: 5%;
	}	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	.footer-col-certificaciones  {
		height: auto;
		padding: 0;
	}
	.footer-col-info {
		width: 100%;
		padding-left: 15px;
		margin-bottom: 5%;
	}
	.footer-col-contacto {
		width: 100%;
	}
	.footer-title {
		margin-bottom: 4%;
	}
	.footer-title-r {
		text-align: center;
	}
	.footer-title-l {
		text-align: center;
	}
	.footer-info-ul li.align-l {
		text-align: center;
	}
	.footer-info-ul li.align-r {
		text-align: center;
	}
	.footer-row2 {
		padding-top: 4%;
		padding-bottom: 4%;
	}
	.footer-info-ul li.politica {
		margin-bottom: 0%;
		margin-top: 5%;
		padding-bottom: 0;
	}
	.redes-inline {
		text-align: center;
	}
	.footer-info-ul li.tel{
		display: none;
	}
	.footer-info-ul li.telmovil{
		display: block;
		text-align: center;
	}
	.footer-info-ul li.telmovil a {
		margin-left: 0%;
		display: block;
		margin-top: 3%;
	}
	.footer-col-certificaciones a img {
		margin-left: auto;
	}
	
	/* HOME */
		
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	
	/* BANNER */
	.banner-imgdektop{
		display: none;
	}
	.banner-imgmovil{
		display: block;
	}
		
	.bannercaption .hover {
		background-image: url("../images/banner/captionmovil.png");
		background-size: 100%;
		left: 0;
		padding-left: 14%;
		padding-right: 8%;
		padding-top: 28%;
		width: 100%;
	}
	.bannercaption .hover .info {
		font-size: 2rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 50px;
		top: -12px;
	}
	.banner-a{
		font-size: 1.8rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn {
		padding:6px 12px 8px;
		border-radius: 5px;
		line-height: 90%;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 150px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next {
		width: 10px;
		height: 25px;
	}
	.slide-arrow-r {
		right: -2%;
	}
	.slide-arrow-l {
		left: 0%;
	}
	
	/* HOME SECTION */
	.home-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.actionhomeimg .back{
		display: none;
	}
	.home-section-div2 {
		margin-top: 40px;
	}
	.home-section-div3 {
		margin-top: 40px;
	}
	.home-section-h2{
		display: block;
		font-size: 3.2rem;
	}

	/* ÚNASE */
	
	.unase-section-div {
		padding-bottom: 9%;
	}
	.unase-section-h2{
		font-size: 2rem;
		padding-left: 33%;
	}		
	.unase-a{
		font-size: 1.2rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn {
		padding: 7px 12px 5px;
		border-radius: 5px;
		line-height: 90%;
	}
	.unase-section-div img {
		width: 133px;
		left: 0;
	}
	
	/**/
	.servicioshome-section{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.servicioshome-section-h2 {
		font-size: 2rem;
		letter-spacing: 7px;
		padding-left: 0;
		margin-bottom: 4%;
		text-align: center;
	}
	.owl-servicios-arrows {
		display: none;
	}
	.actionImg2 {
		padding: 0;
		margin-bottom: 10%;
		text-align: center;
	}
	.actionImg2 img{
		display: block;
		margin: auto;
	}
	.actionserviciosimg-p{
		font-size: 2rem;
	}
	.actionImg2 .hover .sub_tit{
		font-size: 2rem;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn{
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicioshome-rowdesktop{
		display: none;
	}
	.servicioshome-rowmovil{
		display: block;
	}
	.actionservicios-h2{
		display: inline;
		margin-right: 2%;
	}
	/**/
	.rutashome-section{
		padding-bottom: 60px;
		padding-top: 40px;
	}
	.fluid-rutashome {
		padding-left: 30px;
		padding-right: 30px;
	}
	.rutashome-section-h2{
		font-size: 3rem;
		text-align: center;
	}
	.rutashome-btn {
		margin-top: 5%;
		float: none;
		display: block;
		text-align: center;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
		padding: 5px 12px;

	}
	.rutashome-a{
		font-size: 1.5rem;
		text-align: center;
	}
	
	
	/**/
	.owl-section {
		padding-bottom: 90px;
		padding-top: 70px;
	}
	.owl-info h2{
		font-size: 3rem;
		text-align: center;
	}
	.owl-info p {		
		font-size: 1.7rem;
		letter-spacing: 1px;
		text-align: center;
	}
	.owl-section-l{
		position: absolute;
		left: 0;
	}
	.owl-section-r{
		position: absolute;
		right: 0%;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next {
		width: 10px;
		height: 25px;
	}
	.owl-info {
		padding-right: 0;
		text-align: center;
	}
	.owl-a{
		font-size: 1.5rem;
		text-align: center;
	}
	.owl-btn {		
		border-radius: 4px;
		padding: 4px 12px;
		float: none;
	}
	.owl-info::after{
		display: none;
	}
	.owl-section-fig{
		width: 45px;
	}
	.owl-info h2::after {
		height: 5px;
		width: 80%;
		right: 10%;
	}
	
	
	.pagerror {
		padding-bottom: 100px;
		padding-top: 70px;
	}
	.title404{
		font-size: 10rem;
	}
	.h2404{
		font-size: 2rem;
	}
	.p404{
		font-size: 2rem;
	}
	.a404-a{
		font-size: 2rem;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
		
	html{
		overflow-x: hidden !important;
	}
	
	/* HEADER */
	
	.header-info {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
	}
	.header-info-ul{
		text-align: center;
	}
	.comunidad-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.comunidad-a{
		font-size: 1.2rem; 
	}
	
	.espeng-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.espeng-a{
		font-size: 1.2rem; 
	}
	.grupo-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a{
		font-size: 1.2rem; 
	}
	.navbar-header{
		display: none !important;
	}
	.navbar-header2{
		display: block !important;
		padding-top: 20px;
	}
	.content-nav {
		margin-bottom: 7%;
		margin-top: 7%;
		padding: 0 25%;
	}
	.menumovil {
		display: inline-block;
		font-size: 2.8rem;
		margin-left: 10px;
	}
	
	/* COTIZAR */
	.cotizar-btn {
		border-radius: 0;
		padding: 8px 25px 8px 15px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 0;
		right: 0%;
		transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-webkit-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-moz-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
	}
	.cotizar-a{
		font-size: 2rem;
		transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-webkit-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-moz-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
	}
		
		
	
	/* NAV */
	
	.fluid-nav {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.navbar-toggle {
		background-color: #fff;
		background-image: none;
		border: 1px solid  #727376;
		border-radius: 4px;
		float: right;
		margin-bottom: 8px;
		margin-right: 10px;
		margin-top: 8px;
		padding: 9px 10px;
		position: relative;
	}
	.navbar-toggle .icon-bar{
		background-color: #727376;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.nav-horizontal {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.dropdown-menu{
		padding-bottom: 2%;
		text-align: center;
		min-width: auto;
	}
	.dropdown-menu > li > a {
		padding: 23px 20px;
	}
	
	/* FOOTER */
	
	.footer{
		padding: 70px 0 50px;
	}	
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-col-logo {
		margin-bottom: 5%;
	}	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	.footer-col-certificaciones  {
		height: auto;
		padding: 0;
	}
	.footer-col-info {
		width: 100%;
		padding-left: 15px;
		margin-bottom: 5%;
	}
	.footer-col-contacto {
		width: 100%;
	}
	.footer-title {
		margin-bottom: 4%;
	}
	.footer-title-r {
		text-align: center;
	}
	.footer-title-l {
		text-align: center;
	}
	.footer-info-ul li.align-l {
		text-align: center;
	}
	.footer-info-ul li.align-r {
		text-align: center;
	}
	.footer-row2 {
		padding-top: 4%;
		padding-bottom: 4%;
	}
	.footer-info-ul li.politica {
		margin-bottom: 0%;
		margin-top: 5%;
		padding-bottom: 0;
	}
	.redes-inline {
		text-align: center;
	}
	.footer-info-ul li.tel{
		display: none;
	}
	.footer-info-ul li.telmovil{
		display: block;
		text-align: center;
	}
	.footer-info-ul li.telmovil a {
		margin-left: 0%;
		display: block;
		margin-top: 3%;
	}
	.footer-col-certificaciones a img {
		margin-left: auto;
	}
	
	/* HOME */
		
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	
	/* BANNER */
	.banner-imgdektop{
		display: none;
	}
	.banner-imgmovil{
		display: block;
	}
		
	.bannercaption .hover {
		background-image: url("../images/banner/captionmovil.png");
		background-size: 100%;
		left: 0;
		padding-left: 14%;
		padding-right: 8%;
		padding-top: 28%;
		width: 100%;
	}
	.bannercaption .hover .info {
		font-size: 2.7rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 50px;
		top: -12px;
	}
	.banner-a{
		font-size: 1.8rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn {
		padding:6px 12px 8px;
		border-radius: 5px;
		line-height: 90%;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 200px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next {
		width: 10px;
		height: 25px;
	}
	.slide-arrow-r {
		right: -2%;
	}
	.slide-arrow-l {
		left: 0%;
	}
	
	/* HOME SECTION */
	.home-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.actionhomeimg .back{
		display: none;
	}
	.home-section-div2 {
		margin-top: 40px;
	}
	.home-section-div3 {
		margin-top: 40px;
	}
	.home-section-h2{
		display: block;
		font-size: 3.2rem;
	}
	/* ÚNASE */
	
	.unase-section-div {
		padding-bottom: 9%;
	}
	.unase-section-h2 {
		font-size: 3rem;
		padding-left: 29%;
	}	
	.unase-a{
		font-size: 1.4rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn {
		padding: 3px 12px 5px;
		border-radius: 5px;
		line-height: 90%;
		float: none;
		display: block;
		width: 40%;
		text-align: center;
		margin: auto;
	}
	.unase-section-div img {
		width: 153px;
		left: 40px;
	}
	
	/**/
	.servicioshome-section{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.servicioshome-section-h2 {
		font-size: 2rem;
		letter-spacing: 7px;
		padding-left: 0;
		margin-bottom: 4%;
		text-align: center;
	}
	.owl-servicios-arrows {
		display: none;
	}
	.actionImg2 {
		padding: 0;
		margin-bottom: 10%;
		text-align: center;
	}
	.actionImg2 img{
		display: block;
		margin: auto;
	}
	.actionserviciosimg-p{
		font-size: 2rem;
	}
	.actionImg2 .hover .sub_tit{
		font-size: 2rem;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn{
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicioshome-rowdesktop{
		display: none;
	}
	.servicioshome-rowmovil{
		display: block;
	}
	.actionservicios-h2{
		display: inline;
		margin-right: 2%;
	}
	/**/
	.rutashome-section{
		padding-bottom: 60px;
		padding-top: 40px;
	}
	.fluid-rutashome {
		padding-left: 30px;
		padding-right: 30px;
	}
	.rutashome-section-h2{
		font-size: 3rem;
		text-align: center;
	}
	.rutashome-btn {
		margin-top: 5%;
		float: none;
		display: block;
		text-align: center;
		width: 72%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
		padding: 5px 12px;
	}
	.rutashome-a{
		font-size: 1.5rem;
		text-align: center;
	}
	
	
	/**/
	.owl-section {
		padding-bottom: 90px;
		padding-top: 70px;
	}
	.owl-info h2{
		font-size: 3rem;
		text-align: center;
	}
	.owl-info p {		
		font-size: 1.7rem;
		letter-spacing: 1px;
		text-align: center;
	}
	.owl-section-l{
		position: absolute;
		left: 0;
	}
	.owl-section-r{
		position: absolute;
		right: 0%;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next {
		width: 10px;
		height: 25px;
	}
	.owl-info {
		padding-right: 0;
		text-align: center;
	}
	.owl-a{
		font-size: 1.5rem;
		text-align: center;
	}
	.owl-btn {		
		border-radius: 4px;
		padding: 4px 12px;
		float: none;
	}
	.owl-info::after{
		display: none;
	}
	.owl-section-fig{
		width: 45px;
	}
	.owl-info h2::after {
		height: 5px;
		width: 80%;
		right: 10%;
	}
	
	.pagerror {
		padding-bottom: 100px;
		padding-top: 70px;
	}
	.title404{
		font-size: 10rem;
	}
	.h2404{
		font-size: 2rem;
	}
	.p404{
		font-size: 2rem;
	}
	.a404-a{
		font-size: 2rem;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	html{
		overflow-x: hidden !important;
	}
	
	/* HEADER */
	
	.header-info {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
	}
	.header-info-ul{
		text-align: center;
	}
	.comunidad-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.comunidad-a{
		font-size: 1.2rem;  
	}
	
	.espeng-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.espeng-a{
		font-size: 1.2rem; 
	}
	.grupo-btn{
		padding: 6px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a{
		font-size: 1.2rem; 
	}
	.navbar-header{
		display: none !important;
	}
	.navbar-header2{
		display: block !important;
		padding-top: 20px;
	}
	.content-nav {
		margin-bottom: 5%;
		margin-top: 7%;
		padding: 0 30%;
	}
	.menumovil {
		display: inline-block;
		font-size: 2.8rem;
		margin-left: 10px;
	}
	
	/* COTIZAR */
	.cotizar-btn {
		border-radius: 0;
		padding: 5px 25px 5px 15px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 0;
		right: 0%;
		transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-webkit-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-moz-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
	}
	.cotizar-a{
		font-size: 2rem;
		transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-webkit-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
		-moz-transform: scale(1,1) rotate(0)skew(0deg,0) translate(0,0);
	}
		
		
	
	/* NAV */
	
	.fluid-nav {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.navbar-toggle {
		background-color: #fff;
		background-image: none;
		border: 1px solid  #727376;
		border-radius: 4px;
		float: right;
		margin-bottom: 8px;
		margin-right: 10px;
		margin-top: 8px;
		padding: 9px 10px;
		position: relative;
	}
	.navbar-toggle .icon-bar{
		background-color: #727376;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.nav-horizontal {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.dropdown-menu{
		padding-bottom: 2%;
		text-align: center;
		min-width: auto;
	}
	.dropdown-menu > li > a {
		padding: 23px 20px;
	}
	
	/* FOOTER */
	
	.footer{
		padding: 70px 0 50px;
	}	
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-col-logo {
		margin-bottom: 5%;
	}	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	.footer-col-certificaciones  {
		height: auto;
		padding: 0;
	}
	.footer-col-info {
		width: 100%;
		padding-left: 15px;
		margin-bottom: 5%;
	}
	.footer-col-contacto {
		width: 100%;
	}
	.footer-title {
		margin-bottom: 4%;
	}
	.footer-title-r {
		text-align: center;
	}
	.footer-title-l {
		text-align: center;
	}
	.footer-info-ul li.align-l {
		text-align: center;
	}
	.footer-info-ul li.align-r {
		text-align: center;
	}
	.footer-row2 {
		padding-top: 4%;
		padding-bottom: 4%;
	}
	.footer-info-ul li.politica {
		margin-bottom: 0%;
		margin-top: 5%;
		padding-bottom: 0;
	}
	.redes-inline {
		text-align: center;
	}
	.footer-info-ul li.tel{
		display: none;
	}
	.footer-info-ul li.telmovil{
		display: block;
		text-align: center;
	}
	.footer-info-ul li.telmovil a {
		margin-left: 0%;
		display: block;
		margin-top: 3%;
	}
	.footer-col-certificaciones a img {
		margin-left: auto;
	}
	
	/* HOME */
		
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	
	/* BANNER */
	.banner-imgdektop{
		display: none;
	}
	.banner-imgmovil{
		display: block;
	}
		
	.bannercaption .hover {
		background-image: url("../images/banner/captionmovil.png");
		background-size: 100%;
		left: 0;
		padding-left: 14%;
		padding-right: 8%;
		padding-top: 20%;
		width: 100%;
	}
	.bannercaption .hover .info {
		font-size: 3.2rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 50px;
		top: -12px;
	}
	.banner-a{
		font-size: 1.8rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn {
		padding:6px 12px 8px;
		border-radius: 5px;
		line-height: 90%;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 200px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next {
		width: 10px;
		height: 25px;
	}
	.slide-arrow-r {
		right: -2%;
	}
	.slide-arrow-l {
		left: 0%;
	}
	
	/* HOME SECTION */
	.home-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	.actionhomeimg .back{
		display: none;
	}
	.home-section-div2 {
		margin-top: 40px;
	}
	.home-section-div3 {
		margin-top: 40px;
	}
	.home-section-h2{
		display: block;
		font-size: 3.2rem;
	}
	/* ÚNASE */
	
	.unase-section-div {
		padding-bottom: 9%;
	}
	.unase-section-h2 {
		font-size: 3rem;
		padding-left: 29%;
	}	
	.unase-a{
		font-size: 1.4rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn {
		padding: 3px 12px 5px;
		border-radius: 5px;
		line-height: 90%;
		float: none;
		display: block;
		width: 40%;
		text-align: center;
		margin: auto;
	}
	.unase-section-div img {
		width: 153px;
		left: 40px;
	}
	
	/**/
	.servicioshome-section{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.servicioshome-section-h2 {
		font-size: 2rem;
		letter-spacing: 7px;
		padding-left: 0;
		margin-bottom: 4%;
		text-align: center;
	}
	.owl-servicios-arrows {
		display: none;
	}
	.actionImg2 {
		padding: 0;
		margin-bottom: 10%;
		text-align: center;
	}
	.actionImg2 img{
		display: block;
		margin: auto;
	}
	.actionserviciosimg-p{
		font-size: 2rem;
	}
	.actionImg2 .hover .sub_tit{
		font-size: 2rem;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn{
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicioshome-rowdesktop{
		display: none;
	}
	.servicioshome-rowmovil{
		display: block;
	}
	.actionservicios-h2{
		display: inline;
		margin-right: 2%;
	}
	/**/
	.rutashome-section{
		padding-bottom: 60px;
		padding-top: 40px;
	}
	.fluid-rutashome {
		padding-left: 30px;
		padding-right: 30px;
	}
	.rutashome-section-h2{
		font-size: 3rem;
		text-align: center;
	}
	.rutashome-btn {
		margin-top: 5%;
		float: none;
		display: block;
		text-align: center;
		width: 55%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
		padding: 5px 12px;
	}
	.rutashome-a{
		font-size: 1.5rem;
		text-align: center;
	}
	
	
	/**/
	.owl-section {
		padding-bottom: 90px;
		padding-top: 70px;
	}
	.owl-info h2{
		font-size: 3rem;
		text-align: center;
	}
	.owl-info p {		
		font-size: 1.7rem;
		letter-spacing: 1px;
		text-align: center;
	}
	.owl-section-l{
		position: absolute;
		left: 0;
	}
	.owl-section-r{
		position: absolute;
		right: 0%;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next {
		width: 10px;
		height: 25px;
	}
	.owl-info {
		padding-right: 0;
		text-align: center;
	}
	.owl-a{
		font-size: 1.5rem;
		text-align: center;
	}
	.owl-btn {		
		border-radius: 4px;
		padding: 4px 12px;
		float: none;
	}
	.owl-info::after{
		display: none;
	}
	.owl-section-fig{
		width: 45px;
	}
	.owl-info h2::after {
		height: 5px;
		width: 80%;
		right: 10%;
	}

	
	
	
	
}


@media (min-width: 768px) and (max-width: 1023px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header2 .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header2 {
		float: right;
		display: block !important;
		width: 37%;
		top: -25px;
		position: relative;
	}
	.img-logonav2{
		display: none;
	}
	.navbar-header{
		width: 100%;
	}
	
}


@media screen and (min-width:768px) and (max-width:799px){
	
		/* HEADER */
	
	.header-info {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 50px;
	}
	.comunidad-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.comunidad-a{
		font-size: 1rem; 
	}
	.grupo-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a{
		font-size: 1rem; 
	}
	.espeng-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.espeng-a{
		font-size: 1rem; 
	}
	.logo {
		width: 80%;
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 1.8rem; 
	}
	
	/* NAV */
	.collapse {
		display: none;
		visibility: hidden;
	}
	.fluid-nav {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.navbar-toggle {
		background-color: #fff;
		background-image: none;
		border: 1px solid  #727376;
		border-radius: 4px;
		float: right;
		margin-bottom: 8px;
		margin-right: 10px;
		margin-top: 8px;
		padding: 9px 10px;
		position: relative;
	}
	.navbar-toggle .icon-bar{
		background-color: #727376;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.nav-horizontal {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.dropdown-menu {
		padding-bottom: 2%;
		text-align: center;
		min-width: 100%;
		position: relative;
	}
	.dropdown-menu > li > a {
		padding: 23px 20px;
	}
	.menumovil {	
		display: inline-block;
		text-align: right;
		padding-top: 3%;
	}
	/* FOOTER */
		
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-col-logo {
		margin-bottom: 5%;
	}	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	.footer-col-certificaciones  {
		height: auto;
		padding: 0;
	}
	.footer-col-info {
		width: 100%;
		padding-left: 15px;
		margin-bottom: 5%;
	}
	.footer-col-contacto {
		width: 100%;
	}
	.footer-title {
		margin-bottom: 4%;
	}
	.footer-title-r {
		text-align: center;
	}
	.footer-title-l {
		text-align: center;
	}
	.footer-info-ul li.align-l {
		text-align: center;
	}
	.footer-info-ul li.align-r {
		text-align: center;
	}
	.footer-row2 {
		padding-top: 4%;
		padding-bottom: 4%;
	}
	.footer-info-ul li.politica {
		margin-bottom: 0%;
		margin-top: 5%;
		padding-bottom: 0;
	}
	.redes-inline {
		text-align: center;
	}
	.footer-info-ul li.tel{
		display: none;
	}
	.footer-info-ul li.telmovil{
		display: block;
		text-align: center;
	}
	.footer-info-ul li.telmovil a {
		margin-left: 0%;
		display: block;
		margin-top: 3%;
	}
	.footer-col-certificaciones a img {
		margin-left: auto;
	}
	
	
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	/* BANNER */
	.bannercaption .hover {
		padding-left: 6%;
		padding-right: 3%;
		padding-top: 9%;
	}
	.bannercaption .hover .info {
		font-size: 2rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 50px;
		top: -10px;
	}
	.banner-a{
		font-size: 1rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn {
		padding: 3px 12px 5px;
		border-radius: 5px;
		line-height: 90%;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 100px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next{
		width: 15px;
		height: 30px;
	}
	.slide-arrow-r {
		right: -1%;
	}
	
	
	/* ÚNASE */
	
	.unase-section-div {
		padding-bottom: 9%;
	}
	.unase-section-h2{
		font-size: 4rem;
	}		
	.unase-a{
		font-size: 2rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn {
		padding: 9px 12px 9px;
		border-radius: 5px;
		line-height: 90%;
		text-align: center;
		float: none;
		display: block;
		margin: auto;
		width: 30%;
	}
	.unase-section-div img {
		width: 250px;
		left: 0;
	}
	/**/
	.servicioshome-section{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.servicioshome-section-h2 {
		font-size: 2rem;
		letter-spacing: 7px;
		padding-left: 0;
		margin-bottom: 4%;
	}
	.owl-servicios-arrows {
		display: none;
	}
	.actionImg2 {
		padding: 0;
		margin-bottom: 10%;
		text-align: center;
		height: 500px;
	}
	.actionImg2 img{
		display: block;
		margin: auto;
	}
	.actionserviciosimg-p{
		font-size: 2rem;
	}
	.actionImg2 .hover .sub_tit{
		font-size: 2rem;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn{
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicioshome-rowdesktop{
		display: none;
	}
	.servicioshome-rowmovil{
		display: block;
	}
	.actionservicios-h2{
		display: inline;
		margin-right: 2%;
	}
	/**/
	.rutashome-section{
		padding-bottom: 60px;
		padding-top: 40px;
	}
	.fluid-rutashome {
		padding-left: 30px;
		padding-right: 30px;
	}
	.rutashome-section-h2{
		font-size: 3rem;
		text-align: center;
	}
	
	.rutashome-a{
		font-size: 1.5rem;
		text-align: center;
	}
	.rutashome-btn{
		border-radius: 4px;
		padding: 5px 12px;
	}
	.rutashome-btn {
		float: none;
		margin: 3% auto 0;
		text-align: center;
		display: block;
		width: 50%;
	}
	
	/**/
	.owl-section {
		padding-bottom: 90px;
		padding-top: 70px;
	}
	.owl-info h2{
		font-size: 3rem;
		text-align: center;
	}
	.owl-info p {		
		font-size: 1.7rem;
		letter-spacing: 1px;
		text-align: center;
	}
	.owl-section-l{
		position: absolute;
		left: 0;
	}
	.owl-section-r{
		position: absolute;
		right: -1%;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next {
		width: 10px;
		height: 25px;
	}
	.owl-info {
		padding-right: 0;
		text-align: center;
	}
	.owl-a{
		font-size: 1.5rem;
		text-align: center;
	}
	.owl-btn {		
		border-radius: 4px;
		padding: 4px 12px;
		float: none;
	}
	.owl-info::after{
		display: none;
	}
	.owl-section-fig{
		width: 45px;
	}
	.owl-info h2::after {
		height: 5px;
		width: 80%;
		right: 10%;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	/* HEADER */
	
	.header-info {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 50px;
	}
	.comunidad-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.comunidad-a{
		font-size: 1rem; 
	}
	.grupo-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a{
		font-size: 1rem; 
	}
	.espeng-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.espeng-a{
		font-size: 1rem; 
	}
	.logo {
		width: 80%;
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 1.8rem; 
	}
	
	/* NAV */
	.collapse {
		display: none;
		visibility: hidden;
	}
	.fluid-nav {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.navbar-toggle {
		background-color: #fff;
		background-image: none;
		border: 1px solid  #727376;
		border-radius: 4px;
		float: right;
		margin-bottom: 8px;
		margin-right: 10px;
		margin-top: 8px;
		padding: 9px 10px;
		position: relative;
	}
	.navbar-toggle .icon-bar{
		background-color: #727376;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.nav-horizontal {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;		
	}
	.nav-horizontal__li {
		font-size: 1.8rem;		
		margin: 0;
		width: 100%;
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.dropdown-menu {
		padding-bottom: 2%;
		text-align: center;
		min-width: 100%;
		position: relative;
	}
	.dropdown-menu > li > a {
		padding: 23px 20px;
	}
	.menumovil {	
		display: inline-block;
		text-align: right;
		padding-top: 3%;
	}
	/* FOOTER */
		
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-col-logo {
		margin-bottom: 5%;
	}	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	.footer-col-certificaciones  {
		height: auto;
		padding: 0;
	}
	.footer-col-info {
		width: 100%;
		padding-left: 15px;
		margin-bottom: 5%;
	}
	.footer-col-contacto {
		width: 100%;
	}
	.footer-title {
		margin-bottom: 4%;
	}
	.footer-title-r {
		text-align: center;
	}
	.footer-title-l {
		text-align: center;
	}
	.footer-info-ul li.align-l {
		text-align: center;
	}
	.footer-info-ul li.align-r {
		text-align: center;
	}
	.footer-row2 {
		padding-top: 4%;
		padding-bottom: 4%;
	}
	.footer-info-ul li.politica {
		margin-bottom: 0%;
		margin-top: 5%;
		padding-bottom: 0;
	}
	.redes-inline {
		text-align: center;
	}
	.footer-info-ul li.tel{
		display: none;
	}
	.footer-info-ul li.telmovil{
		display: block;
		text-align: center;
	}
	.footer-info-ul li.telmovil a {
		margin-left: 0%;
		display: block;
		margin-top: 3%;
	}
	.footer-col-certificaciones a img {
		margin-left: auto;
	}
	
	
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	/* BANNER */
	.bannercaption .hover {
		padding-left: 6%;
		padding-right: 3%;
		padding-top: 9%;
	}
	.bannercaption .hover .info {
		font-size: 2rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 50px;
		top: -10px;
	}
	.banner-a{
		font-size: 1rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn {
		padding: 3px 12px 5px;
		border-radius: 5px;
		line-height: 90%;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 100px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next{
		width: 15px;
		height: 30px;
	}
	.slide-arrow-r {
		right: -1%;
	}
	
	
	/* ÚNASE */
	
	.unase-section-div {
		padding-bottom: 9%;
	}
	.unase-section-h2{
		font-size: 4rem;
	}		
	.unase-a{
		font-size: 2rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn {
		padding: 9px 12px 9px;
		border-radius: 5px;
		line-height: 90%;
		text-align: center;
		float: none;
		display: block;
		margin: auto;
		width: 30%;
	}
	.unase-section-div img {
		width: 250px;
		left: 0;
	}
	/**/
	.servicioshome-section{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.servicioshome-section-h2 {
		font-size: 2rem;
		letter-spacing: 7px;
		padding-left: 0;
		margin-bottom: 4%;
	}
	.owl-servicios-arrows {
		display: none;
	}
	.actionImg2 {
		padding: 0;
		margin-bottom: 10%;
		text-align: center;
		height: 500px;
	}
	.actionImg2 img{
		display: block;
		margin: auto;
	}
	.actionserviciosimg-p{
		font-size: 2rem;
	}
	.actionImg2 .hover .sub_tit{
		font-size: 2rem;
	}
	.servicios-a{
		font-size: 1.5rem;
	}
	.servicios-btn{
		border-radius: 4px;
		padding: 2px 9px;
	}
	.servicioshome-rowdesktop{
		display: none;
	}
	.servicioshome-rowmovil{
		display: block;
	}
	.actionservicios-h2{
		display: inline;
		margin-right: 2%;
	}
	/**/
	.rutashome-section{
		padding-bottom: 60px;
		padding-top: 40px;
	}
	.fluid-rutashome {
		padding-left: 30px;
		padding-right: 30px;
	}
	.rutashome-section-h2{
		font-size: 3rem;
		text-align: center;
	}
	
	.rutashome-a{
		font-size: 1.5rem;
		text-align: center;
	}
	.rutashome-btn{
		border-radius: 4px;
		padding: 5px 12px;
	}
	.rutashome-btn {
		float: none;
		margin: 3% auto 0;
		text-align: center;
		display: block;
		width: 50%;
	}
	
	/**/
	.owl-section {
		padding-bottom: 90px;
		padding-top: 70px;
	}
	.owl-info h2{
		font-size: 3rem;
		text-align: center;
	}
	.owl-info p {		
		font-size: 1.7rem;
		letter-spacing: 1px;
		text-align: center;
	}
	.owl-section-l{
		position: absolute;
		left: 0;
	}
	.owl-section-r{
		position: absolute;
		right: -1%;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next {
		width: 10px;
		height: 25px;
	}
	.owl-info {
		padding-right: 0;
		text-align: center;
	}
	.owl-a{
		font-size: 1.5rem;
		text-align: center;
	}
	.owl-btn {		
		border-radius: 4px;
		padding: 4px 12px;
		float: none;
	}
	.owl-info::after{
		display: none;
	}
	.owl-section-fig{
		width: 45px;
	}
	.owl-info h2::after {
		height: 5px;
		width: 80%;
		right: 10%;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	/* HEADER */
	
	.header-info {
		padding-left: 70px;
		padding-right: 60px;
		padding-top: 40px;
	}
	.comunidad-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.comunidad-a{
		font-size: 1rem; 
	}
	
	.espeng-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.espeng-a{
		font-size: 1rem; 
	}
	.grupo-btn{
		padding: 1px 10px 3px;
		line-height: 90%;
		border-radius: 4px;
	}
	.grupo-a{
		font-size: 1rem; 
	}
	.logo  {
		padding: 0%;
		top: -30px;
		width: 80%;
		left: -6%;
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 2.2rem;
	}
	
	
	/* NAV */
	.fluid-nav {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.nav-horizontal {
		width: 100%;
		position: relative;
		top: 15px;
	}
	
	.nav-horizontal__li {
		font-family: 'Gordita-Bold';
		font-size: 1.2rem;
		margin: 1%;
	}
	.nav-horizontal__li:hover::after, 
	.nav-horizontal__li:focus::after, 
	.nav-horizontal__li-active::after{
		height: 5px;
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.dropdown-menu{
		min-width: auto;
	}
	.dropdown-menu > li{
		font-size: 1.2rem; 
	}
	.dropdown-menu > li > a {
		padding: 11px 40px 11px 20px;
	}
	
	/* FOOTER */
	
	.footer {
		padding: 50px 0 30px;
	}
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-title{
		font-size: 1.4rem;
	}
	.footer-info-ul li{
		font-size: 1.3rem;
	}
	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	.footer-col-certificaciones {
		height: 160px;
	}
	.footer-col-info {
		width: 50%;
		padding-top: 5%;
	}
	.footer-col-contacto {
		width: 50%;
	}
	.footer-info-ul li.tel a img{
		width: 70px;
	}
	
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	/* BANNER */
	.banner-section {
		margin-top: 2%;
	}
	
	.bannercaption .hover {
		padding-left: 6%;
		padding-right: 7%;
	}
	.bannercaption .hover .info {
		font-size: 2.2rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 50px;
		top: -10px;
	}
	.banner-a{
		font-size: 1.2rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn{
		padding: 3px 12px;
		border-radius: 5px;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 140px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next{
		width: 15px;
		height: 30px;
	}
	.slide-arrow-r {
		right: -1%;
	}
	
	
	/* ÚNASE */
	.unase-section-h2{
		font-size: 4rem;
	}		
	.unase-a{
		font-size: 1.2rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn{
		padding: 3px 12px;
		margin-right: 10%;
	}
	.unase-section-div img {
		width: 300px;
		left: -75px;
	}
	
	/**/
	.popup-comunidad-h2{
		font-size: 4rem;
	}
	.popup-comunidad-h2::after{
		width: 73px;
	}
	.popup-comunidad-h3{
		font-size: 2.3rem;
	}
	
	/* rutashome */
	.fluid-rutashome {
		padding-left: 120px;
		padding-right: 120px;
	}
	.rutashome-section-h2{
		font-size: 5rem;
	}
	.rutashome-btn{
		margin-top: 12%;
	}
	.rutashome-a{
		font-size: 1.8rem;
	}
	
	
	/**/
	.servicioshome-section-h2 {
		font-size: 2rem;
		letter-spacing: 10px;
	}
	.actionserviciosimg-p{
		font-size: 2.3rem;
	}
	.actionImg2 .hover .sub_tit{
		font-size: 2.3rem;
	}
	.servicios-a{
		font-size: 1.7rem;
	}
	
	.owl-servicios-arrows {
		top: 80px;
	}
	
	
	/* rutashome */
	.fluid-rutashome {
		padding-left: 60px;
		padding-right: 60px;
	}
	.rutashome-section-h2{
		font-size: 4rem;
	}
	.rutashome-btn{
		margin-top: 12%;
	}
	.rutashome-a{
		font-size: 1.4rem;
	}
	
	/**/
	.owl-section-fig{
		width: 73px;
	}
	.owl-info h2{
		font-size: 3rem;
	}
	
	.owl-info p{
		letter-spacing: 5px;
		font-size: 1.2rem;
	}
	.owl-btn{
		padding: 3px 12px;
	}
	.owl-a{
		font-size: 1.5rem;
	}
	.owl-slide2-arrows .prev {		
		left: 59%;
		position: relative;
	}
	.owl-servicios-arrows .prev, 
	.owl-servicios-arrows .next{
		width: 15px;
		height: 30px;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next{
		width: 15px;
		height: 30px;
	}
	
	/**/
	.actionserviciosimg-p{
		font-size: 1.7rem;
	}
	.actionImg2 .hover .sub_tit{
		font-size: 1.7rem;
	}
	.servicios-a{
		font-size: 1.2rem;
	}
	
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	
	/* HEADER */
	
	.header-info {
		padding-left: 80px;
		padding-right: 70px;
		padding-top: 50px;
	}
	.comunidad-btn{
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.comunidad-a{
		font-size: 1.2rem; 
	}
	
	.espeng-btn{
		padding: 1px 10px 2px;
	}
	.espeng-a{
		font-size: 1.2rem; 
	}
	.grupo-btn{
		padding: 1px 10px 2px;
	}
	.grupo-a{
		font-size: 1.2rem; 
	}
	.logo  {
		padding: 0%;
		top: -30px;
		width: 90%;
		left: -6%;
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 2.5rem;
	}
	
	
	/* NAV */
	.fluid-nav {
		padding-left: 60px;
		padding-right: 60px;
	}
	.nav-horizontal{
		width: 80%;
		position: relative;
		left: 3%;
	}
	.nav-horizontal__li{
		font-size: 1.2rem;
		margin: 0 1%;
	}
	.dropdown-menu > li{
		font-size: 1.2rem; 
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 30px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.dropdown-menu{
		min-width: auto;
	}
	
	.dropdown-menu > li{
		font-size: 1.2rem; 
	}
	.dropdown-menu > li > a {
		padding: 11px 40px 11px 20px;
	}
		
	
	
	/* FOOTER */
	
	.footer {
		padding: 50px 0 30px;
	}
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-title{
		font-size: 1.2rem;
	}
	.footer-info-ul li{
		font-size: 1.1rem;
	}
	.footer-info-ul li.tel a img{
		width: 70px;
	}
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	.footer-col-info {
		width: 29%;		
		padding-top: 5%;
	}
	.footer-col-contacto {
		width: 29%;
	}
	
	
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	/* BANNER */
	.bannercaption .hover {
		padding-left: 8%;
		padding-right: 9%;
	}
	.bannercaption .hover .info {
		font-size: 2.4rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 50px;
		top: -10px;
	}
	.banner-a{
		font-size: 1.4rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn{
		padding: 5px 12px;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 180px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next{
		width: 15px;
		height: 30px;
	}
	.slide-arrow-r {
		right: -1%;
	}
	
	
	/* ÚNASE */
	.unase-section-h2{
		font-size: 5rem;
	}
		
	.unase-a{
		font-size: 1.6rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn{
		padding: 5px 12px;
		margin-right: 10%;
	}
	.unase-section-div img{
		width: 340px;
		left: -75px;
	}
	
	/* rutashome */
	.fluid-rutashome {
		padding-left: 120px;
		padding-right: 120px;
	}
	.rutashome-section-h2{
		font-size: 5rem;
	}
	.rutashome-btn{
		margin-top: 16%;
	}
	.rutashome-a{
		font-size: 1.8rem;
	}
	
	/**/
	.owl-section-fig{
		width: 82px;
	}
	.owl-info h2{
		font-size: 4rem;
	}
	
	.owl-info p {
		letter-spacing: 6px;
		font-size: 1.8rem;
	}
	.owl-btn{
		padding: 5px 15px;
	}
	.owl-a{
		font-size: 1.8rem;
	}
	.owl-slide2-arrows .prev {		
		left: 59%;
		position: relative;
	}
	.owl-servicios-arrows{
		top: 115px;
	}
	.owl-servicios-arrows .prev, 
	.owl-servicios-arrows .next{
		width: 15px;
		height: 30px;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next{
		width: 15px;
		height: 30px;
	}
	
	/* SERVICIOS*/
	.actionserviciosimg-p {
		font-size: 2.1rem;
		bottom: 12px;
	}
	
	.actionImg2 .hover .sub_tit{
		font-size: 2.3rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	/* HEADER */
	
	.header-info {
		padding-left: 80px;
		padding-right: 70px;
		padding-top: 50px;
	}
	.comunidad-btn{
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.comunidad-a{
		font-size: 1.2rem; 
	}
	
	.espeng-btn{
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.espeng-a{
		font-size: 1.2rem; 
	}
	
	.grupo-btn{
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.grupo-a{
		font-size: 1.2rem; 
	}
	
	.logo  {
		padding: 0%;
		top: -30px;
		width: 90%;
		left: -6%;
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 2.5rem;
	}
		
	/* NAV */
	.fluid-nav {
		padding-left: 60px;
		padding-right: 60px;
	}
	.nav-horizontal{
		width: 81%;
		position: relative;
		left: 3%;
	}
	.nav-horizontal__li{
		font-size: 1.3rem;
		margin: 0 1%;
	}
	.dropdown-menu > li{
		font-size: 1.2rem; 
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 30px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	/* FOOTER */
	
	.footer {
		padding: 50px 0 30px;
	}
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-title{
		font-size: 1.4rem;
	}
	.footer-info-ul li{
		font-size: 1.3rem;
	}
	.footer-col-info {
		width: 29%;		
		padding-top: 5%;
	}
	.footer-col-contacto {
		width: 29%;
	}
	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	/* BANNER */
	.bannercaption .hover {
		padding-left: 8%;
		padding-right: 9%;
	}
	.bannercaption .hover .info {
		font-size: 2.7rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 60px;
		top: -10px;
	}
	.banner-a{
		font-size: 1.6rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn{
		padding: 5px 12px;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 200px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next{
		width: 15px;
		height: 30px;
	}
	.slide-arrow-r {
		right: -1%;
	}
	
	
	/* ÚNASE */
	.unase-section-h2{
		font-size: 5rem;
	}
		
	.unase-a{
		font-size: 1.6rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn{
		padding: 5px 12px;
		margin-right: 10%;
	}
	.unase-section-div img{
		width: 340px;
		left: -75px
	}
	
	/* rutashome */
	.fluid-rutashome {
		padding-left: 120px;
		padding-right: 120px;
	}
	.rutashome-section-h2{
		font-size: 5rem;
	}
	.rutashome-btn{
		margin-top: 12%;
	}
	.rutashome-a{
		font-size: 1.8rem;
	}
	
	/**/
	.owl-section-fig{
		width: 82px;
	}
	.owl-info h2{
		font-size: 4rem;
	}
	
	.owl-info p {
		letter-spacing: 6px;
		font-size: 1.8rem;
	}
	.owl-btn{
		padding: 5px 15px;
	}
	.owl-a{
		font-size: 1.8rem;
	}
	.owl-slide2-arrows .prev {		
		left: 59%;
		position: relative;
	} 
	.owl-servicios-arrows{
		top: 115px;
	}
	.owl-servicios-arrows .prev, 
	.owl-servicios-arrows .next{
		width: 15px;
		height: 30px;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next{
		width: 15px;
		height: 30px;
	}
	
	/* SERVICIOS*/
	.actionserviciosimg-p{
		font-size: 2.3rem;
		bottom: 12px;
	}
	
	.actionImg2 .hover .sub_tit{
		font-size: 2.3rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
	

}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	/* HEADER */
	
	.header-info{
		padding-left: 100px;
		padding-top: 50px;
	}
	.comunidad-btn{
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.comunidad-a{
		font-size: 1.3rem; 
	}
	
	.espeng-btn{
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.espeng-a{
		font-size: 1.3rem; 
	}
	
	.grupo-btn{
		border-radius: 5px;
		padding: 1px 10px 2px;
	}
	.grupo-a{
		font-size: 1.3rem; 
	}
	
	.logo {
		padding: 0%;
		top: -30px;
		width: 90%;
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 2.5rem;
	}
	
	
	/* NAV */
	.fluid-nav {
		padding-left: 60px;
		padding-right: 60px;
	}
	.nav-horizontal{
		width: 81%;
		position: relative;
		left: 3%;
	}
	.nav-horizontal__li{
		font-size: 1.3rem;
		margin: 0 1%;
	}
	.dropdown-menu > li{
		font-size: 1.2rem; 
	}
	.nav-horizontal > .nav-horizontal__li > a {
		padding-top: 30px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	/* FOOTER */
	
	.footer {
		padding: 50px 0 30px;
	}
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-title{
		font-size: 1.4rem;
	}
	.footer-info-ul li{
		font-size: 1.3rem;
	}
	.footer-col-info {
		width: 29%;		
		padding-top: 5%;
	}
	.footer-col-contacto {
		width: 29%;
	}
	
	.btn-redes{
		height: 40px;
		width: 40px;
	}
	
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 57px;
	}

	/* BANNER */
	.bannercaption .hover {
		padding-left: 8%;
		padding-right: 9%;
	}
	.bannercaption .hover .info {
		font-size: 2.7rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 60px;
		top: -10px;
	}
	.banner-a{
		font-size: 1.6rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn{
		padding: 5px 12px;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 200px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next{
		width: 15px;
		height: 30px;
	}
	.slide-arrow-r {
		right: -1%;
	}
	
	
	/* ÚNASE */
	.unase-section-h2{
		font-size: 5rem;
	}
		
	.unase-a{
		font-size: 1.6rem;
		font-family: 'Gordita-Bold';
	}
	.unase-btn{
		padding: 5px 12px;
		margin-right: 10%;
	}
	.unase-section-div img{
		width: 340px;
		left: -75px
	}
	
	/* rutashome */
	.fluid-rutashome {
		padding-left: 120px;
		padding-right: 120px;
	}
	.rutashome-section-h2{
		font-size: 5rem;
	}
	.rutashome-btn{
		margin-top: 12%;
	}
	.rutashome-a{
		font-size: 1.8rem;
	}
	
	/**/
	.owl-section-fig{
		width: 82px;
	}
	.owl-info h2{
		font-size: 4rem;
	}
	
	.owl-info p {
		letter-spacing: 6px;
		font-size: 1.8rem;
	}
	.owl-btn{
		padding: 5px 15px;
	}
	.owl-a{
		font-size: 1.8rem;
	}
	.owl-slide2-arrows .prev {		
		left: 59%;
		position: relative;
	}
	.owl-servicios-arrows{
		top: 135px;
	}
	.owl-servicios-arrows .prev, 
	.owl-servicios-arrows .next{
		width: 17px;
		height: 32px;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next{
		width: 17px;
		height: 32px;
	}
	
	/* SERVICIOS*/
	.actionserviciosimg-p{
		font-size: 2.3rem;
		bottom: 12px;
	}
	
	.actionImg2 .hover .sub_tit{
		font-size: 2.3rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	
	/* HEADER */
	
	.header-info{
		padding-top: 50px;
	}
	
	.comunidad-btn{
		padding: 1px 10px 2px;
	}
	.comunidad-a{
		font-size: 1.4rem; 
	}
	
	.espeng-btn{
		padding: 1px 10px 2px;
	}
	.espeng-a{
		font-size: 1.4rem; 
	}
	
	.grupo-btn{
		padding: 1px 10px 2px;
	}
	.grupo-a{
		font-size: 1.4rem; 
	}
	
	.logo {
		padding: 0%;		
		top: -43px;
		width: 94%;
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 2.5rem;
	}
	
		
	/* NAV */
	.fluid-nav {
		padding-left: 80px;
		padding-right: 100px;
	}
	.nav-horizontal{
		width: 81%;
		position: relative;
		left: 3%;
	}
	.nav-horizontal__li{
		font-size: 1.3rem;
		margin: 0 1%;
	}
	.dropdown-menu > li{
		font-size: 1.2rem; 
	}
	
	/* FOOTER */
	
	.footer-fluid {
		padding-left: 90px;
		padding-right: 90px;
	}
	.footer-title{
		font-size: 1.4rem;
	}
	.footer-info-ul li{
		font-size: 1.3rem;
	}
	.footer-col-info {
		width: 29%;		
		padding-top: 4%;
	}
	.footer-col-contacto {
		width: 29%;
	}
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 78px;
	}

	/* BANNER */
	.bannercaption .hover{
		padding-left: 9%;
	}
	.bannercaption .hover .info {
		font-size: 3.2rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 70px;
		top: -10px;
	}
	.banner-a{
		font-size: 1.8rem;
		font-family: 'Gordita-Bold';
	}
	.banner-btn{
		padding: 5px 12px;
	}
	
	.owl-slide-arrows {
		position: relative;
		top: 220px;
	}
	.owl-slide-arrows .prev, 
	.owl-slide-arrows .next {
		width: 19px;
		height: 36px;
	}
	.slide-arrow-r {
		right: -1%;
	}
	
	
	/* SERVICIOS*/
	.actionserviciosimg-p{
		font-size: 2.5rem;
	}
	
	.actionImg2 .hover .sub_tit{
		font-size: 2.5rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
	
	/* ÚNASE */
	.unase-section-h2{
		font-size: 5.5rem;
	}
		
	.unase-a{
		font-size: 1.8rem;
	}
	.unase-btn{
		padding: 5px 12px;
		margin-right: 10%;
	}
	.unase-section-div img{
		width: 380px;
		left: -95px
	}
	
	/* RUTAS */
	.rutashome-section-h2{
		font-size: 5.5rem;
	}
	.rutashome-btn{
		margin-top: 14%;
		padding: 5px 15px;
	}
	.rutashome-a{
		font-size: 1.8rem;
	}
	
	/* OWL */
	.owl-info h2{
		font-size: 5.5rem;
	}
	.owl-a{
		font-size: 1.8rem;
	}
	.owl-btn{
		padding: 5px 15px;
	}
	.owl-slide2-arrows .prev {
		position: relative;
		left: 55%;
	}
	.owl-servicios-arrows .prev, 
	.owl-servicios-arrows .next{
		width: 19px;
		height: 36px;
	}
	.owl-slide2-arrows .prev, 
	.owl-slide2-arrows .next{
		width: 19px;
		height: 36px;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	/* HEADER */
	
	.comunidad-a{
		font-size: 1.5rem; 
	}
	.espeng-a{
		font-size: 1.5rem; 
	}
	
	/* COTIZADOR */
	
	.cotizar-a{
		font-size: 2.5rem;
	}
	
	
	/* NAV */
	
	.nav-horizontal{
		width: 80%;
		position: relative;
		left: 3%;
	}
	.nav-horizontal {
		width: 82%;
		position: relative;
		left: 1%;
	}
	.nav-horizontal__li {
		font-size: 1.6rem;
		margin: 0 1%;
	}
	.dropdown-menu > li{
		font-size: 1.5rem; 
	}
	
	/* FOOTER */
	.footer-col-info {
		width: 29%;		
		padding-top: 4%;
	}
	.footer-col-contacto {
		width: 29%;
	}
	
	/* HOME */
	
	/* FIGURA */
	.home-section-fig {
		width: 78px;
	}

	/* BANNER */
	.bannercaption .hover{
		padding-left: 9%;
	}
	.bannercaption .hover .info {
		font-size: 3.2rem;
	}
	.bannercaption .hover .info::after {		
		height: 3px;
		width: 70px;
		top: -10px;
	}
	.banner-a{
		font-size: 1.8rem;
	}
	.banner-btn{
		padding: 5px 12px;
	}
	
	/* SERVICIOS*/
	.actionserviciosimg-p{
		font-size: 2.5rem;
	}
	
	.actionImg2 .hover .sub_tit{
		font-size: 2.5rem;
	}
	.servicios-a{
		font-size: 1.8rem;
	}
	
	/* ÚNASE */
	.unase-section-h2{
		font-size: 5.5rem;
	}
		
	.unase-a{
		font-size: 1.8rem;
	}
	.unase-btn{
		padding: 5px 12px;
		margin-right: 10%;
	}
	.unase-section-div img{
		width: 380px;
		left: -100px
	}
	
	/* RUTAS */
	.rutashome-section-h2{
		font-size: 5.5rem;
	}
	.rutashome-btn{
		margin-top: 14%;
		padding: 5px 15px;
	}
	.rutashome-a{
		font-size: 1.8rem;
	}
	
	/* OWL */
	.owl-info h2{
		font-size: 5.5rem;
	}
	.owl-a{
		font-size: 1.8rem;
	}
	.owl-btn{
		padding: 5px 15px;
	}
	.owl-slide2-arrows .prev {
		position: relative;
		left: 55%;
	}
	
}


