@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.tecno-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/


.tecno-section{	
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
}
.tecno-fig{
	background-image: url(../images/tecno/fig-01.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1195px;
	width: 210px;
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 9;
}
.tecno-fluid {
    padding-left: 220px;
    padding-right: 220px;
}

.tecno-bg1{
	background-color: #E6E7E8;	
	position: relative;
}
.tecno-bg2{
	background-color: #fff;	
	position: relative;
}

.tecno-img{}
.tecno-info{
	position: relative;
}

.tecno-info p{
	color: #000;
	font-family: 'Gordita-Medium';
	font-size: 2.7rem;
	line-height: 110%;
	position: relative;
}
.tecno-info p:after {
    background-color: #E36B26;
    content: "";
    left: 0;
    top: -18px;
    width: 90px;
    height: 5px;
    position: absolute;
}

.tecno-info p span{
	font-style: italic;
}

.tecno-info-pd1 {
    padding: 9% 8% 0 2%;
}
.tecno-info-pd2 {
    padding: 7% 8% 0 2%;
}
.tecno-info-pd3 {
    padding: 5% 8% 0 2%;
}
.tecno-info-pd4 {
    padding: 9% 8% 0 2%;
}
.tecno-info-pd5 {
    padding: 11% 8% 0 2%;
}
.tecno-info-pd6 {
    padding: 5% 8% 0 2%;
}
.tecno-info-pd7 {
    padding: 5% 8% 0 2%;
}
.tecno-info-pd8 {
    padding: 12% 8% 0 2%;
}
.tecno-info-pd9 {
    padding: 10% 8% 0 2%;
}
.tecno-info-pd10 {
    padding: 7% 8% 0 2%;
}

.tecno-border-bt{
	position: relative;
}

.tecno-border{
	position: relative;
}
.tecno-border:before{
    background-color: #727376;
    content: "";
    left: -2%;
    top: 0%;
    width: 4px;
    height: 46%;
    position: absolute;
}

.tecno-div1{
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.tecno-div1:after{
	background-color: #727376;
	border-radius: 100%;
	content: "";
	right: 0%;
    top: 40%;
    width: 25px;
    height: 25px;
    position: absolute;
}
.tecno-div2{
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.tecno-div3{
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.tecno-div2:after {
    background-color: #727376;
    content: "";
    left: -2%;
    bottom: 0%;
    width: 4px;
    height: 60%;
    position: absolute;
}


/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.title {
		letter-spacing: 7px;
	}
	.tecno-title {
		padding-left: 4%;
	}
	.tecno-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.tecno-info p{
		font-size: 1.7rem;
	}
	.tecno-div1  {
		border-bottom: 2px solid #333;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		display: none;
	}
	.tecno-div1::after{
		display: none;
	}
	.tecno-div2::after{
		display: none;
	}
	.tecno-fig {
		display: none;
	}
	
	.tecno-img {
		padding: 0 22%;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.title {
		letter-spacing: 7px;
	}
	.tecno-title {
		padding-left: 4%;
	}
	.tecno-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.tecno-info p{
		font-size: 1.7rem;
	}
	.tecno-div1  {
		border-bottom: 2px solid #333;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		display: none;
	}
	.tecno-div1::after{
		display: none;
	}
	.tecno-div2::after{
		display: none;
	}
	.tecno-fig {
		display: none;
	}
	
	.tecno-img {
		padding: 0 22%;
	}
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.title {
		letter-spacing: 7px;
	}
	.tecno-title {
		padding-left: 4%;
	}
	.tecno-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.tecno-info p{
		font-size: 1.7rem;
	}
	.tecno-div1  {
		border-bottom: 2px solid #333;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		display: none;
	}
	.tecno-div1::after{
		display: none;
	}
	.tecno-div2::after{
		display: none;
	}
	.tecno-fig {
		display: none;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.tecno-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.tecno-info p{
		font-size: 1.8rem;
	}
	.tecno-div1  {
		border-bottom: 2px solid #333;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		display: none;
	}
	.tecno-div1::after{
		display: none;
	}
	.tecno-div2::after{
		display: none;
	}
	.tecno-fig {
		display: none;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.tecno-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.tecno-info p{
		font-size: 1.8rem;
	}
	.tecno-div1  {
		border-bottom: 2px solid #333;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		display: none;
	}
	.tecno-div1::after{
		display: none;
	}
	.tecno-div2::after{
		display: none;
	}
	.tecno-fig {
		display: none;
	}
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.tecno-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.tecno-info p{
		font-size: 1.8rem;
	}
	.tecno-div1 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		top: -14%;
		height: 58%;
	}
	.tecno-div1::after{
		right: -0.5%;
	}
	.tecno-fig {
		width: 60px;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.tecno-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
	.tecno-info p{
		font-size: 2.1rem;
	}
	.tecno-div1 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		top: -14%;
		height: 58%;
	}
	.tecno-div1::after{
		right: -0.5%;
	}
	.tecno-fig {
		width: 120px;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.tecno-fluid {
		padding-left: 120px;
		padding-right: 120px;
	}
	.tecno-info p{
		font-size: 2.1rem;
	}
	.tecno-div1 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		top: -14%;
		height: 58%;
	}
	.tecno-div1::after{
		right: -0.5%;
	}
	.tecno-fig {
		width: 150px;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.tecno-fluid {
		padding-left: 160px;
		padding-right: 160px;
	}
	.tecno-info p{
		font-size: 2.3rem;
	}
	.tecno-div1 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		top: -14%;
		height: 58%;
	}
	.tecno-div1::after{
		right: -0.5%;
	}
	.tecno-fig {
		width: 180px;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	
	.tecno-info p{
		font-size: 2.3rem;
	}
	.tecno-div1 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		top: -14%;
		height: 58%;
	}
	.tecno-fig {
		width: 180px;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.tecno-info p{
		font-size: 2.5rem;
	}
	.tecno-div1 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-div2 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.tecno-border::before {
		top: -14%;
		height: 58%;
	}
	
	
}
	
	

