@charset "utf-8";
/* CSS Document */



/*SERVIICOS HOME*/
.cobertura-fluid{
	padding-left: 180px;
	padding-right: 180px;
}
.rutas-fluid{
	padding-left: 180px;
	padding-right: 180px;
}
.rutas-section{
	background-color: #fff;
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.rutas-section-movil-row{}

.cobertura-section{
	background-color: #fff;
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.cobertura-section-fig{
	background-image: url(../images/cobertura/fig-01.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 678px;
	width: 156px;
}
.cobertura-section-h2 {
    color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 3rem;
    text-align: left;
    margin-bottom: 2%;
	position: relative;
}
.cobertura-section-h2:after{
    content: "";
    background-color: #E36A00;
    height: 4px;
    width: 90px;
    left: 0;
    top: -15px;
    position: absolute;
}


.directorio-div{}
.directorio-div img {
    margin-bottom: 6%;
    margin-top: 10%;
}
.directorio-div h2 {
    color: #000;
    font-family: 'Gordita-Bold';
    font-size: 3.2rem;
    text-align: left;
    position: relative;
    padding-bottom: 5%;
}
.directorio-div h2.borde1:after {
    content: "";
    background-color: #8E3A1E;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 5px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.directorio-div h2.borde2:after {
    content: "";
    background-color: #6D6E70;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 5px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.directorio-div h2.borde3:after {
    content: "";
    background-color: #203346;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 5px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}

.directorio-div h3{
	color: #fff;
    font-family: 'Gordita-Bold';
    font-size: 2.2rem;
    text-align: left;
	position: relative;
}

.directorio-div ul{
	list-style-type: none;
	padding-left: 0;
}
.directorio-div ul li{
	color: #000;
    font-family: 'Gordita-Regular';
    font-size: 1.7rem;
    text-align: left;
}
.directorio-div ul li.contactar{
	font-family: 'Gordita-BlackItalic';
	margin-bottom: 2%;
	margin-top: 2%;
}
.directorio-div ul li a{
	color: #000;
}
.directorio-recepcion {
    margin-bottom: 5%;
}
.directorio-compras{
	margin-bottom: 5%;
}
.directorio-tesoreria{}

.directorio-talh{}

.directorio-compras-btn{
	background-color: #B83628;
    border: 2px solid #B83628;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-compras-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}

.directorio-tesoreria-btn{
	background-color: #B96029;
    border: 2px solid #B96029;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-tesoreria-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}


.directorio-contabilidad-btn{
	background-color: #E56B27;
    border: 2px solid #E56B27;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-contabilidad-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}


.directorio-dirope-btn{
	background-color: #6A3818;
    border: 2px solid #6A3818;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-dirope-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}

.directorio-diradmon-btn{
	background-color: #F39026;
    border: 2px solid #F39026;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-diradmon-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}

.directorio-talh-btn{
	background-color: #96421E;
    border: 2px solid #96421E;
    border-radius: 7px;
	display: inline-block;
	padding: 10px 20px 14px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-talh-span{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Bold';
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.directorio-tel-dektop{}
.directorio-tel-movil{
	display: none;
}

.cobertura-mapa-row{
	padding-top: 90px;
}
.cobertura-mapa{
	
}
.mapa-bg{
	background-image: url("../images/cobertura/mapa.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1320px;
	width: 935px;
	display: block;
	margin: auto;
}

.mapa-h3{
	color: #000;	
	font-family: 'Gordita-Bold';
	font-size: 2.5rem;
	position: relative;
	padding-bottom: 3%;
}
.mapa-ul{
	padding-left: 0;
	list-style-type: none;
}
.mapa-ul li{
	color: #000;
    font-family: 'Gordita-Regular';
    font-size: 1.5rem;
}

.mapa-ul li.contactar{
	font-family: 'Gordita-BlackItalic';
	font-size: 1.7rem;	
}
.mapa-ul li a{
	color: #000;
}
.mapa-ul li.mapa-ul-li-movil{
	display: none;
}

.mapa-ul li a.border-li{
	margin-right: 4%;
	position: relative;
}
.mapa-ul li a.border-li::after {
    content: "";
    background-color: #E36B26;
    right: -12px;
    top: 3px;
    width: 3px;
    height: 14px;
    position: absolute;
    transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    -moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0);
    transform-origin: 50% 50%;
}
.mapa-align-l{
	text-align: left;
}

.mapa-align-r{
	text-align: right;
}
.mapa-info-l{}
.mapa-info-r{}

.mapa-ws-l{}
.mapa-ws-r{}

.mapa-barranquilla{
	position: absolute;
	top: -43px;
	left: 0;
}
.mapa-barranquilla h3{
	position: relative;
}
.mapa-barranquilla h3:after{
	background-color: #B85F27;
	content: "";
	width: 130px;
	height: 5px;
	right: 0;
	bottom: 0;
	position: absolute;
}
.mapa-monteria {
    position: absolute;
    top: -23px;
    right: 7%;
}
.mapa-monteria h3{
	position: relative;
}
.mapa-monteria h3:after{
	background-color: #6A3715;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}


.mapa-cartagena {
    position: absolute;
    top: 250px;
    left: -10%;
}
.mapa-cartagena h3{
	position: relative;
}
.mapa-cartagena h3:after{
	background-color: #FDD1A9;
	content: "";
	width: 130px;
	height: 5px;
	right: 0;
	bottom: 0;
	position: absolute;
}

.mapa-bgacucuta {
    position: absolute;
    top: 235px;
    right: 1%;
}
.mapa-bgacucuta h3{
	position: relative;
}
.mapa-bgacucuta h3:after{
	background-color: #E36B26;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-medellin{
	position: absolute;
    top: 525px;
    left: -10%;
}
.mapa-medellin h3{
	position: relative;
}
.mapa-medellin h3:after{
	background-color: #F29026;
	content: "";
	width: 130px;
	height: 5px;
	right: 0;
	bottom: 0;
	position: absolute;
}

.mapa-bogota {
    position: absolute;
    top: 601px;
    right: -12%;
}
.mapa-bogota h3{
	position: relative;
}
.mapa-bogota h3:after{
	background-color: #B73624;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-cali {
    position: absolute;
    top: 1041px;
    left: 7%;
}
.mapa-cali h3{
	position: relative;
}
.mapa-cali h3:after{
	background-color: #4886C6;
	content: "";
	width: 130px;
	height: 5px;
	right: 0;
	bottom: 0;
	position: absolute;
}

.mapa-buenaventura {
    position: absolute;
    top: 915px;
    left: -11%;
}
.mapa-buenaventura h3{
	position: relative;
}
.mapa-buenaventura h3:after{
	background-color: #4886C6;
	content: "";
	width: 130px;
	height: 5px;
	right: 0;
	bottom: 0;
	position: absolute;
}

.mapa-pereira {
    position: absolute;
    top: 960px;
    right: -5%;
}
.mapa-pereira h3{
	position: relative;
}
.mapa-pereira h3:after{
	background-color: #365D88;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-clic-btn{
	 background-color: #E36B26;
    border: 2px solid #E36B26;
    border-radius: 7px;
	display: block;
	 padding: 4px 12px 3px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	margin-top: 6%;
	line-height: 90%;
	text-align: center;
}

.mapa-clic-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.4rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.mapa-clic-btn:hover{
	background-color: #fff;
}
.mapa-clic-btn:hover .mapa-clic-a{
	color: #E36B26;
}
.ws-block{
	
}
.ws-none{
	display: none;
}

.rutas-section-movil {
    background-color: #fff;
    padding-bottom: 90px;
    padding-top: 90px;
    position: relative;
	display: none;
}
.mapa-rutas-movil{
	position: relative;   
}
.mapa-rutas-movil h3{
	position: relative;
}
.mapa-barranquilla-h3:after{
	background-color: #B85F27;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}
.mapa-monteria-h3:after{
	background-color: #6A3715;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-cartagena-h3:after{
	background-color: #FDD1A9;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-bgacucuta-h3:after{
	background-color: #E36B26;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-medellin-h3:after{
	background-color: #F29026;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-bogota-h3:after{
	background-color: #B73624;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-cali-h3:after{
	background-color: #4886C6;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.mapa-buenaventura-h3:after{
	background-color: #4886C6;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}


.mapa-pereira-h3:after{
	background-color: #365D88;
	content: "";
	width: 130px;
	height: 5px;
	left: 0;
	bottom: 0;
	position: absolute;
}
.mapa-ws-small {
	display: none;
}


/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.cobertura-section{
		padding-top: 50px;
	}
	.cobertura-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.cobertura-section-h2{
		font-size: 2.5rem;
	}
	
	.directorio-div {
		padding: 0;
	}
	.directorio-div h3{
		font-size: 1.8rem;
	}
	.directorio-div ul li{
		font-size: 1.4rem;
	}	
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}
	
	/**/
	.cobertura-section-fig {
		display: none;
	}
	/**/
	.rutas-section {
		display: none;
	}
	.rutas-section-movil {
		display: block;
	}
	.rutas-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.mapa-ul li{
		font-size: 1.4rem;
	}
	.mapa-info-l {
		padding-left: 0;
	}
	.mapa-ws-l {
		display: none;
	}
	.mapa-ws-small {
		display: block;
		width: 50%;
	}
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.cobertura-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.directorio-div h3{
		font-size: 1.8rem;
	}
		
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}
	
	
	/**/
	.cobertura-section-fig {
		display: none;
	}
	/**/
	.rutas-section {
		display: none;
	}
	.rutas-section-movil {
		display: block;
	}
	.rutas-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.mapa-ul li{
		font-size: 1.4rem;
	}
	.mapa-info-l {
		padding-left: 0;
		width: 72%;
	}
	.mapa-ws-l {
		padding-left: 0;
		width: 28%;
	}
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.cobertura-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}
	
	/**/
	.cobertura-section-fig {
		display: none;
	}
	/**/
	.rutas-section {
		display: none;
	}
	.rutas-section-movil {
		display: block;
	}
	.rutas-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.mapa-ul li{
		font-size: 1.4rem;
	}
	.mapa-info-l {
		padding-left: 0;
		width: 72%;
	}
	.mapa-ws-l {
		padding-left: 0;
		width: 28%;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.cobertura-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}
	
	/**/
	.cobertura-section-fig {
		height: 518px;
		width: 113px;
	}
	/**/
	.rutas-section {
		display: none;
	}
	.rutas-section-movil {
		display: block;
	}
	.rutas-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.mapa-ul li{
		font-size: 1.4rem;
	}
	.mapa-info-l {
		padding-left: 0;
		width: 72%;
	}
	.mapa-ws-l {
		padding-left: 0;
		width: 28%;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.cobertura-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.directorio-tel-dektop{
		display: none;
	}
	.directorio-tel-movil{
		display: block;
	}
	
	/**/
	.cobertura-section-fig {
		height: 518px;
		width: 113px;
	}
	/**/
	.rutas-section {
		display: none;
	}
	.rutas-section-movil {
		display: block;
	}
	.rutas-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.mapa-ul li{
		font-size: 1.4rem;
	}
	.mapa-info-l {
		padding-left: 0;
		width: 72%;
	}
	.mapa-ws-l {
		padding-left: 0;
		width: 28%;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.cobertura-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.directorio-div h2{
		font-size: 2.6rem;
	}
	.directorio-div h3{
		font-size: 1.5rem;
	}
	.directorio-div ul li{
		font-size: 1.2rem;
	}
	
	.directorio-compras-btn{
		padding: 4px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 4px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 4px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 4px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 4px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 4px 20px 10px;
	}
	
	/**/
	.cobertura-section-fig {
		height: 518px;
		width: 113px;
	}
	/**/
	.rutas-section {		
		padding-bottom: 125px;
	}
	.rutas-fluid {
		padding-left: 50px;
		padding-right: 26px;
	}
	.mapa-bg {
		height: 710px;
		width: 457px;
	}
	.mapa-ws-r {
		padding-right: 0;
	}
	.mapa-ws-l {
		padding-left: 0;
	}
	
	.mapa-h3{
		font-size: 1.8rem;
	}
	.mapa-ul li{
		font-size: 1rem;
	}
	.mapa-ul li.contactar {
		font-size: 1rem;
	}
	.mapa-clic-btn {
		border: 2px;
		padding: 0px 3px 3px;
	}
	.mapa-barranquilla { 	
		top: -43px;
		left: 3%;
	}
	.mapa-monteria {
		top: -34px;
		right: 9%;
	}
	.mapa-cartagena {
		top: 124px;
		left: -4%;
	}
	.mapa-medellin {
		top: 283px;
		left: -5%;
	}
	.mapa-bgacucuta {
		top: 109px;
		right: 4%;
	}
	.mapa-bogota {
		top: 310px;
		right: -8%;
	}
	.mapa-buenaventura {
		top: 459px;
		left: -5%;
	}
	.mapa-cali {
		top: 570px;
		left: 14%;
	}
	.mapa-pereira {
		top: 490px;
		right: 0%;
	}
	
	.mapa-barranquilla h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-monteria h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-cartagena h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-bgacucuta h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-medellin h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-bogota h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-buenaventura h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-cali h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-pereira h3::after{
		width: 78px;
		height: 3px;
	}
	.mapa-ul li a.border-li::after{
		right: -10px;
		width: 2px;
	}
	.rutas-ico-ws{
    	width: 28px;
		height: 28px;
	}
	.mapa-clic-a{
		font-size: 0.7rem;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.cobertura-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.directorio-div h2{
		font-size: 2.6rem;
	}
	.directorio-div h3{
		font-size: 1.5rem;
	}
	.directorio-div ul li{
		font-size: 1.2rem;
	}
	
	.directorio-compras-btn{
		padding: 4px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 4px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 4px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 4px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 4px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 4px 20px 10px;
	}
	
	/**/
	.cobertura-section-fig {
		height: 518px;
		width: 113px;
	}
	/**/
	.rutas-section {		
		padding-bottom: 125px;
	}
	.rutas-fluid {
		padding-left: 50px;
		padding-right: 26px;
	}
	.mapa-bg {
		height: 855px;
		width: 586px;
	}
	.mapa-ws-r {
		padding-right: 0;
	}
	.mapa-ws-l {
		padding-left: 0;
	}
	
	.mapa-h3{
		font-size: 2rem;
	}
	.mapa-ul li{
		font-size: 1.2rem;
	}
	.mapa-ul li.contactar {
		font-size: 1.2rem;
	}
	.mapa-clic-btn{
		border: 4px;
		padding: 2px 6px 3px;
	}
	.mapa-barranquilla { 	
		top: -43px;
		left: 3%;
	}
	.mapa-monteria {
		top: -34px;
		right: 9%;
	}
	.mapa-cartagena {
		top: 153px;
		left: -4%;
	}
	.mapa-medellin {
		top: 348px;
		left: -5%;
	}
	.mapa-bgacucuta {
		top: 135px;
		right: 4%;
	}
	.mapa-bogota {
		top: 382px;
		right: -8%;
	}
	.mapa-buenaventura {
		top: 606px;
		left: -6%;
	}
	.mapa-cali {
		top: 705px;
		left: 14%;
	}
	.mapa-pereira {
		top: 626px;
		right: -2%;
	}
	
	.mapa-barranquilla h3::after{
		width: 90px;
	}
	.mapa-monteria h3::after{
		width: 90px;
	}
	.mapa-cartagena h3::after{
		width: 90px;
	}
	.mapa-bgacucuta h3::after{
		width: 90px;
	}
	.mapa-medellin h3::after{
		width: 90px;
	}
	.mapa-bogota h3::after{
		width: 90px;
	}
	.mapa-buenaventura h3::after{
		width: 90px;
	}
	.mapa-cali h3::after{
		width: 90px;
	}
	.mapa-pereira h3::after{
		width: 90px;
	}
	.mapa-ul li a.border-li::after{
		right: -10px;
		width: 2px;
	}
	.rutas-ico-ws{
    	width: 38px;
		height: 38px;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
		
	.cobertura-fluid {
		padding-left: 80px;
		padding-right: 80px;
	}
	.directorio-div h2{
		font-size: 2.8rem;
	}
	.directorio-div h3{
		font-size: 1.7rem;
	}
	.directorio-div ul li{
		font-size: 1.3rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
	/**/
	.cobertura-section-fig {
		height: 518px;
		width: 113px;
	}
	
	/**/
	.rutas-section {		
		padding-bottom: 125px;
	}
	.rutas-fluid {
		padding-left: 50px;
		padding-right: 26px;
	}
	.mapa-bg {
		height: 890px;
		width: 628px;
	}
	.mapa-ws-r {
		padding-right: 0;
	}
	.mapa-ws-l {
		padding-left: 0;
	}
	
	.mapa-h3{
		font-size: 2rem;
	}
	.mapa-ul li{
		font-size: 1.2rem;
	}
	.mapa-ul li.contactar {
		font-size: 1.2rem;
	}
	.mapa-clic-btn{
		border: 4px;
		padding: 2px 6px 3px;
	}
	.mapa-barranquilla { 	
		top: -43px;
		left: 3%;
	}
	.mapa-monteria {
		top: -34px;
		right: 9%;
	}
	.mapa-cartagena {
		top: 153px;
		left: -4%;
	}
	.mapa-medellin {
		top: 348px;
		left: -5%;
	}
	.mapa-bgacucuta {
		top: 135px;
		right: 4%;
	}
	.mapa-bogota {
		top: 382px;
		right: -8%;
	}
	.mapa-buenaventura {
		top: 606px;
		left: -6%;
	}
	.mapa-cali {
		top: 740px;
		left: 14%;
	}
	.mapa-pereira {
		top: 626px;
		right: -2%;
	}
	
	.mapa-barranquilla h3::after{
		width: 90px;
	}
	.mapa-monteria h3::after{
		width: 90px;
	}
	.mapa-cartagena h3::after{
		width: 90px;
	}
	.mapa-bgacucuta h3::after{
		width: 90px;
	}
	.mapa-medellin h3::after{
		width: 90px;
	}
	.mapa-bogota h3::after{
		width: 90px;
	}
	.mapa-buenaventura h3::after{
		width: 90px;
	}
	.mapa-cali h3::after{
		width: 90px;
	}
	.mapa-pereira h3::after{
		width: 90px;
	}
	.mapa-ul li a.border-li::after{
		right: -10px;
		width: 2px;
	}
	.rutas-ico-ws{
    	width: 38px;
		height: 38px;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	
	.cobertura-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
	.directorio-div h2{
		font-size: 2.8rem;
	}
	.directorio-div h3{
		font-size: 1.8rem;
	}
	.directorio-div ul li{
		font-size: 1.4rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
	/**/
	.rutas-section {		
		padding-bottom: 125px;
	}
	.rutas-fluid {
		padding-left: 50px;
		padding-right: 26px;
	}
	.mapa-bg {
		height: 890px;
		width: 628px;
	}
	.mapa-ws-r {
		padding-right: 0;
	}
	.mapa-ws-l {
		padding-left: 0;
	}
	
	.mapa-h3{
		font-size: 2rem;
	}
	.mapa-ul li{
		font-size: 1.3rem;
	}
	.mapa-ul li.contactar {
		font-size: 1.3rem;
	}
	.mapa-clic-btn{
		border: 4px;
		padding: 2px 6px 3px;
	}
	.mapa-barranquilla { 	
		top: -43px;
		left: 4%;
	}
	.mapa-monteria {
		top: -34px;
		right: 9%;
	}
	.mapa-cartagena {
		top: 153px;
		left: -4%;
	}
	.mapa-medellin {
		top: 348px;
		left: -3%;
	}
	.mapa-bgacucuta {
		top: 135px;
		right: 5%;
	}
	.mapa-bogota {
		top: 382px;
		right: -6%;
	}
	.mapa-buenaventura {
		top: 606px;
		left: -4%;
	}
	.mapa-cali {
		top: 740px;
		left: 14%;
	}
	.mapa-pereira {
		top: 626px;
		right: 0%;
	}
	
	.mapa-barranquilla h3::after{
		width: 90px;
	}
	.mapa-monteria h3::after{
		width: 90px;
	}
	.mapa-cartagena h3::after{
		width: 90px;
	}
	.mapa-bgacucuta h3::after{
		width: 90px;
	}
	.mapa-medellin h3::after{
		width: 90px;
	}
	.mapa-bogota h3::after{
		width: 90px;
	}
	.mapa-buenaventura h3::after{
		width: 90px;
	}
	.mapa-cali h3::after{
		width: 90px;
	}
	.mapa-pereira h3::after{
		width: 90px;
	}
	
	.rutas-ico-ws{
    	width: 38px;
		height: 38px;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.cobertura-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
	.directorio-div h2{
		font-size: 3rem;
	}
	.directorio-div h3{
		font-size: 2rem;
	}
	.directorio-div ul li{
		font-size: 1.6rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}

	/**/
	.rutas-fluid {
		padding-left: 108px;
		padding-right: 26px;
	}
	.mapa-bg {	
		height: 1111px;
		width: 780px;		
	}
	.mapa-ws-r {
		padding-right: 0;
	}
	.mapa-ws-l {
		padding-left: 0;
	}
	
	.mapa-h3{
		font-size: 2.2rem;
	}
	.mapa-ul li{
		font-size: 1.4rem;
	}
	.mapa-ul li.contactar {
		font-size: 1.4rem;
	}
	.mapa-clic-btn{
		border: 4px;
		padding: 2px 6px 3px;
	}
	.mapa-barranquilla { 	
		top: -43px;
		left: 2%;
	}
	.mapa-monteria { 		
		top: -23px;
		right: 8%;
	}
	.mapa-cartagena {
		top: 212px;
		left: -6%;
	}
	.mapa-medellin {
		top: 445px;
		left: -6%;
	}
	.mapa-bgacucuta {
		top: 179px;
		right: 3%;
	}
	.mapa-bogota {
		top: 497px;
		right: -8%;
	}
	.mapa-buenaventura {
		top: 770px;
		left: -6%;
	}
	.mapa-cali {		
		top: 925px;
		left: 12%;
	}
	.mapa-pereira {
		top: 795px;
		right: -2%;
	}
	
	.mapa-barranquilla h3::after{
		width: 108px;
	}
	.mapa-monteria h3::after{
		width: 108px;
	}
	.mapa-cartagena h3::after{
		width: 108px;
	}
	.mapa-bgacucuta h3::after{
		width: 108px;
	}
	.mapa-medellin h3::after{
		width: 108px;
	}
	.mapa-bogota h3::after{
		width: 108px;
	}
	.mapa-buenaventura h3::after{
		width: 108px;
	}
	.mapa-cali h3::after{
		width: 108px;
	}
	.mapa-pereira h3::after{
		width: 108px;
	}
	
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.cobertura-fluid {
		padding-left: 140px;
		padding-right: 140px;
	}
	
	.directorio-div h3{
		font-size: 2rem;
	}
	.directorio-div ul li{
		font-size: 1.6rem;
	}
	.directorio-compras-btn{
		padding: 8px 20px 10px;
	}
	.directorio-tesoreria-btn{
		padding: 8px 20px 10px;
	}
	.directorio-contabilidad-btn{
		padding: 8px 20px 10px;
	}
	.directorio-dirope-btn{
		padding: 8px 20px 10px;
	}
	.directorio-diradmon-btn{
		padding: 8px 20px 10px;
	}
	.directorio-talh-btn{
		padding: 8px 20px 10px;
	}
	
	
	/**/
	.rutas-fluid {
		padding-left: 108px;
		padding-right: 26px;
	}
	.mapa-bg {	
		height: 1111px;
		width: 780px;		
	}
	.mapa-ws-r {
		padding-right: 0;
	}
	.mapa-ws-l {
		padding-left: 0;
	}
	
	.mapa-h3{
		font-size: 2.2rem;
	}
	.mapa-ul li.contactar {
		font-size: 1.5rem;
	}
	.mapa-clic-btn{
		border: 4px;
		padding: 2px 6px 3px;
	}
	.mapa-barranquilla { 	
		top: -43px;
		left: 2%;
	}
	.mapa-monteria { 		
		top: -23px;
		right: 8%;
	}
	.mapa-cartagena {
		top: 212px;
		left: -6%;
	}
	.mapa-medellin {
		top: 445px;
		left: -6%;
	}
	.mapa-bgacucuta {
		top: 179px;
		right: 3%;
	}
	.mapa-bogota {
		top: 497px;
		right: -8%;
	}
	.mapa-buenaventura {
		top: 770px;
		left: -6%;
	}
	.mapa-cali {		
		top: 925px;
		left: 12%;
	}
	.mapa-pereira {
		top: 795px;
		right: -2%;
	}
	
	.mapa-barranquilla h3::after{
		width: 108px;
	}
	.mapa-monteria h3::after{
		width: 108px;
	}
	.mapa-cartagena h3::after{
		width: 108px;
	}
	.mapa-bgacucuta h3::after{
		width: 108px;
	}
	.mapa-medellin h3::after{
		width: 108px;
	}
	.mapa-bogota h3::after{
		width: 108px;
	}
	.mapa-buenaventura h3::after{
		width: 108px;
	}
	.mapa-cali h3::after{
		width: 108px;
	}
	.mapa-pereira h3::after{
		width: 108px;
	}
	
	
	
}


