@charset "utf-8";
/* CSS Document */


/* NOTICIAS */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 10px;
}
.noticias-section{
	padding-bottom: 90px;
	padding-top: 90px;
	position: relative;
}
.noticias-section-fluid{
	padding-left: 150px;
	padding-right: 150px;
}

.noticias-section-fig1 {
	background-image: url("../images/noticias/fig.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
    position: absolute;
	height: 1058px;
  	right: -1px;
	bottom: -1px;
	width: 265px;
}


.noticias-section-fig2{
	position: absolute;
	right: -1px;
	bottom: -1px;
}

.noticias-space {
    padding-bottom: 3%;
    border-bottom: 3px solid #8E8E8E;
    margin-top: 3%;
	position: relative;
}
.noticias-fecha {
    padding-left: 0;
}
.noticias-dia{
	background-color: #E6E7E8; 
	padding: 5%;
}
.noticias-dia h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 8rem;
	margin: 0;
	text-align: center;
}
.noticias-dia-border{
	 border-radius: 15px 15px 0 0;
}

.noticias-fecha-mt{
	margin-top: 3%
}
.noticias-mes {
    background-color: #E36A00;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 5%;
}
.noticias-mes p{
	color: #fff;
	font-family: 'Gordita-Bold';
	font-size: 2.5rem;
	margin: 0;
	text-align: center;
}
.noticias-des {
    padding: 2% 9% 0 3%;
}

.noticias-des h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 3.5rem;
	margin: 0 0 2%;
}

.noticias-desamp{
	padding: 2% 3%;
}
.noticias-desamp h2{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 3.5rem;
	margin: 0 0 2%;
}
.noticias-desamp p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.7rem;
	margin: 0 0 2%;
}


.noticias-btn{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.noticias-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 1.6rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.noticias-btn:hover{
	background-color: #fff;
}
.noticias-btn:hover .noticias-a{
	color: #E36A00;
}



.noticias-btn-leer{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	padding: 4px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
	margin-left: 3%;
}
.noticias-a-leer{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.noticias-btn-leer:hover{
	background-color: #fff;
}
.noticias-btn-leer:hover .noticias-a-leer{
	color: #E36A00;
}


.noticias-btn-volver{
	background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: block;
	margin-top: 15%;
	padding: 9px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	width: 100%;	
	text-align: center;
}
.noticias-a-volver{	
	color: #E36A00;
	font-family: 'Gordita-Black';
	font-size: 2.2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
}
.noticias-btn-volver:hover{
	background-color: #E36A00;
}
.noticias-btn-volver:hover .noticias-a-volver{
	color: #fff;
}



#sync1 .item{
    background-color:transparent;
    padding: 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
   background-color:transparent;
	 z-index:100;
    padding: 10px;	
    margin: 0px;
    color: rgba(255,255,255,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}


#sync2 .synced .item{
  background: rgba(255,255,255,.3);
   
}

.eti-primicia{
	position: absolute;
	left: 16px;
	top: 0;
}
.eti-grupo{
	position: absolute;
	right: 16px;
	top: 40px;
}

/*------ PAGINADOR ------*/

.paginador-ul{	
	list-style-type: none;	
	margin-top: 8%;
	padding-left: 0;
	text-align: center;
}

.paginador-ul li{
	background-color: #DDDDDD;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2.5rem;	
	padding: 6px 15px;	
}
.paginador-ul li.active{
	background-color: #6A2D12;
	color: #fff;
}
.paginador-ul li:hover{
	background-color: #6A2D12;
	color: #fff;
}
.paginador-ul li.arrow{
	background-color: #fff;color: #ddd;
}




/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 7px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer {
		font-size: 1.7rem;
		text-align: center;
	}
	.noticias-a-volver{
		font-size: 1.7rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	.noticias-btn-leer{
		margin-bottom: 5%;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	.noticias-btn-leer {
		margin-bottom: 5%;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	.eti-grupo {
		right: 15px;
		width: 25%;
	}
	.eti-primicia{
		width: 25%;
	}
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 2.5rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 60%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
		
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 40%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.noticias-section {
		padding-top: 50px;
	}
	
	.noticias-section-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}

	.title{
		letter-spacing: 11px;
	}
	
	
	.noticias-fecha {
		padding-right: 0;
	}
	.noticias-dia h2{
		font-size: 5rem;
	}
	.noticias-mes{
		padding: 3%;
	}
	.noticias-mes p{
		font-size: 2rem;		
	}
	.noticias-des {
		padding: 2% 3%;
	}
	.noticias-des h2 {
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-space {
		padding-bottom: 8%;
		margin-top: 8%;
	}
	.noticias-section-fig1 {
		display: none;
	}
	.noticias-desamp h2{
		font-size: 3rem;
		margin: 7% 0 9%;
	}
	.noticias-desamp p{
		font-size: 1.6rem;
	}
	.noticias-a-leer{
		font-size: 1.8rem;
	}
	.noticias-a-volver{
		font-size: 1.8rem;
	}
	.noticias-btn-volver{
		margin: 6% auto;
		padding: 6px 12px;
		width: 40%;
	}
	
	.paginador-ul li{
		font-size: 2rem;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.noticias-section-fig1{
		display: none;
	}
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	.noticias-desamp p{
		font-size: 1.5rem;
	}
	.noticias-mes p{
		font-size: 2.2rem;
	}
	.noticias-dia h2{
		font-size: 7rem;
	}
	.noticias-section-fig2 {		
		width: 7%;
	}
	.noticias-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.noticias-a-volver{
		font-size: 2rem;			
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.noticias-section-fig1{
		width: 100px;
	}
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	.noticias-desamp p{
		font-size: 1.5rem;
	}
	.noticias-mes p{
		font-size: 2.2rem;
	}
	.noticias-dia h2{
		font-size: 7rem;
	}
	.noticias-section-fig2 {		
		width: 7%;
	}
	.noticias-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.noticias-a-volver{
		font-size: 2rem;			
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.noticias-section-fig1{
		width: 130px;
	}
	
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	.noticias-desamp p{
		font-size: 1.5rem;
	}
	.noticias-mes p{
		font-size: 2.2rem;
	}
	.noticias-dia h2{
		font-size: 7rem;
	}
	.noticias-section-fig2 {		
		width: 10%;
	}
	.noticias-btn-volver{
		font-size: 2rem;	
		padding: 6px 12px;		
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.noticias-a-volver{
		font-size: 2rem;			
	}
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.noticias-section-fig1{
		width: 140px;
	}
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.noticias-desamp h2{
		font-size: 3rem;
	}
	.noticias-des h2 {
		font-size: 3rem;
	}
	
	
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.noticias-desamp h2{
		font-size: 3.2rem;
	}
	.noticias-des h2 {
		font-size: 3.2rem;
	}
	
	
	
}
