@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.recursos-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/


.recursos-section{	
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
}
.recursos-fig{
	background-image: url(../images/recursos/fig.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	top: -1px;
	height: 1195px;
	width: 210px;
	z-index: 9;
}
.recursos-fluid {
    padding-left: 220px;
    padding-right: 220px;
}

.recursos-bg1{
	background-color: #E6E7E8;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.recursos-bg2{
	background-color: #fff;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.recursos-img{}
.recursos-info{
	position: relative;
}
.recursos-info:after {
    background-color: #6A2D12;
    border-radius: 100%;
    content: "";
    right: -39.5%;
    top: 52%;
    width: 29px;
    height: 29px;
    position: absolute;
}
.recursos-info p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 2.7rem;
	line-height: 110%;
	position: relative;
}
.recursos-info p:after {
    background-color: #E36B26;
    content: "";
    left: 0;
    top: -18px;
    width: 13%;
    height: 5px;
    position: absolute;
}
.recursos-info-pd1 {
    padding: 5% 2% 0 2%;
}
.recursos-info-pd2 {
    padding: 5% 2% 0 2%;
}
.recursos-info-pd3 {
    padding: 5% 2% 0 2%;
}

.recursos-border-bt{
	position: relative;
}
.recursos-border-bt:after{
    background-color: #6A2D12;
    content: "";
    right: 18.2%;
    bottom: 0%;
    width: 4px;
    height: 54%;
    position: absolute;
}
.recursos-border-top{
	position: relative;
}
.recursos-border-top:before{
    background-color: #6A2D12;
    content: "";
    right: 18.2%;
    top: 0%;
    width: 4px;
    height: 52%;
    position: absolute;
}

/*------ RESPONSIVE  -----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	
	.recursos-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.recursos-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.recursos-info p{
		font-size: 1.7rem;
	}
	.recursos-info::after {
		display: none;
	}
	.recursos-fig {
		display: none;
	}
	.recursos-border-bt::after{
		display: none;
	}
	
	.recursos-border-top::before{
		display: none;
	}
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	
	.recursos-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.recursos-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.recursos-info p{
		font-size: 1.7rem;
	}
	.recursos-info::after {
		display: none;
	}
	.recursos-fig {
		display: none;
	}
	.recursos-border-bt::after{
		display: none;
	}
	
	.recursos-border-top::before{
		display: none;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	
	.recursos-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.recursos-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.recursos-info p{
		font-size: 1.7rem;
	}
	.recursos-info::after {
		display: none;
	}
	.recursos-fig {
		display: none;
	}
	.recursos-border-bt::after{
		display: none;
	}
	
	.recursos-border-top::before{
		display: none;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	
	.recursos-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.recursos-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.recursos-info p{
		font-size: 1.7rem;
	}
	.recursos-info::after {
		display: none;
	}
	.recursos-fig {
		display: none;
	}
	.recursos-border-bt::after{
		display: none;
	}
	
	.recursos-border-top::before{
		display: none;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.recursos-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.recursos-info p{
		font-size: 1.7rem;
	}
	.recursos-info::after {
		display: none;
	}
	.recursos-fig {
		display: none;
	}
	.recursos-border-bt::after{
		display: none;
	}
	
	.recursos-border-top::before{
		display: none;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.recursos-fluid {
		padding-left: 120px;
		padding-right: 120px;
	}
	.recursos-info p{
		font-size: 1.7rem;
	}
	.recursos-info::after {
		right: -40%;
		top: 62%;
	}
	.recursos-fig {
		height: 865px;
		width: 135px;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.recursos-info p{
		font-size: 1.7rem;
	}
	.recursos-info::after {
		right: -55.5%;
		top: 62%;
	}
	.recursos-fig{
		height: 1027px;
		width: 175px;
	}
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	
	.recursos-info::after{
		right: -52.5%;
		top: 55%;
	}
	.recursos-info p{
		font-size: 2rem;
	}
	.recursos-fig{
		height: 1027px;
		width: 175px;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.recursos-info::after{
		right: -50%;
	}
	.recursos-info p{
		font-size: 2.3rem;	
	}
	.recursos-border-top::before{
		right: 18.2%;
		height: 50%;
	}
	
	.recursos-fig{
		width: 180px;
	}
	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.recursos-info::after{
		right: -45%;
	}
	.recursos-info p{
		font-size: 2.5rem;	
	}
	.recursos-border-top::before{
		right: 18.2%;
	}
	
	.recursos-fig{
		width: 180px;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.recursos-info::after{
		right: -43%;
	}
	.recursos-info p{
		font-size: 2.5rem;	
	}
	.recursos-border-top::before{
		right: 18.2%;
	}
	
	.recursos-fig{
		width: 185px;
	}
	
}

