@charset "utf-8";
/* CSS Document */

.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.seguridad-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}


/**/

.seguridad-section{	
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
}
.seguridad-fig{
	background-image: url(../images/recursos/fig.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	top: -1px;
	height: 1195px;
	width: 210px;
	z-index: 9;
}
.seguridad-fluid {
    padding-left: 220px;
    padding-right: 220px;
}

.seguridad-bg1{
	background-color: #E6E7E8;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}
.seguridad-bg2{
	background-color: #fff;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.seguridad-img{}
.seguridad-info{
	position: relative;
}
.seguridad-info:after {
    background-color: #6A2D12;
    border-radius: 100%;
    content: "";
    right: -39.5%;
    top: 52%;
    width: 29px;
    height: 29px;
    position: absolute;
}
.seguridad-info p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 2.5rem;
	line-height: 110%;
	position: relative;
}
.seguridad-info p:after {
    background-color: #E36B26;
    content: "";
    left: 0;
    top: -18px;
    width: 13%;
    height: 5px;
    position: absolute;
}
.seguridad-info-pd1 {
    padding: 3% 2% 0 2%;
}
.seguridad-info-pd2 {
    padding: 5% 2% 0 2%;
}

.seguridad-border-bt{
	position: relative;
}
.seguridad-border-bt:after{
    background-color: #6A2D12;
    content: "";
    right: 18.2%;
    bottom: 0%;
    width: 4px;
    height: 50%;
    position: absolute;
}
.seguridad-border-top{
	position: relative;
}
.seguridad-border-top:before{
    background-color: #6A2D12;
    content: "";
    right: 18.2%;
    top: 0%;
    width: 4px;
    height: 23%;
    position: absolute;
}

.seguridad-nota {
    padding-top: 40px;
    padding-bottom: 50px;
}
.seguridad-nota h3{
    border-bottom: 5px solid #B73624;
    color: #000;
    font-family: 'Gordita-Bold';
    font-size: 2.5rem;
    font-style: italic;
    line-height: 110%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}
.seguridad-nota p{
	color: #000;
	font-family: 'Gordita-Bold';
	font-size: 1.8rem;
	line-height: 110%;
}



/*------ RESPONSIVE  -----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	
	.seguridad-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.seguridad-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.seguridad-info p{
		font-size: 1.7rem;
	}
	.seguridad-info::after {
		display: none;
	}
	.seguridad-fig {
		display: none;
	}
	.seguridad-border-bt::after{
		display: none;
	}
	
	.seguridad-border-top::before{
		display: none;
	}
	
	
}

@media screen and (min-width:480px) and (max-width:599px){
	
	
	.seguridad-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.seguridad-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.seguridad-info p{
		font-size: 1.7rem;
	}
	.seguridad-info::after {
		display: none;
	}
	.seguridad-fig {
		display: none;
	}
	.seguridad-border-bt::after{
		display: none;
	}
	
	.seguridad-border-top::before{
		display: none;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	
	.seguridad-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.seguridad-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.seguridad-info p{
		font-size: 1.7rem;
	}
	.seguridad-info::after {
		display: none;
	}
	.seguridad-fig {
		display: none;
	}
	.seguridad-border-bt::after{
		display: none;
	}
	
	.seguridad-border-top::before{
		display: none;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	
	.seguridad-title {
		padding-left: 4%;
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.title{
		letter-spacing: 7px;
	}
	.seguridad-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.seguridad-info p{
		font-size: 1.7rem;
	}
	.seguridad-info::after {
		display: none;
	}
	.seguridad-fig {
		display: none;
	}
	.seguridad-border-bt::after{
		display: none;
	}
	
	.seguridad-border-top::before{
		display: none;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.seguridad-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
	.seguridad-info p{
		font-size: 1.7rem;
	}
	.seguridad-info::after {
		display: none;
	}
	.seguridad-fig {
		display: none;
	}
	.seguridad-border-bt::after{
		display: none;
	}
	
	.seguridad-border-top::before{
		display: none;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.seguridad-fluid {
		padding-left: 120px;
		padding-right: 120px;
	}
	.seguridad-info p{
		font-size: 1.7rem;
	}
	.seguridad-info::after {
		right: -40%;
		top: 62%;
	}
	.seguridad-fig {
		height: 865px;
		width: 135px;
	}
	
	.seguridad-border-top:before{
		top: -1%;
	}
	.seguridad-border-bt:after{
		bottom: -2%;
		height: 43%;
	}
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.seguridad-info p{
		font-size: 1.7rem;
	}
	.seguridad-info::after {
		right: -55.5%;
		top: 62%;
	}
	.seguridad-fig{
		height: 1027px;
		width: 175px;
	}
	
	.seguridad-border-top:before{
		top: -1%;
	}
	.seguridad-border-bt:after{
		bottom: -2%;
	}
	
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	
	.seguridad-info::after{
		right: -52.5%;
		top: 52%;
	}
	.seguridad-info p{
		font-size: 2rem;
	}
	.seguridad-fig{
		height: 1027px;
		width: 150px;
	}
	.seguridad-border-top:before{
		top: -1%;
	}
	.seguridad-border-bt:after{
		bottom: -2%;
	}
	
	
}

@media screen and (min-width:1440px) and (max-width:1599px){
	
	.seguridad-info p{
		font-size: 2.1rem;	
	}
	.seguridad-fig{
		width: 150px;
	}
	.seguridad-info::after{
		right: -49.5%;
	}
	.seguridad-border-bt::after{
		height: 45%;
	}
	.seguridad-border-top::before {		
		height: 20%;
	}

	
}

@media screen and (min-width:1600px) and (max-width:1679px){
	
	.seguridad-info p{
		font-size: 2.3rem;	
	}
	.seguridad-fig{
		width: 160px;
	}
	.seguridad-info::after{
		right: -45%;
	}
	.seguridad-border-bt::after{
		height: 48%;
	}
	
}

@media screen and (min-width:1680px) and (max-width:1919px){
	
	.seguridad-info p{
		font-size: 2.3rem;	
	}
	.seguridad-fig{
		width: 185px;
	}
	.seguridad-info::after{
		right: -43%;
	}
	
}


