
.nav-horizontal-portal {
	font-family: 'Gordita-BlackItalic';
    font-size: 3.5rem;
   /* width: 40%;*/
    text-align: left;
}
.nav-horizontal-portal:after {
    background-color: #E36A00;
    content: "";
    height: 3px;
    width: 63px;
    left: 3%;
    top: 0;
    position: absolute;
}
.nav-horizontal-accionistas > 
.nav-horizontal-portal > a {
    padding-top: 10px;
    padding-bottom: 40px;
}
.nav-horizontal-portal:hover:after,
.nav-horizontal-portal:focus:after{
    background-color: #E36A00;
    content: "";
    height: 3px !important;
    width: 63px !important;
    left: 3% !important;
    top: 0 !important;
    position: absolute;
}


.title{
	color: #000;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	letter-spacing: 15px;
}

.contacto-title{
	padding-left: 11%;
	padding-bottom: 30px;
	padding-top: 50px;
}

.banner-terceros {
    padding-top: 30px;
}
.banner-terceros-fluid{
	padding: 0
}
.banner-terceros-img-desktop{}
.banner-terceros-img-movil{
	display: none
}
/**/


.contacto-section{
	background-color: #fff;
	padding-bottom: 100px;
	padding-top: 40px;
	position: relative;
}
.contacto-fig{
	position: absolute;
	right: 0;
	bottom: 0px;
}

.contacto-info {
    padding-left: 8%;
    padding-right: 4%;
}
.contacto-form {
   
}

.contacto-h2 {
    color: #000;
   font-family: 'Gordita-BlackItalic';
    font-size: 6rem;    
    margin-bottom: 4%;
    margin-top: 7%;
	padding-bottom: 10%;
	position: relative;
	text-align: right;
}
.contacto-h2:after{
	background-color: #E36A00;
	content: "";
	bottom: 0;
	right: 0;
	height: 4px;
	width: 70%;
	position: absolute;
}
.contacto-h3 {
    color: #000;
    font-family: 'Gordita-Black';
    font-size: 5rem;
    text-align: right;
    margin-bottom: 4%;
    padding-top: 7%;
	position: relative;
}
.contacto-h3:after{
	background-color: #E36A00;
	content: "";
	top: 0;
	right: 0;
	height: 4px;
	width: 70%;
	position: absolute;
}

.form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
	font-family: 'Gordita-Medium';
    font-size: 18px;
    line-height: 1.42857143;
    color: #787376;
    background-color: #fff;
    background-image: none;
    border: 3px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.colorplace::-webkit-input-placeholder {
color: #787376;
}  
.colorplace:-moz-placeholder {
/* Firefox 18- */ color: #787376;
}  
.colorplace::-moz-placeholder { 
/* Firefox 19+ */ color: #787376;
}  
.colorplace:-ms-input-placeholder { 
color: #787376; 
}



.contacto-btn{
	background: rgba(223,107,39,1);
background: -moz-linear-gradient(left, rgba(223,107,39,1) 0%, rgba(223,107,39,1) 0%, rgba(162,73,35,1) 31%, rgba(105,42,11,1) 88%, rgba(105,42,11,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(223,107,39,1)), color-stop(0%, rgba(223,107,39,1)), color-stop(31%, rgba(162,73,35,1)), color-stop(88%, rgba(105,42,11,1)), color-stop(100%, rgba(105,42,11,1)));
background: -webkit-linear-gradient(left, rgba(223,107,39,1) 0%, rgba(223,107,39,1) 0%, rgba(162,73,35,1) 31%, rgba(105,42,11,1) 88%, rgba(105,42,11,1) 100%);
background: -o-linear-gradient(left, rgba(223,107,39,1) 0%, rgba(223,107,39,1) 0%, rgba(162,73,35,1) 31%, rgba(105,42,11,1) 88%, rgba(105,42,11,1) 100%);
background: -ms-linear-gradient(left, rgba(223,107,39,1) 0%, rgba(223,107,39,1) 0%, rgba(162,73,35,1) 31%, rgba(105,42,11,1) 88%, rgba(105,42,11,1) 100%);
background: linear-gradient(to right, rgba(223,107,39,1) 0%, rgba(223,107,39,1) 0%, rgba(162,73,35,1) 31%, rgba(105,42,11,1) 88%, rgba(105,42,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6b27', endColorstr='#692a0b', GradientType=1 );
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 11px 27px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	float: right;
}
.contacto-a{	
	color: #fff;
	display: inline-block;
	font-family: 'Gordita-Black';
	font-size: 2rem;
	text-align: left;	
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
}
.contacto-a:hover{
	color: #fff;
}




.contacto-btn-volver{
	background-color: #fff;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	margin-top: 8%;
	padding: 9px 18px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	width: au;	
	text-align: center;
	float: right;
}
.contacto-a-volver{	
	color: #E36A00;
	font-family: 'Gordita-Black';
	font-size: 2.2rem;
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
	display: inherit;
}
.contacto-btn-volver:hover{
	background-color: #E36A00;
}
.contacto-btn-volver:hover .contacto-a-volver{
	color: #fff;
}



/*----- select -----*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
.bootstrap-select > .dropdown-toggle{
    color: #787376;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 0px;
    font-family: 'Gordita-Medium';
    font-size: 18px;
    height: 47px;
    padding: 6px 14px;
	width: 100%;
	z-index: 1;
}


.inputhide{
	display: none;
}
.inputhide2{
	display: none;
}   
.inputhide3{
	display: none;
}

.terceros-title-section{
	
}
.terceros-title-fluid{
	padding-left: 160px;
	padding-right: 160px;
}
.terceros-title-info{}
.terceros-title-info-p{
	color: #000;
	font-family: 'Gordita-Regular';
	font-size: 1.5rem;
	text-align: left;	
}
.terceros-title-info-p span{
	font-family: 'Gordita-Bold';
}
.terceros-title-img{}

.terceros-form-p{
	color: #000;
	font-family: 'Gordita-Medium';
	font-size: 20px;
}

.terceros-clic{
	background-color: #E36A00;
    border: 2px solid #E36A00;
    border-radius: 7px;
	display: inline-block;
	margin-top: 2%;
	padding: 5px 12px;
	transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(-10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	width: auto;	
	text-align: center;
	float: right;
}
.terceros-a{	
	color: #fff;
	font-family: 'Gordita-Black';
	font-size: 1.5rem;
	transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(10deg,0) translate(0,0); 
	transform-origin: 50% 50%; 
	text-align: center;
	display: inherit;
}
.terceros-clic:hover{
	background-color: #fff;
}
.terceros-clic:hover .terceros-a{
	color: #E36A00;
}

.terceros-portal{
	display: none;
	padding-top: 40px;
}
.terceros-portal-h2 {
    color: #000;
    font-family: 'Gordita-BlackItalic';
    font-size: 2.5rem;
    position: relative;
    padding-top: 3%;
}
.terceros-portal-h2:after {
    background-color: #E36A00;
    content: "";
    height: 3px;
    width: 63px;
    left: 1%;
    top: 0;
    position: absolute;
}

.label-servicios{
	color: #787376;
    font-family: 'Gordita-Medium';
    font-size: 18px;
}
/*------RESPONSIVE----*/

@media screen and (min-width:280px) and (max-width:479px){
	
	.banner-terceros-img-desktop{
		display: none;
	}
	.banner-terceros-img-movil{
		display: block;
	}
	.contacto-title {
		padding-left: 0;		
	}
	.terceros-title-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.title {		
		letter-spacing: 5px;
	}
	
	.contacto-section {		
		padding-top: 0;
	}
	.contacto-fig{
		display: none;
	}
	
	.contacto-info {
		padding-left: 7%;
		padding-right: 9%;
	}
	.contacto-h3{
		font-size: 3rem;
	}
	.contacto-btn-volver{
		padding: 7px 18px;
		margin: 5% 0 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.terceros-portal{
		display: block;
	}
	
}

@media screen and (min-width:480px) and (max-width:599px){
	.banner-terceros-img-desktop{
		display: none;
	}
	.banner-terceros-img-movil{
		display: block;
	}
	.contacto-title {
		padding-left: 0;		
	}
	.terceros-title-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.title {		
		letter-spacing: 5px;
	}
	
	.contacto-section {		
		padding-top: 0;
	}
	.contacto-fig{
		display: none;
	}
	
	.contacto-info {
		padding-left: 7%;
		padding-right: 9%;
	}
	.contacto-h3{
		font-size: 3rem;
	}
	.contacto-btn-volver{
		padding: 7px 18px;
		margin: 5% 0 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.terceros-portal{
		display: block;
	}
	
	
}

@media screen and (min-width:600px) and (max-width:767px){
	
	.banner-terceros-img-desktop{
		display: none;
	}
	.banner-terceros-img-movil{
		display: block;
	}
	.contacto-title {
		padding-left: 0;		
	}
	.terceros-title-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	.title {		
		letter-spacing: 5px;
	}
	
	.contacto-section {		
		padding-top: 0;
	}
	.contacto-fig{
		display: none;
	}
	
	.contacto-info {
		padding-left: 7%;
		padding-right: 9%;
	}
	.contacto-h3{
		font-size:4rem;
	}
	.contacto-btn-volver{
		padding: 7px 18px;
		margin: 5% 0 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.terceros-portal{
		display: block;
	}
	
}

@media screen and (min-width:768px) and (max-width:799px){
	
	.banner-terceros-img-desktop{
		display: none;
	}
	.banner-terceros-img-movil{
		display: block;
	}
	.contacto-title {
		padding-left: 0;		
	}
	.terceros-title-fluid {
		padding-left: 50px;
		padding-right: 50px;
	}
	.title {		
		letter-spacing: 5px;
	}
	
	.contacto-section {		
		padding-top: 0;
	}
	.contacto-fig{
		display: none;
	}
	
	.contacto-info {
		padding-left: 7%;
		padding-right: 9%;
	}
	.contacto-h3{
		font-size: 4rem;
	}
	.contacto-btn-volver{
		padding: 7px 18px;
		margin: 5% 0 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	.terceros-portal{
		display: block;
	}
	
}

@media screen and (min-width:800px) and (max-width:1023px){
	
	.banner-terceros-img-desktop{
		display: none;
	}
	.banner-terceros-img-movil{
		display: block;
	}
	
	.terceros-title-fluid {
		padding-left: 50px;
		padding-right: 50px;
	}
	.title {		
		letter-spacing: 5px;
	}
	
	.contacto-section {		
		padding-top: 0;
	}
	.contacto-fig{
		display: none;
	}
	
	.contacto-info {
		padding-left: 7%;
		padding-right: 9%;
	}
	.contacto-h3{
		font-size: 4rem;
	}
	.contacto-btn-volver{
		padding: 7px 18px;
		margin: 5% 0 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	
	.terceros-portal{
		display: block;
	}
	
	
}

@media screen and (min-width:1024px) and (max-width:1279px){
	
	.terceros-title-fluid {
		padding-left: 50px;
		padding-right: 50px;
	}
	.title {		
		letter-spacing: 5px;
	}
	
	.contacto-section {		
		padding-top: 0;
	}
	.contacto-fig{
		display: none;
	}
	
	.contacto-info {
		padding-left: 7%;
		padding-right: 9%;
	}
	.contacto-h3{
		font-size: 4.5rem;
	}
	.contacto-btn-volver{
		padding: 7px 18px;
		margin: 5% 0 10%;
	}
	.contacto-a-volver{
		font-size: 1.8rem;
	}
	.contacto-btn{
		padding: 7px 18px;
	}
	.contacto-a{
		font-size: 1.8rem;
	}
	
	
}

@media screen and (min-width:1280px) and (max-width:1359px){
	
	.contacto-h3{
		font-size: 4.5rem;
	}
	
}

@media screen and (min-width:1360px) and (max-width:1439px){
	
	.contacto-h3{
		font-size: 5rem;
	}
	
}

@media screen and (min-width:1440px) and (max-width:1599px){}

@media screen and (min-width:1600px) and (max-width:1679px){}

@media screen and (min-width:1680px) and (max-width:1919px){}
